[2016-01-15 09:27] mxstbr opened #1 "Can't wait"
:wink:

[2016-01-15 11:46] mxstbr commented on #1
Finally!

[2016-01-15 11:46] #1 closed

[2016-01-16 11:26] sapegin opened #2 "Make linters optional"
1. Remove linter packages from `dependencies`.
2. Check in Shell scripts that particular linter is installed, show installation instructions otherwise.

[2016-04-06 17:30] #2 closed

[2016-04-15 15:25] okonet opened #5 "Allow glob exclusions"
Some projects commit build (dist) files to the repository. Usually, the syntax of these generated files is out of the scope of linters. But ATM all files that matches the glob pattern will run against linters.

Ideally we want `*-staged` tasks to be configured the same way as normal linter tasks.

But this might require a major rewrite and switch to the Node from CLI.

[2016-04-18 15:27] okonet opened #6 "Support npm 2.x"
Using npm 2.x `lint-staged` installs `staged-files` binary at `./node_modules/lint-staged/node_modules/.bin` making all scripts break. We should use some kind of resolving to find the proper path to the `staged-files` binary.

[2016-04-21 17:22] efedorenko opened #7 "Provide a way to specify `--syntax` flag for stylelint"
`stylelint-staged` detects syntax (i.e. SCSS) of committed files incorrectly — it throws errors that don't appear when `stylelint` is run normally. I'd guess that this is related to a new way that Stylelint requires syntax to be specified — it used to be defined in index.js, but now it is provided as param `stylelint --syntax scss`.

[2016-04-21 17:26] derekrushforth commented on #7
Does this seem related to the issue I was having yesterday?

[2016-04-21 17:33] efedorenko commented on #7
Here is how syntax should be defined: https://github.com/stylelint/stylelint/blob/6b7fb87b67b964a8edf9c625aefbad9bfa2185c4/docs/user-guide/css-processors.md#parsing-non-standard-syntax

`stylelint-staged` does not specify `--syntax` when running `stylelint` in Shell script.

@derekrushforth yes, I think so.

[2016-04-21 17:51] okonet commented on #7
The thing is, this styling-staged doesn't detects syntax at all. I need to find a way to provide it somehow.

[2016-04-21 18:00] okonet opened #8 "Switch from CLI to Node versions of libraries"
It seems like using the shell (CLI) versions has too many issues: #5 #6 #7

The only way to resolve all of them would be going away from CLI and using Node API of libraries. This would allow more flexible configs. It should also fix issues with npm 2.x paths.

[2016-05-26 14:01] mxstbr opened #12 "Commiting deleted files breaks lint-staged"
If I delete a file, and then I try to commit the deletion. The linter throws an error in the pre-commit hook, because it tries to lint the deleted file that doesn't exists anymore.

[code]

From: https://github.com/mxstbr/react-boilerplate/issues/397

[2016-05-26 14:04] okonet commented on #12
Thanks @mxstbr. I'm already started working on #8 in a 1.0 branch. Hopefully, this one should be also resolved when I'm done.

[2016-05-27 10:06] FezVrasta commented on #12
Is there any ETA? It's a critical bug that prevent us from linting files on pre-commit...

[2016-05-27 10:21] okonet commented on #12
I'm working on an experimental branch that should help solving this. Can't give any ETA yet.

[2016-06-07 10:33] #5 closed

[2016-06-07 10:33] #6 closed

[2016-06-07 10:33] #7 closed

[2016-06-07 10:33] #8 closed

[2016-06-07 10:33] #12 closed

[2016-06-08 12:16] okonet opened #16 "Option to add files to the commit after running the script"
This should allow `eslint --fix` or more complex scenarios like  using of https://github.com/JamieMason/ImageOptim-CLI

[2016-06-08 12:22] okonet opened #17 "Run local scripts from package.json before trying a bin lookup"
Having `eslint` installed and the following config in the `package.json`

[code]

will run `eslint` without `--fix` parameter since it tries a bin lookup before trying to execute the local script. Local npm script should be the default behavior with a fallback to the bin lookup.

[2016-06-08 12:28] okonet opened #18 "Support piping"
Some packages implement stdin/out piping. For example `$path | imageoptim` should also be possible.

[2016-06-27 15:29] alallier opened #20 "Lint staged array calling pre-configured scripts"
Is it possible to do this (simply just run lint-staged on a script already pre-configured in the scripts section?)

[code]

[2016-06-27 15:55] okonet commented on #20
Yes, although because of #17 it won't work in this case. It will after it is fixed.

Important note: you shouldn't pass path to these scripts.

Also, you don't need to specify path to your bins. See https://docs.npmjs.com/cli/run-script

So, to sum it up. In this case your config could look like this:

[code]

[2016-06-29 13:02] Voidsheep opened #21 "Spaces in Windows Git executable path causing errors"
I'm likely barking up the wrong tree here, but I have to use a Windows 7 virtual machine to develop a project and I ran into a path issue while trying to use lint-staged.

[code]

It seems the path to the Git executable isn't quoted properly, so the space inside is causing an issue. I'd imagine this is very likely to happen on most Windows systems, due to the default installation path containing a

[2016-06-29 13:24] okonet commented on #21
Can you check if this https://github.com/okonet/lint-staged/pull/19 is fixing it? It's in master, so just install from GitHub and try it out please. If confirmed, I'm ready to cut a version ASAP.

[2016-06-29 13:41] Voidsheep commented on #21
Tried it, I can confirm the version in the master branch works and doesn't have this problem.

Thanks :+1:

[2016-06-29 13:48] okonet commented on #21
Cool! I'll cut the release as soon as I get a decent connection. Thanks!

[2016-06-30 09:55] okonet commented on #21
1.0.2 is released!

[2016-06-30 09:55] #21 closed

[2016-06-30 09:56] #20 closed

[2016-07-01 10:14] okonet opened #22 "Support sequences of commands"
Sometimes it's required to run a set of commands on same file. Consider this example:

[code]

This will run `postcss-sorting` and `stylelint-staged` in parallel. But what we want is to sort rules and then lint it — i.e. sequential run.

Together with #16 it should allow interesting workflows with almost zero configuration.

[2016-07-04 20:42] #17 closed

[2016-07-07 13:59] #22 closed

[2016-07-07 14:32] okonet commented on #16
- [+] Implmented in #25.
- [ ] Documentation

[2016-07-07 14:32] #16 closed

[2016-07-08 10:28] okonet opened #26 "When a task in a sequence of tasks fails, it should fail the hook"
Following config will pass the check and commit even if eslint task fails:

[code]

It should stop after the first non-zero exit code apparently.

[2016-07-08 12:39] #26 closed

[2016-07-11 17:11] okonet opened #28 "When running with just 1 linter, it throws"
[code]

[2016-07-11 17:12] #28 closed

[2016-07-20 07:47] Tom910 opened #30 "2.0.2 version in Windows causing errors"
I updated to version 2 and is now on all Windows computers error. In this case all is well on the mac.

[code]

[code]

npm 3.6.0/3.9.3, node 5.6.0/6.2.1

[2016-07-22 09:31] okonet commented on #30
Hey! Sorry I don't have windows to test it. I'm happy to accept a PR that fixes it though.

[2016-07-22 09:32] okonet opened #31 "Try listr"
Try https://github.com/SamVerschueren/listr to manage flow

[2016-07-22 10:31] Tom910 commented on #30
Ok, on the weekend I try to understand what the problem is

[2016-07-22 13:07] okonet commented on #30
@Tom910 can you try this branch out and let me know if it fixes the issue?

https://github.com/okonet/lint-staged/pull/32

Thanks!

[2016-07-23 22:38] Tom910 commented on #30
I checked it, this error was due child_process library. For Windows calls the wrong way in runScript.js file in 21 line. Read more details here https://github.com/nodejs/node-v0.x-archive/issues/2318. There are 2 ways to solve the problem: to write a crutch for Windows or to use cross-spawn library.

[2016-07-23 22:53] Tom910 commented on #30
@okonet Yes, to issue #32, this error has been corrected

Thank you!

[2016-08-02 09:38] #30 closed

[2016-08-04 07:01] belgac opened #40 "Command Prompt Error 'C:\Program' is not recognized as an internal or external command, operable program or batch file"
Under windows we get the following error:
Command Prompt Error 'C:\Program' is not recognized as an internal or external command, operable program or batch file

We should add " around gitBin in the root command on line 12 of src/scripts

I'm making a pull request

[2016-08-04 07:04] #40 closed

[2016-08-04 07:04] belgac commented on #40
wasn't using the latest version

[2016-08-04 21:21] ai opened #41 "Work in subdirectory"
@okonet thanks for awesome project.

We already add it for ESLint but have some strange issues with Stylelint. Sorry, I don’t know where I should look more.

package.json:

[code]

When I add any `.sss` file to stage and run `lint-stage` I get:

[code]

But when I run same stylelint script manually — `npm run -s lint:css -- blocks/plan-viewport/plan-viewport.sss`, everything works fine :-/

[2016-08-04 21:27] ai commented on #41
Same with:

[code]

[2016-08-05 08:26] okonet commented on #41
@ai that's strange... from the error it looks like no files were passed to the stylelint.

Your config is correct. Not sure about `*.sss` file extension but I assume you're using a custom one.

Here is how I use it on one of my projects:

[code]

Can you create a repo where this error is reproducible?

[2016-08-05 08:27] okonet commented on #41
Also, can you try the `v3` just to make sure?

`npm install lint-staged@next`

[2016-08-07 19:38] ai commented on #41
I found problem! :) My `package.json` is not in git project root. We have Rails project and put all front stuff into `front/` dir:

[code]

I reproduce this issue in new project, just move `package.json

[2016-08-07 20:33] okonet commented on #41
Great! I'll take a look as I get back from vacation. I have an idea how this can be solved using `cwd` argument but not sure how it should be set, though.

[2016-08-12 08:09] sodper commented on #41
I'm experiencing the same issue. Is there a workaround to be applied while waiting for a fix?

[2016-08-12 22:08] okcoker opened #44 "Linting happening on unstaged files"
So things seem to work as I would expect in `1.0.1` but not in `2.0.3` or `@next`.

I have 2 changed `.scss` files. One contains a linting error, the other does not.

In `1.0.1` I am able to do the following with no issues.
[code]

It seems in v2+, the linter runs on staged and unstaged files as I get an error about the unstaged `error-file.scss`. Is this the intended behavior? I have no issues be

[2016-08-15 06:16] okonet commented on #44
It doesn't happen to me and it isn't how it should be. Can you put a repo with your files and your config so i can reproduce it on my own?

[2016-08-15 10:33] okcoker commented on #44
[Here ya go](https://github.com/okcoker/lint-staged-problem).

Add a new line to `nonerror.scss` or `nonerror.js` and try to commit them. Here's a screenshot of the problem too.

<img width="632" alt="screenshot 2016-08-15 06 32 57" src="https://cloud.githubusercontent.com/assets/1030830/17662234/30519316-62b2-11e6-8a4d-52c8c1584e22.png">

[2016-08-17 08:31] thasmo opened #45 "Linting throws npm error because linter returns with non-zero status"
When running `npm run lint-staged` npm throws an error because, I guess, the linter exits with a non-zero status:
[code]

`package.json` looks like this:
[code]

[2016-08-17 14:19] okonet commented on #44
Ok, I found the problem. In your config you have

[code]

including extensions. `lint-staged` is looking at the `package.json` for scripts with the names you specified in `lint-staged` section:

[code]

So in this case it will call `npm run stylelint` that will lint *all* your files that match the glob.

The most easy change would be to rename those tasks so they don't collide with real bin names.

[2016-08-17 21:04] okcoker commented on #44
Ah interesting. This works for me, thanks! Successfully upgraded.

[2016-08-17 21:04] #44 closed

[2016-08-23 13:31] ai commented on #41
I so want to promote, that Amplifr started to used `lint-staged` =^_^=

[2016-08-24 18:39] okonet commented on #45
When you run `npm run lint-staged`, you will get an npm error messages. But you should not if you running it in pre-commit hook (you will get pre-commit's ones).

[2016-08-24 19:13] okonet commented on #41
@ai I'm trying to repro this issue but without any luck for now. The thing is that `pre-commit` doesn't even install the hook from non-root directory. How did you manage to install it this way?

[2016-08-24 19:15] okonet commented on #41
@ai or @sodper can you guys put a repository with the reproducible structure on GH so I can take a look at it? Thanks!

[2016-08-24 19:18] ai commented on #41
@okonet I tested `lint-staged` by manually run `./node_modules/.bin/lint-staged` in project (in `front/` subdir). We could create a issue for `pre-commit` too.

[2016-08-24 19:21] ai commented on #41
I bumped `pre-commit` “subdir issue” https://github.com/observing/pre-commit/issues/27

[2016-08-29 13:50] ai commented on #41
@okonet there are many others git hooks library, not only `pre-commit`. So we don’t need to wait fix from `pre-commit`. For test you can run `lint-staged` CLI from terminal.

[2016-08-29 18:16] okonet commented on #41
@ai I took another look at it and was able to reproduce this behavior. Although I really doubting that adding such functionality is worth it. Since all operations on git are performed relatively to the `.git` folder location, I'm getting the list of staged files with the sub-dir in the path.

Updating the list of files is possible but can be error prone and might break Windows users (again).

I'd

[2016-08-29 19:50] ai commented on #41
@okonet our idea is to keep everything frontend-related to subdirectory.

I understand that you want a simple project. But right now your project is anyway very simple. But right now I can’t use it on my project and in other Evil Martians projects :(.

[2016-08-29 20:05] okonet commented on #41
@ai to be honest, I've tried this approach and failed many times exactly because of such issues. I realize Rails has lots of stuff in the root, but here we're talking about adding one `package.json` to the root.

[2016-08-29 20:06] okonet commented on #41
Again, I'd be glad to accept a PR that resolves that issue if you have a spare minute.

[2016-08-29 20:16] ai commented on #41
Sure, I will try to do PR. What ideas did you mentioned https://github.com/okonet/lint-staged/issues/41#issuecomment-243207559 (I will start from them)?

[2016-08-29 20:25] okonet commented on #41
One idea would be a parameter for `lint-staged` (`cwd`?) that will update file paths here: https://github.com/okonet/lint-staged/blob/master/src/index.js#L19

But this code isn't covered by tests ATM :(

[2016-09-06 09:55] k15a opened #47 "Accept commands in addition to NPM scripts"
Hey,

I was wondering why I have to add `git add` and `eslint --fix` to the npm scripts to use them with lint-staged.

For example my `package.json` has to be:

[code]

and I think it could be:

[code]

Is there any limitation, I am not aware of, so it can't be supported?

[2016-09-06 09:59] okonet commented on #47
Very good point, I was thinking about adding this into the future versions as well.

[2016-09-08 07:29] #45 closed

[2016-09-08 10:19] #47 closed

[2016-09-08 15:03] okonet commented on #31
Check out #32

[2016-09-08 15:03] #31 closed

[2016-09-08 21:26] k15a opened #49 "How to let 💩 slip into your code base"
Hey,

thank you for the great work on #47 👍
Today I found out that you can trick lint-staged if you add code to the staging area which doesn't meet the linting rules and then change the file again to meet the rules before committing.

For example if you have forbidden semicolons in your .eslintrc you can commit code with semicolons if you:

1. Stage the file with semicolons
2. Change the file and

[2016-09-08 21:31] okonet commented on #49
It looks like a lot of effort just to trick the linter and put semicolons into the repository ;)

This package exists not to prevent someone of doing bad things, but to help do good things.

[2016-09-08 21:31] #49 closed

[2016-09-09 02:10] ai opened #50 "Missed colors in linter"
2.x:

![1](http://i.imgur.com/FJZNIQe.png)

3.x:

![1](http://i.imgur.com/qwyVjFU.png)

I use Fedora, gnome-terminal, [zsh](https://github.com/ai/environment/blob/master/zshrc)

[2016-09-09 06:03] okonet commented on #50
That's a known issue.

[2016-09-09 18:52] okonet commented on #50
See https://github.com/SamVerschueren/listr/issues/23 for details.

[2016-09-10 00:04] ai commented on #50
So, what was a benefits of `listr` in 3.0 if it have this issue? :D

[2016-09-10 05:59] okonet commented on #50
Less code and cleaner output. I've also fixed a few issues in v3 but you
still can use 2.x if you want.

Sincerely yours

Andrey Okonetchnikov

@okonetchnikov
http://okonet.ru

On 10. September 2016 at 02:04:17, Andrey Sitnik (notifications@github.com)
wrote:

[2016-09-10 06:18] ai commented on #50
Hope, `listr` maintainer will fix it soon.

[2016-09-10 06:27] okonet commented on #50
https://github.com/SamVerschueren/listr/issues/23#issuecomment-246029193

[2016-09-20 09:00] okonet commented on #50
@ai after a discussion around https://github.com/SamVerschueren/listr/issues/23 I'll try to write a custom renderer that should fix the output.

For now, you can use `eslint` with `--colors` argument.

[2016-09-20 09:02] okonet opened #52 "Add presets for even simpler installation process"
ESLint presets are awesome and I think lint-staged should allow pre-configured presets as well.

In a nutshell, presets should be just plain objects that then should be added to an array during the init phase.

[2016-09-22 15:23] #50 closed

[2016-10-06 09:53] sedubois opened #62 "Add better support for partially staged files"
See https://github.com/mxstbr/react-boilerplate/issues/1064#issuecomment-251912084 for description

[2016-10-06 10:06] okonet commented on #62
Partial staging bugging me a lot but I don't know how to solve this. If you know how to solve that issue, you're welcome to re-open the issue and file a PR. Otherwise I'll close the issue as won't fix.

[2016-10-06 10:08] sedubois commented on #62
Sure 😊 I'm not familiar with the mechanism, so I don't have a solution to propose right now.

[2016-10-06 10:09] sedubois commented on #62
Why not simply temporarily doing `git stash`?

[2016-10-06 10:11] okonet commented on #62
Can you elaborate on ↑ since I'm not familiar with how it works.

[2016-10-06 14:07] okonet opened #63 "Run in parallel"
If we have several linters defined we could run them in parallel. That would increase linting speed. And since new version of https://github.com/SamVerschueren/listr supports that, we should do.

[2016-10-06 14:09] okonet commented on #63
https://github.com/SamVerschueren/listr#concurrent

[2016-10-06 19:34] okonet opened #64 "Support different config files"
https://github.com/davidtheclark/cosmiconfig allows configuring lint-staged using different syntax.

[2016-10-07 14:08] #41 closed

[2016-10-07 14:09] okonet commented on #41
@ai can you please try it out and let me know if it fixes it?

[2016-10-07 14:24] TheWolfNL commented on #41
@ai if pre-commit gives to much problems you should really try [Husky](https://github.com/typicode/husky) which takes care of your sub dir problem when it sets up the hooks and is easier in configuration.

[2016-10-07 14:54] okonet opened #66 "Output both stdout and stderr when catching an error"
Some packages like Jest are outputting to `stderr` and some are using `stdout`. I believe it's pretty safe to output both in the case of an error.

[2016-10-07 15:10] TheWolfNL commented on #41
@okonet i've also created a test project based on the structure @ai described
https://github.com/TheWolfNL/test-project-lint-staged

[2016-10-07 15:12] #66 closed

[2016-10-07 15:13] okonet opened #68 "Increase code coverage"
Add tests for index.js

[2016-10-07 15:14] TheWolfNL commented on #52
i'd also suggest adding the following
`var result = execa.shellSync('git rev-parse --show-toplevel');`
so the `result.stdout` can be configured as 'git-root'

[2016-10-07 15:25] okonet commented on #52
Not sure how is this related to this issue. Can you elaborate on it please?

[2016-10-07 15:37] TheWolfNL commented on #52
I misread thinking you meant something like an installer. then it would be handy so it automatically sets the git-root.

[2016-10-07 17:48] mikeerickson opened #70 "Doesnt seem to fire as expected"
I followed the steps in the associated blog post

I have things configured correctly (I believe) but when `lint-staged` script is executed, it does not report any errors. However, if I run `eslint` from CLI it correctly reports the errors.
[code]
I am firing the script manually to see what happens, it appears to do nothing (maybe thinking there are no *.js files) My eslint script runs across whole

[2016-10-07 18:05] okonet commented on #70
Looks like you're using config format of v1.x. Please refer to https://github.com/okonet/lint-staged/blob/master/README.md for the current setup instructions.

[2016-10-07 18:10] okonet opened #71 "Update Medium.com post with newer config format"

[2016-10-07 18:12] mikeerickson commented on #70
Bingo!  FWIW, I used this blog post as source of configuration.  It seems to have the "lint-staged" property reversed.

https://medium.com/@okonetchnikov/make-linting-great-again-f3890e1ad6b8#.br45oig4n

[2016-10-07 18:12] #70 closed

[2016-10-07 18:14] okonet commented on #70
Yes, see #71

[2016-10-07 18:25] mikeerickson commented on #70
@okonet I am now getting what I expect.  Is there a way to have it "fail" on warnings as well as errors.  I dont want any commits to get through unless it is totally clean (no warnings, no errors).

[2016-10-07 18:25] mikeerickson commented on #71
:-)

[2016-10-07 18:31] okonet commented on #70
Use `--max-warnings 1`. See http://eslint.org/docs/user-guide/command-line-interface#options

[2016-10-07 23:48] JustinJKlein commented on #12
Just dittoing my anticipation for a solution. And, wondering if this was merged into the master because if it did I am still running into an issue with it as well. Thanks for all the hardwork okonet!

[2016-10-08 06:02] okonet commented on #12
What version are you using? It was fixed and released 4 months ago.

[2016-10-10 16:40] okonet opened #73 "Issues with git workflow"
*This is valid for #75 and doesn't affect the published version!*

~~Not sure how to reproduce but seems like if there were some stashes before for this file it ends up with~~

If one of the linters update the file contents then when we execute `git stash pop` where will be merge conflict for this file. We should execute `git stash pop` after the commit. I've added a test case here: https://github

[2016-10-12 09:02] arrwhidev opened #74 "Code published to npm is not compatible with README"
Hi,

I installed the latest version from npm (3.0.3) but it wasn't working. I looked at the code in node_modules and it seems older than the code in the repo.

The README states that I can set the git root in the config 'git-root' but the code that pulls from npm does not support that, so it didn't work.

I manually copied the code from the repo into my node_modules and it works perfectly.

Could

[2016-10-12 09:24] okonet commented on #74
Thanks for the kind words!

I'm working now on v4.0 #69 that I hope will be released soon and this feature is a part of it.

If you want to beta-test it you can install the beta by `npm install lint-staged@next` but please be advised it has some issue still.

[2016-10-12 09:25] okonet commented on #74
And generally, the master's README isn't compatible with the npm version since it is where the development is happening. You should check out the README from the npm's package.

[2016-10-12 09:25] #74 closed

[2016-10-13 11:17] #63 closed

[2016-10-13 11:17] #64 closed

[2016-10-13 11:17] #68 closed

[2016-10-13 12:09] TheWolfNL opened #77 "Using .lintstagedrc file gives error"
I get the following error:
`TypeError: Cannot read property 'config' of null`

I've copied the "lint-staged" section into the `.lintstagedrc` file.
[code]

[2016-10-13 12:22] TheWolfNL commented on #77
Made a typo in the filename.. so nvm

[2016-10-13 12:22] #77 closed

[2016-10-17 12:03] ai opened #80 "Doesn’t work in subdir"
Preleased `lint-staged` works in subdirectory, but 3.1 doesn’t.

I tested, and got that `lint-staged` try to execute `eslint` with:

[code]

There are a two `front/front` in file path.

[2016-10-17 12:14] ai commented on #80
I find a problem. What do you think about this fix? #81

[2016-10-17 12:54] TheWolfNL commented on #80
Should be fixed with merge of #78 so we're waiting for release

[2016-10-17 13:54] okonet commented on #80
I've released 3.1.1. Please give it another try!

Note that CI fails because of some failing deps for now.

[2016-10-17 13:54] #80 closed

[2016-10-17 13:57] ai commented on #80
@okonet 3.1.1. works perfect, thanks :)

[2016-10-31 15:29] okonet opened #86 "Wait for all linters results before exiting the process"
Right now, then running linters in parallel (which is by default), if one of the linters will fail, the whole process will exit showing only error for the failing linter. At the same time, if we could display errors from all failing linters, this could improve the user experience drastically.

The [new `context` feature] (https://github.com/SamVerschueren/listr#context) in Listr can help with that

[2016-11-04 10:51] okonet opened #91 "Does not work with files with dot in the path"
Lint-staged is skipping files that contain dots in the path. For example:

`.storybook/config.js` will not be matched when using following config `{ "*js": "eslint" }`

[2016-11-04 11:39] #91 closed

[2016-11-14 12:38] davidhund opened #94 "Double lint errors, NPM errors"
First of all: thanks for the neat script 👍

In my current setup I could not get it to work because my package.json is *way* deep in the project. But: using [Husky](https://github.com/typicode/husky) and an insane `gitDir` works…

[code]

However: I noticed running (testing) `npm run lint-staged` outputs a lint error *twice*.

![screenshot 2016-11-14 13 32 46](https://cloud.githubusercontent.com/as

[2016-11-14 13:24] okonet commented on #94
Thanks for the kind words!

Your lint-staged config is incorrect though. Lint-staged is calling scripts you provide with the staged files as arguments. This is why you have glob patterns as a key in the config.

You've defined `"lint-staged:js": "eslint ./source/Javascript/modules/foo/",` with the path `./source/Javascript/modules/foo/` as argument. This means, no matter what files are staged, thi

[2016-11-14 13:59] davidhund commented on #94
@okonet Ah, I see it now: I was calling `stylelint` on both the staged file and on all files in the path arguments in `lint-staged:css`... Thanks!

Simply using `"*.css": "stylelint"` fixes my 'two lint errors'.

When I try to commit CSS files with lint errors, the commit properly fails (with one lint error now) but I keep getting the `NPM ERR!` (noisy output). But `lint-staged` is run on a pre-co

[2016-11-14 14:20] okonet commented on #94
Can you show me the full package.json you're using? I don't have this problem with npm output.

[2016-11-14 14:29] davidhund commented on #94
Sure, here's the relevant objects (many npm `script`'s as you can see 🙃)

[code]

[2016-11-14 15:03] okonet commented on #94
Please remove `"lint-staged": "lint-staged",` and try again. This isn't necessary with husky AFAIK.

[2016-11-14 15:13] davidhund commented on #94
@okonet removed. No change: `husky - pre-commit hook failed` but both lint errors and `NPM ERR!`

[2016-11-14 15:19] okonet commented on #94
Sorry, I don't think I can help you further on. I don't have this behavior.

[2016-11-14 15:31] davidhund commented on #94
OK, thanks anyway for the quick replies!

[2016-11-16 14:04] davidhund commented on #94
Closing, since it's a [issue with Husky](https://github.com/typicode/husky/issues/64).

[2016-11-16 14:04] #94 closed

[2016-11-16 14:14] davidhund commented on #5
@okonet I've run into exactly this issue: my generated `global.min.css` does break linting rules, so I'd like to exclude it. My current config is:

[code]

so I'd like to exclude specific files (e.g. `"*.css, !global.min.css": "stylelint"`, but this does not seem to work.

Any tips?

[2016-11-16 15:42] okonet commented on #5
1. You can use globs in the lint-staged config. See https://github.com/isaacs/minimatch documentation.
1. I'd recommend to add minified files to global `.eslintignore` and `.stylelintignore`. By doing so you'll have the config shared between all runs not just in lint-staged.

[2016-11-16 15:56] davidhund commented on #5
Thanks again @okonet — I've looked into the minimatch globbing but did not found it very intuitive. Got it to work with "[!Public]*.css" (exclude files from Public output folder).

However, using a `.stylelintignore` file is a much more elegant solution. Thanks again!

[2016-11-29 14:17] eonblue4309 opened #104 "Specify a different linter config file"
Is there a way to specify a different linter config file than the .eslintrc in the project's root? There are certain rules I want disabled when I'm developing but still want to lint at commit time.

[2016-11-29 17:03] okonet commented on #104
You can just pass path to your config to eslint in `lint-staged` configuration.

[code]

[2016-12-02 06:49] jitendravyas opened #105 "I tried as explained in readme but I'm able to commit CSS even if it has errors"
Please check my code here https://github.com/jitendravyas/Learning-Stylelint

![-zsh 1 eeazf](https://cloud.githubusercontent.com/assets/77309/20825368/921246ae-b889-11e6-8653-0de5b9ee25f3.jpg)

[2016-12-02 10:07] okonet commented on #105
It seems you've got the example from the medium post which wasn't updated (See #71). I'll do it ASAP.

Please use the example from https://github.com/okonet/lint-staged#examples since the syntax has changed a bit.

[2016-12-02 10:10] okonet commented on #71
Updated: https://medium.com/@okonetchnikov/make-linting-great-again-f3890e1ad6b8#.r0m9zyveg

[2016-12-02 10:10] #71 closed

[2016-12-02 10:11] okonet commented on #62
@sedubois I'm a bit stuck with #75. Do you have ideas how to solve it probably?

[2016-12-02 10:12] #104 closed

[2016-12-02 10:12] #105 closed

[2016-12-02 10:55] jitendravyas commented on #105
Thanks. It's working.

I had the medium post and GitHub page both opened in the browser :-)

Now it's working on CLI.

[2016-12-02 11:02] jitendravyas opened #106 "Error message in Github Desktop"
This tool gave error nicely in CLI but I just wanted to share that I use GitHub for desktop too along with CLI and some other developers in my team use SourceTree too.

Commit error in Github Desktop looks like this

![image](https://cloud.githubusercontent.com/assets/77309/20831549/79899ade-b8ab-11e6-962d-9f090c4a1af7.png)

Whole error code copied

[code]

[2016-12-02 11:25] okonet commented on #106
This should be hopefully fixed with the release of https://github.com/SamVerschueren/listr/issues/33

[2016-12-02 11:27] okonet commented on #106
Actually, I just realized it has nothing to do with listr but with the fact that the GUI doesn't strip the ANSI codes. So, I'd report it to the GUI tool TBH.

Also, you can use https://github.com/ta2edchimp/opt-cli so your colleagues can opt out from using it.

[2016-12-02 12:02] sedubois commented on #62
Hmm. Maybe first concentrate on the simple case when linter doesn't modify the working copy, and address the case of `eslint --fix` separately?

Also you proposed in PR to `git stash pop` after the commit, but conflicts would also happen in that case, no? Sounds like the conflict is unavoidable and the user should then be given the opportunity to resolve it?

[2016-12-02 12:08] okonet commented on #62
I don't think it will. The conflict will only happen if the actual content has diverged from stashed one. Otherwise, it will successfully merge them. So this use case can be solved with the post-command.

I really don't want to loose this feature. So if there is a way of not losing it, I'd take this effort. So for now this is the only issue that prevents me from releasing it (besides of some code

[2016-12-02 17:37] okonet opened #107 "Supposedly skipping linting of `.` files"
[code]

didn't run `jsonlint` on `.eslintrc.json` file.

[2016-12-07 16:16] #106 closed

[2016-12-08 06:05] km-tr opened #109 "Re-formatting the code"
[code]

[code]

[code]

My setting is like ↑.

With this setting it will be "Error: fatal: Not a git repository: '.git'".

[2016-12-08 10:40] okonet commented on #109
No idea. Does it work without the hook?

[2016-12-08 11:13] km-tr commented on #109
When I ran 'npm run lint' as it was, it worked

[2016-12-08 15:24] okonet commented on #109
Yes, but your script runs `cd assets && npm run lint` -- does this work?

[2016-12-09 03:45] km-tr commented on #109
I modified `pre-commit` like that, but it is the same result.

[2016-12-09 04:36] km-tr commented on #109
[code]

[code]

[2016-12-09 06:46] okonet commented on #109
I'm sorry but I don't understand what you're doing. You're calling `git add` in a directory that isn't under git.

[2016-12-09 07:05] km-tr commented on #109
[code]

Excuse me. It is configured like this and `.git` is the parent of` assets`

[2016-12-09 08:21] okonet commented on #109
Looking at your error it looks like a problem with your git repo.

Please create a repository on GitHub there I can reproduce the error.

[2016-12-09 08:24] km-tr commented on #109
Thanks, please wait a moment.

[2016-12-09 09:31] km-tr commented on #109
https://github.com/km-tr/lint-staged-git-error

1. cd assets && npm install
2. modify `javascripts/index.js` (As an error occurs)
3. git add ↑ file
4. git commit

Please check.

[2016-12-09 11:03] okonet commented on #109
@km-tr that's really strnage issue that has something to do with how `execa` calls the command. I've tried to change the lint-staged config to:

[code]

and it worked. I assume that it's somehow critical for execa to call `git add` from the directory there `.git` is located.

@ai did you ran into this as well or you don't use autofix feature?

[2016-12-09 11:56] km-tr commented on #109
I also tried this method.
However, with this method the modified file has not been added.

[2016-12-09 17:49] ai commented on #109
Awesome. I will test it after HolyJS :)

[2016-12-12 12:37] ai commented on #109
`postcss-sorting` works in my project with `lint-staged`. Thanks, this array support is really helpful for me.

[2016-12-12 13:59] km-tr commented on #109
The correspondence of the array is what originally been done, is not it different from this issue?

[2016-12-12 14:58] okonet commented on #109
@ai can you post your configure here? I'm not sure why it isn't working for @km-tr. did you check the repo?

[2016-12-12 15:00] ai commented on #109
https://twitter.com/andreysitnik/status/808295400629272576

(Sorry for link to Twitter, I am from phone right now)

[2016-12-13 09:52] ai commented on #109
I checked it again and found that `cd .. && git add` doesn’t work :(. Changes are not going to stage.

[2016-12-14 13:25] okonet commented on #109
Interesting... I'll investigate a bit further and let you know.

[2016-12-14 14:33] #109 closed

[2016-12-14 15:36] okonet commented on #109
Released as v3.2.3! Please test and let me know if it works for you.

Thanks for reporting!

[2016-12-14 21:33] ai commented on #109
@okonet now I get:

[code]
…
  "scripts": {
    "precommit": "lint-staged",
    "build": "gulp build",
    "test": "gulp"
  },
  "lint-staged": {
    "gitDir": "../",
    "*.sss": [
      "stylelint",
      "postcss/sort",
      "cd .. && git add"
    ],
    "*.js": "eslint"
  }
[code]

[2016-12-15 07:59] okonet commented on #109
1. Please remove `cd ..` since it's not needed anymore.
1. I'm not sure where the sort task is located. Can you create a test repo for me so I can test with your setup?

[2016-12-15 15:56] ai commented on #109
@okonet Sad news. Same problem:

[code]

Maybe I can give you more debug information? I don’t know source of this error to debug it.

[2016-12-15 19:47] okonet commented on #109
@ai best thing you could do is create a mini repo where I could repro it.

[2016-12-16 09:29] mattberridge opened #112 "TypeError: Cannot create property 'context' on string"
Hi there

I have the following setup in place on a project running on node `7.2.1` and npm `3.10.10`.

[code]

All is okay here:

[code]

But running `npm run lint:staged` returns an error wrapped around the output:

[code]

Not the end of the world, as it's still linting and working with `pre-commit` too.
But have I done something wrong to cause the error?

Any help appreciated, thanks all!

[2016-12-19 13:37] ai commented on #112
I made a test project for this issue: https://github.com/ai/sort-staged-example

Just add CSS properties order and commit it:

[code]

If I will run `postcss/sort` manually everything will works:

[code]

[2016-12-19 13:38] ai commented on #109
@okonet done https://github.com/okonet/lint-staged/issues/112#issuecomment-267965600

[2016-12-19 14:34] okonet commented on #112
This is a bug in https://github.com/SamVerschueren/listr/issues/41. I'll wait till it is fixed and will update dependencies.

[2016-12-19 16:51] #112 closed

[2016-12-19 17:50] okonet commented on #109
@ai try this config:

[code]

[2016-12-19 17:50] okonet commented on #109
It looks like some issues with relative paths and https://github.com/npm/node-which/issues/33

[2016-12-20 02:30] ai commented on #109
@okonet thanks, now it works!

[2016-12-20 21:49] knownasilya commented on #70
I have the same issue:

[code]

running `npm run lint:api` returns errors, but running `npm run lint-staged` nothing..

[2016-12-21 06:45] okonet commented on #70
@knownasilya the config is wrong. Remove the glob from your task.

[2016-12-23 11:35] bgoscinski opened #114 "git: 'Files\Git\mingw64\libexec\git-core\git.EXE' is not a git command. See 'git --help'."
Hi,
I just upgraded from 3.0.3 to 3.2.4 and got this error:

[code]

I have lint-staged configured like this:

[code]

My guess is that there is some issue when git binary location contains space characters. In my case it is: `C:\Program Files\Git\mingw64\libexec\git-core\git.exe`

OS: Windows 10 Pro
npm: 3.10.10
node: 7.2.1

For the time being I am staying on ~~3.0.3~~ 3.2.0 where everything work

[2016-12-30 19:15] rodneyrehm opened #115 "confusion with file patterns"
My package.json looks as follows:

[code]
My directory structure looks as follows:

[code]

I'm trying to commit `alpha.js` and `src/bravo/charlie.js` and expect both patterns given in `lint-staged` to each match one pattern, considering everything is relative to CWD. However *neither* matches.

If I prefix the patterns with `**/` the files are matched. That's because the paths handed to minimatch

[2016-12-30 19:35] okonet commented on #115
This is probably a regression. Could you create a PR with the suggested change please? We should add tests for absolute and relative paths.

[2016-12-30 19:57] rodneyrehm commented on #115
sure, #116 contains the fix and adapted tests.

[2016-12-30 22:51] #115 closed

[2017-01-01 13:57] okonet commented on #114
So can this be closed now?

[2017-01-01 14:07] bgoscinski commented on #114
I checked on
* 3.0.3 - ok
* 3.2.0 - ok
* 3.2.4 - broken

Tomorow I'm going to check 3.2.5 and will report back :)

[2017-01-11 04:35] ai opened #118 "Wrong path with gitDir"
My config is located in `front/package.json` and contains:

[code]

If I was staged `front/a.js` file, `lint-stage` will execute `front/node_modules/.bin/eslint a.js`. There is no `front/` in file path.

Maybe we should use absolute path there?

[2017-01-11 14:45] theodorDiaconu opened #119 "[Error: fatal: Not a git repository: '.git'"
/home/theodor/projects/xxxxx/app/node_modules/lint-staged/src/resolvePaths.js:8
    return filePaths.map(file => path.relative(cwd, path.resolve(base, file.filename)))
                    ^

What am I missing ?

[2017-01-16 05:38] vasyas opened #122 "No output from linter"
I've configured lint-staged with tslint.
tslint is run via npm-run-script:

[code]

When I run tslint directly via Npm, I get linting messages:
[code]

But when I run it using lint-staged, I get no messages, just the indication of failed process
[code]

Using lint-staged@3.2.6, execa 0.6.0 on MacOS.

[2017-01-16 07:57] okonet commented on #122
Weird. I output both `stdout` and `stderr` in case of an error.

[2017-01-16 12:50] vasyas commented on #122
Yes, looks like bug comes from execa.

Btw, it works ok if I use local scripts and fails only for npm run scripts.

[2017-01-16 13:16] okonet commented on #122
Hmm, can it be `--silent` flag that I'm using when running npm scripts?

https://github.com/okonet/lint-staged/blob/master/src/findBin.js#L16

[2017-01-17 13:37] okonet commented on #119
What's your config and what's the folder structure? It looks like you should use `gitDir` option: https://github.com/okonet/lint-staged#working-from-a-subdirectory

[2017-01-17 14:58] theodorDiaconu commented on #119
@okonet had package.json in a subfolder, not at the same level as ".git"

[2017-01-17 14:59] theodorDiaconu commented on #119
great, that solves it.

[2017-01-17 14:59] #119 closed

[2017-01-18 06:29] codeandcats opened #123 "Exclude paths"
Hi,

Thanks for a great library. 🌹

I'm using lint-staged to run tslint on typescript files (`*.ts`) but I'd like to exclude certain directories from being linted.

How can I exclude certain paths from being linted?

Cheers

[2017-01-18 09:58] #118 closed

[2017-01-18 10:25] okonet commented on #123
The best way to do that is to use `.eslintignore` and TS alternative (not using it, sorry). In this case it won't matter what runner you're using and your files will always be excluded. If you still want to make the exclusion lint-staged specific then check out the [minimatch](https://github.com/isaacs/minimatch) docs. I assume something like `!your_path` should work

[2017-01-18 10:49] grofzero commented on #122
I think the problem might be, that execa's cwd is set to the .git directory and not the dir, where package.json is located, but the collected filepaths start from there.

[2017-01-18 12:35] okonet commented on #122
Can you try the latest version since it should fix this behavior I think let me know.

[2017-01-18 13:18] grofzero commented on #122
It's working great! Thank you very much!

[2017-01-18 13:48] okonet commented on #122
👍

[2017-01-18 13:48] #122 closed

[2017-01-20 04:08] sudo-suhas commented on #114
lint-staged version `3.2.7`
windows 8
node.js version `6.9.2`
npm version `3.10.9`

I am also experiencing similar issues:
[code]

I am not sure if this is relevant but I am using [cmder](https://github.com/cmderdev/cmder) for running npm commands.

[2017-01-20 10:27] okonet commented on #114
This sounds like a duplicate of #21

[2017-01-20 10:31] okonet commented on #114
I think using https://www.npmjs.com/package/@protobufjs/path could solve it. Is anyone with Windows mind trying it out and creating a PR?

[2017-01-20 13:27] sudo-suhas commented on #114
I am going to try but am not very sure how. But here is some more information. I directly modified my `node_modules/lint-staged/src/runScript.js` file to log some more information:

[code]

In console:
[code]

I wrote a simple test to see if execa was the problem:
[code]
But this executed without any issue. Please guide me a little so that I can help you fix the issue.

[2017-01-20 13:42] okonet commented on #114
I'm not sure what's going on but this is looking suspicious:

[code]

[2017-01-20 13:42] sudo-suhas commented on #114
I tried [this](http://stackoverflow.com/questions/27688804/how-do-i-debug-error-spawn-enoent-on-node-js) for getting more details on why the `ENOENT` but can't discern anything from the output:
<details>
<summary>Spawn log</summary>

[code]
</details>

[2017-01-20 13:47] okonet commented on #114
This is what I've found: https://github.com/sindresorhus/execa/pull/27

[2017-01-20 13:51] sudo-suhas commented on #114
[lolz](https://github.com/sindresorhus/execa/commit/49065cae444fd8cc1de9c2efb6a138684bbd5724)

[2017-01-20 14:43] okonet commented on #114
@sudo-suhas what does this mean for this lib? Do I need to change something?

[2017-01-22 10:40] yangg commented on #114
Same problem, v3.2.7

[2017-01-23 03:54] sudo-suhas commented on #114
Hey.. I found the issue and have created a [pull request](https://github.com/okonet/lint-staged/pull/124)(my first one :)).

[2017-01-24 19:52] #114 closed

[2017-01-25 08:04] karthilxg commented on #123
@okonet Have tried using `.eslintignore` to ignore some `.js` files, but it didn't work. `eslint` still tries to fix the ignored config file (`webpack.config.dev.js`). Any help would be appreciated.

`.eslintignore`

[code]

`.lintstagedrc`
[code]

[2017-01-25 08:26] okonet commented on #123
You should probably refer to https://github.com/eslint/eslint documentation. I _assume_ this is because you have your `.eslintignore` in an unexpected place due to `'gitDir': '../../../../'`. Try running eslint on its own and see if it is working without lint-staged.

[2017-01-25 22:21] karthilxg commented on #123
@okonet The`package.json` file is in subfolder and `.git` located at root level that's why I have configured the `'gitDir': '../../../../'` this way.I have kept the `.eslintignore` and `package.json` under the same folder so the path shouldn't be the problem I believe, I have verified that `eslint` without `lint-staged` it does ignores the file as expected in addition to the below message.

[code]

[2017-01-25 23:04] okonet commented on #123
Hmm that's weird. Can you create a repo where I could reproduce it please?

[2017-01-27 07:37] karthilxg commented on #123
@okonet I'm unable to reproduce this issue now with my current repo as well as in the below new repo I've created to simulate the behavior. I'm not sure what was wrong earlier 😕

https://github.com/karthilxg/lint-staged-precommit

[2017-01-27 07:40] okonet commented on #123
So, can I close this issues then?

[2017-01-27 07:41] karthilxg commented on #123
Yes!! Thanks for your support.

[2017-01-27 07:44] #123 closed

[2017-01-27 08:47] km-tr commented on #122
I also get the same error in lint-staged 3.2.8.

[2017-01-27 09:06] okonet commented on #122
@km-tr are you certain? Can you create a repo where I can reproduce this issue?

[2017-01-27 10:50] km-tr commented on #122
It seems that it takes time to reproduce the situation, so I have not finished yet, but I understood the problem part.

If I turn off `--silent` in` findBin.js` I got an error like the following.

[code]

gitDir `/Users/kmtr/dev`
package.jsonDir `/Users/kmtr/dev/assets`

config.gitDir `../`

An error has occurred because it is running in a directory that does not have `package.json`

[2017-01-30 03:56] km-tr commented on #122
When running `execa` with` runSctipt.js`, if `res` is` npm run-script`, you did not specify `cwd` with` execaOptions` and it worked correctly

[2017-01-30 08:58] okonet commented on #122
I'm still not sure what's the bug exactly. Can anyone create an example with exact steps to r it?

[2017-01-30 09:41] km-tr commented on #122
I have created a repository for testing

https://github.com/km-tr/lint-staged-findbin

If you add `js` to each stage and run` npm run lint-staged` you think that you get different results

@okonet

[2017-01-31 02:59] km-tr commented on #122
I was able to confirm that it works correctly at 3.3.0. Thank you very much.

[2017-02-08 15:05] morhetz opened #127 "Track changed lock files on post-(checkout, merge, rewrite) hook"

[2017-02-08 15:25] morhetz commented on #127
Ok, so to continue our discussion. I've tried to do non breaking changes and everything works fine.
Yet have things to decide on:

1. Config file
Adding track-changed functionality would require different config for that specific case. So it should be either nested to `lint-staged` (and adding nesting would seem to break things) or separate entry like `track-changed` one
[code]
vs

[code]

2. Pass

[2017-02-08 15:30] morhetz commented on #127
Current op-modes works rather ok.
It's `lint-staged [commit | checkout | merge | rewrite; default to commit]`
It's not possible however to keep just 2 op-modes `[staged | changed]` as we [do need to handle switching branch](https://github.com/morhetz/lint-staged/blob/master/src/changedGitFiles.js#L8-L19) (git checkout) different way than simple merge to pick rev versions from git_params

[2017-02-09 15:43] okonet commented on #127
Thanks for the effort! Can we move the whole discussion to the PR and close this issue (since it's not an issue per-se).

Hmm, not sure why does it need to be different? I've been using this https://gist.github.com/okonet/9706ec3b7f29e05109f3744fbc1fc91e and it worked well for me. Am I missing something?

I still need to wrap my head around the whole thing and config. I'll keep you updated.

[2017-02-09 16:04] morhetz commented on #127
Sure, np

[2017-02-09 16:04] #127 closed

[2017-02-19 19:21] okonet commented on #62
For now, the second case doesn't seem to be solvable without a user interaction which sucks :(

If someone has a better solution for that, any ideas are appreciated!

See #73 for some more context.

[2017-02-19 19:24] #86 closed

[2017-02-19 20:39] sedubois commented on #62
Well, if you stash then allow linters to perform changes, conflicts might happen. Either don't use the -k option when stashing, or disable the linter --fix option. Maybe you can let the user choose what they prefer.

Personally I would just disable the --fix option, so that I can use stash -k. Otherwise, lint-staged's behavior is simply incorrect (it lints code which isn't meant to be committed).

[2017-02-20 09:53] okonet commented on #62
These aren't solutions but workaround of the problem :(

To add `git stash` you don't need to change anything in the library itself. You can just add those to the config:

[code]

[2017-02-20 09:59] sedubois commented on #62
Oh that's nice, I'll give that a try. Should it be documented?

But how is that a problem? Isn't it normal to ask for user input, if a merge conflict occurs?

[2017-02-20 10:01] okonet commented on #62
Well, technically, yes :) But in this case, I don't think so since the changes are coming from eslint and this will result in annoying user prompts.

BTW: I agree this should be backed into the library but the `--fix` case is just too important to me.

[2017-02-21 15:34] sedubois commented on #62
Actually, didn't manage to get this working:
[code]

[2017-02-21 15:38] okonet commented on #62
Hmm, it's probably since I'm always passing paths to the command 🤔

[2017-02-28 10:14] DanielMSchmidt opened #133 "Add support for monorepos"
Hi there,

I would like to use this tool in a monorepo, so the `.git` folder is not on the same level as the `package.json`. This leads in the current implementation to the following behaviour:

Let's assume the repo looks like this

[code]

Running lint-staged in this scenario leads to lint-staged putting `foo/foo/...` files to the tasks. I would like to do a PR in which I either detect where the

[2017-02-28 10:52] okonet commented on #133
Did you try `gitDir` option already?

[2017-02-28 11:14] DanielMSchmidt commented on #133
Sorry, didn't see that in the docs 👍

[2017-02-28 11:14] #133 closed

[2017-03-07 15:29] orlin opened #134 "Support for package.json config vars?"
In the following example, I'd like to reuse the config `code` for `lint-staged`, like I do with the `lint` & `format` scripts.

[code]

However, `"lint-staged": { "$npm_package_config_code": ...` doesn't do anything.  Would it be possible to somehow reuse the glob code?

[2017-03-07 16:25] okonet commented on #134
Yes, since it's using https://github.com/davidtheclark/cosmiconfig you can extract the configuration into a `lintstaged.config.js` and do it there using JS.

BTW isn't `prettier-eslint` already running eslint for you? Why do you need the second run there?

[2017-03-07 16:26] okonet commented on #134
BTW, no, there is no support for npm config vars in lint-staged. These are supported when you run tasks using `npm` itself.

[2017-03-07 16:48] Noirbot opened #135 "Add output when no files match"
It would be helpful to have some sort of output if I run lint-staged, but it finds no files that have matching linters. Right now, I just see something like

[code]

Which doesn't really tell me anything about what happened, and leaves me wondering if it did anything at all.

Perhaps something like:

[code]

For each linter pattern.

[2017-03-07 16:50] okonet commented on #135
It's actually by design since I didn't want to generate noise in the CLI but I can see how this can be helpful though. I wouldn't mind a PR for this I guess.

[2017-03-07 16:53] okonet commented on #135
Yeah, propose a better solution and I'll consider it :)

[2017-03-08 09:27] orlin commented on #134
Thank you @okonet!  A `lint-staged.config.js` did it.  I see it’s also documented in the #readme that I didn’t fully read.

Also thanks for asking about the `prettier-eslint` followed by `eslint`.  I copy-pasted some code [from here](https://github.com/zeit/styled-jsx/pull/145).  I thought maybe the `—write` may not be able to fix everything, and fail without error, then eslint would catch it, so

[2017-03-08 12:37] okonet commented on #134
I personally don't see value here since I believe it belongs to CI step. You could write a simple script yourself and use husky to add a new hook.

[2017-03-08 12:37] #134 closed

[2017-03-08 18:06] orlin commented on #134
@okonet I would have said the same thing :)
Thanks for the great tool and support!

[2017-03-08 22:36] kmiyashiro commented on #62
The readme mentions that as of 3.1, lint-staged stashes un-staged changes. This is apparently not the case?

[2017-03-09 07:40] akella opened #136 "Any possibility to use arbitrary node (gulp) tasks, not just CLI?"
I'm falling in love with lint-staged and the whole idea. It was nice so far with stylelint and eslint.
But i'm in need of running arbitrary checks on staged files.
Like, checking BEM methodology in HTML, or dist files sizes. I wrote couple of tasks with gulp, they are checking _all_ the files. But that is surely slow on big projects.

I tried this:
[code]
But obviously the task did not receive lis

[2017-03-09 09:09] okonet commented on #136
Hi Yuri :)

I think you're just missed this: https://github.com/okonet/lint-staged/blob/master/README.md#what-commands-are-supported

Your config doesn't include `lint-staged` config:

[code]

This will run `npm run lint` for all staged files (`*`). So, effectively this will run:

[code]

[2017-03-09 09:13] okonet commented on #62
@kmiyashiro yes, it seems it slipped into the Readme. I'll remove it.

[2017-03-09 09:23] akella commented on #136
i do have it, just skipped that part, sorry for that, tried to be as concise as possible.
I realized what i really needed was this: https://www.npmjs.com/package/yargs.
Lint-staged will run my task `gulp check` with staged files as parameter, and i will get those via `yargs` and just use it in my task.

May be it will be of some use for future gulpers.

Thank you for leading into the right path. W

[2017-03-09 09:24] akella commented on #136
Do you think some simple working gulp+lint-staged usage example may be useful in docs? i could do pull request when i succeed.

[2017-03-09 09:32] okonet commented on #136
Yes, sure! Go ahead and create a docs PR!

[2017-03-09 22:25] akella commented on #136
So for me it came down to this:
With eslint the resulting task is ran the following way, and works ok:
[code]

For my custom html validating `npm run lint` task, the task is generated like this:
[code]
But according to [this](https://docs.npmjs.com/cli/run-script) and [that](https://github.com/npm/npm/issues/3494) for it to pass arguments it needs to be like this:
[code]
Both of those working for

[2017-03-10 16:29] okonet commented on #136
It looks like an issue with gulp and how it handles arguments. I'm passing files as arguments according to the spec. https://docs.npmjs.com/cli/run-script says:

This is exactly what I'm doing.

Gulp, on the other hand, treats first argument as a command. I'm not very familiar with how to pass arguments to gulp TBH.

[2017-03-10 17:08] akella commented on #136
Didnt find documentation about that yet =(
But  testing all the options,  i now know that gulp requires this:
[code]
Do you think it might be ok, to do a special case for npm scripts with `indexOf('gulp')` in findBin.js?

Anyhow i will continue to investigate this thing.

[2017-03-10 17:13] okonet commented on #136
Why even use gulp for that? AFAIK the only reason for using gulp is to get proper files. But in case of linting with lint-staged you already have the needed list. Why not just run the linter then?

Re: special case — I would resist this as long this isn't a real issue for many users. One thing that could be done though is to introduce a way to change a way of how arguments are passed. This is less

[2017-03-10 20:21] akella commented on #136
One obvious use case for me: i'm using nunjucks, which is .html files also, which would also be staged, and validated. So i have `src/blabla.html` – nunjucks and i have `dist/blabla.html` – real html). And i only need to validate html in dist actually.

[2017-03-11 08:20] akella commented on #136
I think we may close this issue, as syntaxes for gulp arguments and npm tasks are quite different, and hard to integrate into current concise lint-staged notations =(.
I will use gulp hacks to get staged files exactly for this task, and lint-staged for some others, like eslint and prettify.
In case anyone will read this issue: https://www.npmjs.com/package/gulp-git-staged this one did the job for

[2017-03-11 08:20] #136 closed

[2017-03-13 11:04] okonet commented on #136
@akella it's actaully a great feedback and I might consider adding templates for commands earlier. Something I was planning to do either way at some time point.

[2017-03-13 11:13] okonet opened #138 "Allow defining a template for how paths should be passed to the command"
At this moment lint-staged will always pass file paths as arguemnts at the end of the string:

[code]
In order to support exotic cases like #136 and #18 we might want to redefine this. One way of doing this would be to pass a "template" string to how paths should be interpolated. Something like this:

[code]

lint-staged will try to interpolate those strings when running tasks.

1. The piping exam

[2017-03-13 11:13] okonet commented on #136
@akella see https://github.com/okonet/lint-staged/issues/138

[2017-03-13 11:13] okonet commented on #18
See https://github.com/okonet/lint-staged/issues/138

[2017-03-13 11:46] akella commented on #136
I think this is a great idea. Especially because it doesn't change anything for current users of lint-staged, but at the same time will allow new guys to use it in a lot of flexible ways.

[2017-03-13 19:05] #135 closed

[2017-03-15 13:36] dan-gamble opened #140 "RE: Add output when no files match"
I've just added `lint-staged` as we currently have a `pre-push` hook that takes a while and isn't that intuitive, i figured if we could do it with this instead it might speed up our process a bit.

It's working nicely so far but the output can be very noisy, i think it is in relation to #135. I do like the idea of #135 but it seems to give me a comment for each file it iterates over. Would it be p

[2017-03-15 13:41] okonet commented on #140
It's related to your config. Please remove `--ext` option from `eslint`.

Globs are keys of the config object, so with you current setup you will miss all `*.vue` files as well.

[2017-03-15 13:41] #140 closed

[2017-03-15 13:56] dan-gamble commented on #140
Awesome, thanks Andrey :)

[2017-03-15 14:17] dan-gamble commented on #140
Hmm, i still seem to get this even with removing `--ext` on `*.js` and the `lint:js`

[2017-03-15 18:07] leonaves commented on #62
So, while I don't know what the approach would be for getting this working in lint-staged, I think conflicts are always going to be an issue, i managed to get this working using [pre-commit](https://www.npmjs.com/package/pre-commit) and some git trickery, with a lot owed to [this answer on stack overflow](http://stackoverflow.com/questions/13889242/how-can-you-remove-and-then-restore-non-index-cha

[2017-03-15 18:23] okonet commented on #62
@leonaves that's awesome and I'm gonna try it out. Did you see @75? This is pretty much the same what I was trying to implement but I could not come up with the right command to stash pop.

Also, how does this work in case of aborted commit?

[2017-03-16 09:46] leonaves commented on #62
@okonet Ah cool, yeah that stack overflow answer really helped me, it's a clever sequence of git commands, I don't think I would got there myself in the end.

With regards to the fix flags, I've been playing with it this morning, and it's actually a really tough problem, that I'm not sure will be possible without user interaction.

Say I have the following code:

[code]

I stage this and then add

[2017-03-16 12:42] okonet commented on #140
Weird. This should be only displayed once. Can you run lint-staged with `--verbose` flag and see what it outputs?

[2017-03-17 15:38] dan-gamble commented on #140
I just tried it with `verbose: true` and got:

[code]

####without:

[2017-03-17 16:11] okonet commented on #140
It should be:

[code]

Please refer to README

[2017-03-17 16:27] dan-gamble commented on #140
I tried it with that config and still get the same output

[2017-03-17 16:32] okonet commented on #140
@dan-gamble can you isolate the behavior? Please remove your `*.py` and `*.css` linters and try running it. Try moving things in the config. I dunno. Anything that leads to the bug.

TBH I don't know how to help you just by looking at the output. Again, I've never seen such behavior before.

[2017-03-17 16:33] okonet commented on #140
Ideally it would be a github repo where I can reproduce your behavior.

[2017-03-17 16:59] dan-gamble commented on #140
Sure thing i'll see if i can come up with a small repro repo for you 👍

[2017-03-19 21:31] adjohnson916 commented on #62
Also consider adding the the `-u` flag to `git stash save -k` so we also stash any untracked files such that they don't cause any lint failures unrelated to the staged files. Refer to: https://git-scm.com/docs/git-stash#git-stash-save-p--patch-k--no-keep-index-u--include-untracked-a--all-q--quietltmessagegt.

[2017-03-19 22:26] okonet commented on #62
How would they if we only lint staged files?

[2017-03-20 00:20] adjohnson916 commented on #62
@okonet True, in most cases untracked files wouldn't be picked up, unless the scripts being run don't support accepting a list of files as arguments, instead running on the entire directory anyway.

[2017-03-21 11:02] okonet commented on #107
Tests are green so closing it for now

[2017-03-21 11:02] #107 closed

[2017-03-22 10:27] leonaves commented on #62
As a heads up, I've been using this technique for a few days now, and for some reason the `read-tree` command fails after a merge with conflicts with the following error:

[code]

Running `git commit` a second time makes the commit work, not sure why yet.

[2017-03-22 11:46] okonet commented on #62
@leonaves thanks for the heads up! I'm playing with it in the https://github.com/okonet/lint-staged/tree/git-worflow branch so feel free to check it out and help.

[2017-03-23 10:31] fronteed opened #142 "Duplicated errors"
@okonet thank you for the package.

I got duplicates in output while trying to use link-staged with husky, here's my config:

[code]

Output:

[code]

Looks like lint-staged and husky both output the same error.
Here I got 2 errors from lint-staged and one from husky.

Can we add some --silent option for lint-staged? So it would not output the errors, but throw them forward to husky (I also use hu

[2017-03-23 10:32] fronteed commented on #142
I've also tried `"precommit": "lint-staged -s"`, it doesn't work now.

[2017-03-23 10:55] okonet commented on #142
It looks like you're running lint-staged with verbose renderer but I'm not sure why this is happening. Are you using GUI and not CLI?

[2017-03-24 10:32] fronteed commented on #142
@okonet I'm using a latest version of Git Tower for Mac https://www.git-tower.com/.

[2017-03-24 10:35] okonet commented on #142
I see. I don't use git GUIs so this isn't a priority for me but you can write a custom renderer based on https://github.com/SamVerschueren/listr-verbose-renderer that would suppress the intermediate errors and only show them in the end and submit a PR.

[2017-03-24 10:44] fronteed commented on #142
@okonet as many other people do, I use GUI to visualize changes.

I hope we don't need a different renderer for this issue, we just need to support a silent logLevel https://docs.npmjs.com/misc/config#loglevel So it won't output the errors but will keep them for Husky, which would print them inside GUI.

[2017-03-24 10:49] okonet commented on #142
npm scripts are running in the silent mode by default when used with lint-staged: https://github.com/okonet/lint-staged/blob/master/src/findBin.js#L17

Again, feel free to explore what works best for you and submit a PR.

[2017-03-27 06:29] montogeek opened #143 "Error with relative paths"
Hi!

I am using `lint-staged` in a subfolder, with the following configuration:
[code]

When trying to commit it fails with the following error:
[code]

But running the npm script works without problem:
[code]

Why it is trying to find a `package.json` at the root of the project?

[2017-03-27 12:34] okonet commented on #143
I honestly don't know. If you believe there is a bug in lint-staged, please provide me with a reproducible repo on GitHub.

I've also noticed that your config isn't quite correct: you don't need file globs in your tasks when running them with lint-staged since this is what this lib is responsible for — passing the matched file paths to scripts.

It also supports `npm run` out of the box so you don

[2017-03-27 15:04] montogeek commented on #143
@okonet Thanks, it works!
I missed ` passing the matched file paths to scripts` in the docs.
What if I need/want a npm script?

[2017-03-27 15:04] #143 closed

[2017-03-27 18:34] okonet commented on #143
Same. Just use the name of your script and "it will just work" tm

[2017-03-28 07:36] mkhazov commented on #138
As I know, [imagemin-cli](https://github.com/imagemin/imagemin-cli) requires output file or dir specified, otherwise it will write to stdout. So regarding **1**, probably the token should be `path` to allow things like `imagemin $path > $path`

[2017-03-28 08:38] okonet commented on #138
Good suggestion! Here is how I'm using it now: https://github.com/reactvienna/brand/blob/master/package.json#L9 but I agree this can be more flexible. @mkhazov do you want to make a stub and create a PR?

[2017-04-01 18:54] VP42 opened #144 "gitDir ignored while doing a git rebase"
Hey!

Thank you for this great library, so helpful!

I encounter a problem when I try to rebase some commits, the gitDir does not seem to be used and the error `Error: fatal: Not a git repository: '.git'`is raised. Everything is working as expected when I do a simple commit but the rebase is failing.

Any hint on how to solve this issue?

Thanks again!

[2017-04-01 19:05] VP42 commented on #144
Oops, my bad. It was something on my side. All is good :)

[2017-04-01 19:05] #144 closed

[2017-04-11 17:10] hadrienl opened #146 "csscomb doesn't work"
Hi,

I've tried to configure lint-staged to clean scss files with csscomb. Here is my conf:

[code]

If I run `csscomb <file.scss>` it works like a charm. But if I exec `./node_modules/.bin/lint-staged` (or commit), the task run and never ends:

![avr -11-2017 19-09-39](https://cloud.githubusercontent.com/assets/225382/24921238/741071fe-1eea-11e7-9da8-e4176a12c3bb.gif)

[2017-04-12 07:02] okonet commented on #146
I don't know how csscomb accepts arguments but it seems like an issue with it since I'm just passing arguments to commands as `cmd -- <paths>`. Might be the `--` causing it? Can you investigate and submit a PR with the fix please?

[2017-04-12 07:06] hadrienl commented on #146
`csscomb -- src/test.scss` works. I can investigate but I'm not sure I'll be able to find a fix…

[2017-04-12 07:19] okonet commented on #146
Try `verbose` mode in the lint-staged config: https://github.com/okonet/lint-staged#options

[2017-04-12 07:23] hadrienl commented on #146
It's weird. The command is correct, it works when I paste it, but when called from lint-staged, it seems to not find the command and keep waiting forever. I've just added a console.log here : https://github.com/csscomb/csscomb.js/blob/dev/src/cli.js#L2 The log appears when I exec the command manually but not when executing lint-staged.

[2017-04-12 07:28] okonet commented on #146
I believe this is the issue: https://github.com/csscomb/csscomb.js/blob/dev/src/cli.js#L46

So it thinks it's not TTY (since it's being called by execa with `child_process`) and it is waiting for `stdin`. This is why it's waiting and not exiting.

This should be fixed in csscomb.

I'm closing it here since there is nothing I can do about it.

[2017-04-12 07:28] #146 closed

[2017-04-12 15:21] julec commented on #142
I'm using CLI and have the same issue with stylelint.
It works fine when linting starts on pre-commit for all the files.
But when I include the lint-staged into the process, the output is tripled.

[2017-04-13 07:42] okonet commented on #142
@julec please show me your config

[2017-04-15 15:11] sudo-suhas opened #147 "The command line is too long(windows)"
I ran my project through [`prettier`](https://github.com/prettier/prettier) and ended up with 99+ modified files. Am using `cmder` on windows 8 and I got this while trying to commit:

[code]

<details>
<summary>Stack Trace</summary>

[code]
</details>

[2017-04-15 16:36] okonet commented on #147
Good one! I think you could solve it by hacking windows. I don't think I can offer a solution. You should probably skip the pre-commit hook for this one. If you find a better solution please let me know.

[2017-04-16 15:25] sudo-suhas commented on #147
I did skip it for that one. However, might be worthwhile to fix it though. Would it be possible to split up the task and spawning multiple child processes?

[2017-04-17 11:14] okonet commented on #147
Feel free to create a PR and we can discuss it. I'm open for any improvements.

[2017-04-17 12:10] sudo-suhas commented on #147
This is what I am thinking. In `findBin.js`, instead of returning an object, I could return an array of objects which would have chunks of paths created using `lodash.chunk`. These tasks could be run in parallel in `runScript.js` and `Promise.all` would resolve with `✅ ${ linter } passed!` or the error message.

Few questions:
1. Splitting up the task and running it in parallel should be a win rig

[2017-04-18 07:54] julec commented on #142
@okonet
[code]

[2017-04-18 08:27] okonet commented on #147
1. Yes, I think it's worth exploring. I think it might be a conflict with `concurrent` option: https://github.com/okonet/lint-staged/blob/master/src/index.js#L33. See https://github.com/okonet/lint-staged#options But I think we could drop it.
1. I don't think `42` is a good number here and it should be based on performance/OS limitations. So this max length windows limitation is a good baseline fo

[2017-04-20 15:26] julec commented on #142
@okonet
The output differs a little bit if to run the linter in Webstorm Terminal:
[code]
Could the problem be in listr package?

[2017-04-21 07:47] sudo-suhas commented on #147
@okonet I am facing issue with `execa` mocking while I am trying to modify the code. Should I make a pull request with tests failing?

[2017-04-21 11:13] chrisjbrown opened #148 "Commitizen"
Using the commitizen alias `git cz` or an alias for git commit like `git ci` seems to bypass the pre-commit hook

any way to fix this?

[2017-04-24 20:48] okonet commented on #148
Not in this repository. You should report it to their repository.

[2017-04-24 20:48] #148 closed

[2017-04-24 20:49] okonet commented on #147
Create a PR and let's discuss there.

[2017-04-24 21:23] okonet commented on #142
Yeah, it seems like Listr displaying errors multiple time. We could try a custom renderer to fix this.

[2017-04-26 16:19] julec commented on #142
@okonet Could you help me with that? I'm not sure I understand what to do.

[2017-04-26 16:30] okonet commented on #142
@SamVerschueren do you think this can be switched off somehow? Or do we need to write a custom renderer for that?

[2017-04-26 20:53] SamVerschueren commented on #142
Just to understand what is happening. `stylelint` is a subtask of `Running tasks for *.scss` right? And the problem here is that the error is shown in the subtask as well as in the root task.

[code]

This is already fixed in `master` but wanted to land something else first before I released the next version. Let me look at it tomorrow and I'll see if I can get it in, otherwise I will release a ne

[2017-04-27 11:26] mgol opened #150 "Command-line flag to lint changed unstaged files as well?"
I was wondering if the package could support a command-line flag to lint unstaged but changed files as well - that may often be useful when starting a dev server to have a quick feedback about errors only in modified code.

On one hand, this may go against the package name. On the other hand, this package includes a lot of niceties like easy-on-eyes console output, easy configuration etc. so dupli

[2017-04-27 11:39] okonet commented on #142
@SamVerschueren thanks for chiming in. Yes, exactly. Additionally, since I'm displaying all errors from all linters after they all are done running once again, I'm not even sure I want to show any of them during the run. Is that possible?

[2017-04-27 11:48] mgol commented on #150
I don't want to run the linter on all files but only on the ones modified
since the last commit. That's the whole problem.
--
Michał Gołębiowski

[2017-04-27 11:53] okonet commented on #150
Ah gotcha. Anyway this is out of scope for this package but I assume there are packages on npm that coudl work for you.

FYI if you're using webpack you can add a loader that will lint modified files during the dev process.

[2017-04-27 11:55] okonet commented on #150
Actually, it just made me think since I wanted to go away from this dependency https://github.com/okonet/lint-staged/blob/master/package.json#L54 this might be a good experiment. So if you're up to it, you could try creating a PR and we could discuss it.

[2017-04-27 12:00] SamVerschueren commented on #142
Currently not. Though this might indeed be nice. What do you think about adding an option to [listr-update-renderer](https://github.com/samverschueren/listr-update-renderer) like `supressOutput` which supresses all the output. Would that work for you or are you using other output features in combination with Observables for instance?

[2017-04-27 12:12] okonet commented on #142
Right now we're using it for skipped files as well:

![2017-04-27 at 14 11](https://cloud.githubusercontent.com/assets/11071/25482774/7a16635e-2b53-11e7-8713-4b019f48e72f.png)

So this might be a problem... I could try, though.

[2017-04-27 12:15] SamVerschueren commented on #142
Let me check later today and I'll see what I can come up with. `supressOutput` might not be ideally.

[2017-04-27 12:59] samit4me opened #151 "IntelliJ and auto-fix code leaving staged and not staged files"
Added lint-staged to a repo at work today using the following config:
[code]

Everyone was testing it out by intentionally introducing lint errors *(e.g removing a semicolon)* and then commit the change just to see how awesome the auto-fix feature is.

This was going great until IntelliJ users (both Windows and Linux) started reporting issues, whereby staged and not staged files were intermittentl

[2017-04-27 15:05] tmos commented on #151
Just ran into the same issue, 2h after you ! Some help would be really appreciated 👍
Thanks again for the lib !

[2017-04-27 15:42] faceyspacey opened #152 "precommit runs twice when using commitizen"
I'm using Husky. I have:

[code]

At first I thought perhaps the `precommit` script isn't needed anymore, so I remove the it and `lint-staged` doesn't run at all. Then I decided to commit without `commitizen` and realized that's where the problem is. `lint-staged` is called once before the `commitizen` command line form appears, and again after you submit it. Is that the expected behavior? What ca

[2017-04-28 11:58] SamVerschueren commented on #142
The duplicate error thingy should be fixed now in `Listr@0.12.0`.

[2017-04-28 12:50] okonet commented on #142
Did I say already how awesome you are? 🥇

[2017-04-28 13:01] SamVerschueren commented on #142
Don't need to, but thanks :) :beers:

[2017-04-28 13:20] julec commented on #142
Guys, I've updated lint-staged but nothing have changed.

[2017-04-28 13:22] okonet commented on #142
Well, I think there is 1 less. We'll still need to do something about the duplication, it seems. 🤔

[2017-04-28 16:01] SamVerschueren commented on #142
It's because the Listr output is separate from the lint-staged output. I'm open to suggestions. That, or lint-staged should create it's own renderer. I'm willing to do it myself or help out to do it.

[2017-04-28 17:39] okonet commented on #142
If you think such option would be beneficial for Listr, I'd prefer it. Otherwise I could try making a custom renderer but it seems it will be a lot code duplication. Your call.

[2017-04-28 17:44] SamVerschueren commented on #142
I think an option could make sense. I'll have a look at it in a couple of days. Quite busy lately. I'll keep you posted.

[2017-04-28 19:11] okonet commented on #152
If you always commit using `npm run commit` you could add lint-staged before calling `git-cz` and remove the precommit hook. I would not advise doing this, though.

Regarding running twice: it should not. Looking at your config I can't see the reason for that. So you should investigate and create a reproducible example on GitHub if the problem is with this package.

[2017-04-28 19:59] okonet commented on #151
Hey @samit4me! That's a dream report! Thanks for taking time and investigating it.

Reading git documentation it seems clear now why it acts like this:

See https://git-scm.com/docs/git-commit#git-commit---only

So, basically, WebStorm doen's use staged commits (or index). This is causing the this staging behavior after the commit.

I'm not sure how to resolve this in the library but it's an inter

[2017-04-29 03:53] samit4me commented on #151
Thanks @okonet! The problem seems to occur with or without the `--only` flag and appears to be related to using `git add` inside of a pre-commit hook. I asked the question on stackoverflow to see if any Git Masters can help, see [Using git add inside a pre-commit hook](http://stackoverflow.com/questions/43691064/using-git-add-inside-a-pre-commit-hook).

As for the `postcommit` solution, it certain

[2017-04-29 07:36] okonet commented on #151
I have an ongoing work of abstracting the git workflow to even remove the need of `git add` in the config. This is not an easy problem as it turns out because I want to support partially staged files. When it's done it might also solve this issue.

[2017-04-29 07:50] samit4me commented on #151
That sounds great, removing the git commands from the lint-staged config would be fantastic.

[2017-04-29 19:45] asottile commented on #62
http://pre-commit.com handles this (and with fixers) - - you may find the strategy used there useful.

[2017-04-29 20:37] okonet commented on #62
Interesting! Will check it out but it seems they also doesn't manage conflicts from autofixes.

https://github.com/pre-commit/pre-commit/blob/master/pre_commit/staged_files_only.py

[2017-04-29 20:38] asottile commented on #62
It does: https://github.com/pre-commit/pre-commit/blob/1be4e4f82e31336fa5fca096c962c72ac0041537/pre_commit/staged_files_only.py#L50-L58 -- on conflict, the autofixes are rolled back and the unstaged changes are re-applied

[2017-04-29 20:39] asottile commented on #62
Disclaimer: I wrote and maintain pre-commit/pre-commit -- if you have any questions I'd be happy to answer :)

[2017-04-29 21:33] okonet commented on #62
Hey @asottile! I'll definitely ping you for some help. I was referring to the problem that you'll remove the fixes but I see now why it is a better solution. Thanks for chiming in. Please take a look at the git workflow branch if you have time and let me know what you think.

[2017-04-30 14:11] jharris4 commented on #151
I just ran into this exact issue after trying to integrate `prettier` via a pre-commit hook in a project with WebStorm.

After committing a change to a file, I get both a staged and unstaged copy of the file.

Interestingly though, the unstaged file appears to be identical to the staged file (at least from the WebStorm UI). If I run `git add` again, the unstaged file magically disappears.

[2017-04-30 16:21] okonet commented on #151
For now I can only suggest to use CLI to commit files when using pre-commit hook. But I'd be like to resolve this issue somehow. If someone has an idea, please create a PR.

[2017-04-30 16:27] jharris4 commented on #151
I'm trying to get some traction on getting some kind of 'stage prior to commit` option added to IntelliJ/JetBrains: https://youtrack.jetbrains.com/issue/IDEA-135454

[2017-05-01 20:57] KurtPreston opened #157 "How to hide skipped linters"
First, thanks for the awesome package!

I recently updated lint-staged, and found that the recent version outputs all lint tasks, including the ones that didn't run.

Is there a way to have it default to the old behavior of only showing the tasks that run?

Thank!

[2017-05-02 02:45] jharris4 commented on #5
Ouch, this burned me too. I was trying to use `!(node_modules|dist|lib|es)**/*.js` for my pattern. And the minimatch docs say:

```If the pattern starts with a ! character, then it is negated. Set the nonegate flag to suppress this behavior, and treat leading ! characters normally. This is perhaps relevant if you wish to start the pattern with a negative extglob pattern like !(a|B). Multiple ! cha

[2017-05-02 08:57] okonet commented on #157
It was added in https://github.com/okonet/lint-staged/pull/139. You're welcome to discuss it there but I think it's better now since it is more explicit about its behavior. I'm closing this one in favor of the PR discussion.

[2017-05-02 08:57] #157 closed

[2017-05-02 09:14] bmsuseluda opened #158 "jest can't find babel when i'm using gitDir"
Hello okonet,
thank you for your great work.
I'm trying to use jest with lint staged, but when i'm using the "gitDir" option jest can't find babel-jest and so every test fails.

My config:
[code]

My folder structure:
gitFolder -> gui (frontend-app)

`^^^^^^ SyntaxError: Unexpected token import at transformAndBuildScript (gui/node_modules/jest-runtime/build/transform.js:320:12)`

I think the probl

[2017-05-02 12:22] okonet commented on #158
I'm not sure how this can cause this issue. Probably a way how Jest resolves `babel-jest`?

[2017-05-02 14:51] bmsuseluda commented on #158
When i'm using the following option in my jest.json jest finds babel-jest:
[code]
the default for this is in jest is:
[code]
But now every other option in my jest.json points at the gitFolder and not the subfolder gui.
I was playing with the jest option "rootDir" to resolve this, but than, jest can't resolve the files from lint-staged.

Correct me if i'm wrong: I think a general problem with "gitD

[2017-05-03 09:17] okonet commented on #158
AFAIK executables should be located relative to `package.json` and `node_modules` directory in order to work but all paths provided to them are absolute to make `gitDir` option work but since I'm not using this option myself I might be wrong.

[2017-05-03 10:35] bmsuseluda commented on #158
I made another test to isolate the problem. I put the jest config in my package.json, so that i don't need the config-parameter and removed every linting tool, but jest.
My config is than:
[code]
The result is that jest can't find my config at all:
[code]

[2017-05-03 10:50] okonet commented on #158
Can you add `"verbose": true` after `gitDir` to get more output? Can you also check out how is jest got called? Another idea to try: create a script `"run-jest": "jest --findRelatedTests" and use it in the config instead of calling jest directly.

[2017-05-03 10:51] okonet commented on #158
Can you create a GH repo with this setup so I can play around with it?

[2017-05-03 11:03] bmsuseluda commented on #158
The idea to call a npm-script instead of jest directly was a good one. It's working =D
Now all jest internal parameters got the right path.
Thank you very much.

[2017-05-03 11:41] okonet commented on #158
Great. It would be still good to get to the root cause so if you can invest some time into it it would be great!

[2017-05-03 11:44] bmsuseluda commented on #158
You're right. I'm trying to create it by the end of the day.

[2017-05-04 10:10] joelmukuthu opened #159 "bug: can't find npm script if switches are passed"
Not sure if this is a bug in husky or lint-staged but my `lint` script can't be found with this setup:

#### package.json
[code]

#### .lintstagedrc
[code]

As a workaround I added a `lint:fix` script and passed the `--fix` flag there.

[2017-05-05 17:23] Stupidism commented on #62
@okonet I fixed some problems in @leonaves 's code in my [project](https://github.com/Stupidism/react-starter-kit/commit/17066dbdd6454569fb3e81787eb97f39b9888653). I put a PR in [`react-starter-kit`](https://github.com/kriasoft/react-starter-kit/pull/1230/files).

## Problems
Problems fixed:
- [x] when there's nothing to commit and your stash list is not clear, `pos-stash` would pop a stash you do

[2017-05-05 18:52] asottile commented on #62
fwiw in my project I avoid git stash due to all the edge cases and its
tendency to interfere with people who actually use git stash (which my
phone strongly believes should be auto corrected to git Satan). The biggest
problem being that git stash can lose information

On May 5, 2017 10:23 AM, "Stupid" <notifications@github.com> wrote:

[2017-05-05 18:59] Stupidism commented on #62
I didn't find any info loss in this solution(not mean git stash) until now. Can you name it more specificly?
Considering it's just partially stash and stash pop, I think it's quite safe.

[2017-05-05 20:13] asottile commented on #62
Notably:
- git stash + conflicts
- git stash + ^C
- git stash + ^\

popping a stash which conflicts causes the stash to be dropped and the changes evaporating to the aether

[2017-05-05 21:54] Stupidism commented on #62
@asottile I think we should consider it in this `lint partially stage` situation
- git stash + lint + pop => conflicts -- not gona happen using `git read-tree`
- git stash + lint + ^C -- use must run `git stash pop` by hand
- git stash + ^\ -- I don't understand this one...

[2017-05-05 21:58] asottile commented on #62
^\ sends SIGQUIT (it's like ^C but with moar power)

SIGINT (^C) is catchable so you should really try to undo things when it happens
SIGQUIT (^\) is unavoidable in either case so it's really the user's fault if they use this heavy of a sledge hammer (but at least it won't clobber their private state)

`pre-commit` avoids this by maintaining its own patch file separate from the (full of spiders) g

[2017-05-08 10:05] okonet commented on #158
I believe this line makes it behave like this: https://github.com/okonet/lint-staged/blob/master/src/runScript.js#L14

[2017-05-08 11:12] chrisui opened #161 "Feature: Better logLevel option allowing logging streams and more"
Firstly just wanted to say the project is awesome! Mixed with `husky` we now have some really clean hook configuration without the boilerplate we once had. :)

Now for my question. With `{"verbose": true}` set I am still unable to see eslint warnings . This can be super useful for non-blocking hints to developers. I would've expected to see a pretty, ahem, verbose log from all my processes when us

[2017-05-08 11:18] chrisui commented on #161
Current output when there are warnings

[code]

Output when running eslint myself

[code]

Propagating the warning output seen here to lint-staged output would be super valuable to me.

[2017-05-08 11:29] okonet commented on #161
Good point! I'd be happy to include such PR into the project!

[2017-05-08 11:39] chrisui commented on #161
Awesome. @okonet would you be able to give your thoughts on the proposals and musing I listed above?

[2017-05-08 12:38] okonet commented on #161
I'd go with `logLevel: "error" | "warning" | "info" | "verbose"` that should replace `verbose`.

[2017-05-08 12:44] chrisui commented on #161
Sweet. Got this scoped up for my next sprint so should pick up and have a pull request Wednesday!

[2017-05-08 15:16] DeFuex commented on #158
hi @bmsuseluda , i don't know if the issue still persists, but i'm not getting the problem by changing the included test and running `npm run precommit`...is there any step i might have forgotten to get to the problem?

[2017-05-08 15:25] bmsuseluda commented on #158
Hi DeFuex,
in the test i recommend to change the button id to something different for example "fooBar".
After changing the test you have to add the change to git with `git add .` before you are running `npm run precommit`. This is necessary for lint-staged to see the edited files.

[2017-05-08 15:34] bmsuseluda commented on #158
@okonet thanks for the commit. In my opinion it's better to reverse the algorithm from
`res.bin !== 'npm' && options && options.gitDir ? { cwd: options.gitDir } : {}`
to
`res.bin === 'git' && options && options.gitDir ? { cwd: options.gitDir } : {}`
so every execution i can do in the package.json would work in lintStaged.
Just the git executions like `git add` need the gitDir option.

[2017-05-08 15:37] DeFuex commented on #158
@bmsuseluda yeah, im a little bit tired today, seeing the issue now. had some other difficulties 😄

[2017-05-08 16:03] okonet commented on #158
@bmsuseluda good idea! Do you or @DeFuex mind creating a PR for it? I'd add a long-ish comment explaining why it's needed. This should go away when #75 is done (if it's even possible, I still don't know)

[2017-05-08 16:27] bmsuseluda commented on #158
@okonet thanks, i will do it tomorrow.

[2017-05-10 07:19] richardgill commented on #161
I've been having problems getting `stylefmt` to work. I switched on verbose, what I was looking for was a read out of which commands are actually getting run.

e.g. `stylefmt file1.css file2.css` so that I can run the exact same commands lint-staged is running and try to spot obvious errors.

As an aside, I also looked for `lint-staged --verbose` which doesn't currently exist.

[2017-05-10 07:59] richardgill opened #164 "stylefmt example broken for multiple files"
Here is a minimal example: https://github.com/richardgill/lint-staged-stylefmt-bug-example

stylefmt doesn't accept multiple files on the command line. Looks like there used to be a `--list` parameter, but it's not longer there.

Using `--recursive` works for me via `npm run` but doesn't work with lint-staged. I think I am seeing an additional `--` getting added to the command which messes with `s

[2017-05-10 11:41] okonet commented on #164
Yes, as of https://github.com/okonet/lint-staged/blob/master/src/findBin.js#L6

That's needed to be able to pass arguments to npm tasks. See https://docs.npmjs.com/cli/run-script

[2017-05-10 11:45] okonet commented on #164
Is this related to #138?

[2017-05-10 14:56] richardgill commented on #164
#138 would solve this usecase I think

`stylefmt -r '${ paths }'`would work (maybe without the `'`s)

It was also really difficult to figure out that `--` was getting called I've commented here about that in #161

In the past I've manually added the `--`. I see it mentioned in the docs now I look for it, must have missed it!

I actually thing #138 would be how I'd do thing by default, it means a n

[2017-05-10 16:47] okonet commented on #164
Yeah, good suggestion to make it default. I don't know if this will be too verbose though. If you have multiple commands it might become a pain to setup.

[2017-05-10 22:37] kentcdodds commented on #161
I'm starting to use this for running only relevant files with Jest and it would be super to get the raw Jest output as it's running. Maybe slightly less clean, but it's comforting to see what's going on rather than just a spinner. I look forward to seeing something like this :)

[2017-05-11 07:19] jitendravyas opened #165 "Lint staged not working, no error, no warning"
I followed this example https://github.com/okonet/lint-staged#installation-and-setup

Have this in my package.json

[code]
and added this to my `.lintstagedrc` file

[code]

Latest OSX, Node version `v6.10.0` and npm version `3.10.10`

I had stylelint installed already and my stylelint works fine if I run via my grunt task. `grunt stylelint`

I made a change to my existing `.scss` file but don't g

[2017-05-11 07:52] jitendravyas opened #166 "How to use perfectionist tool with it?"
https://github.com/ben-eb/perfectionist

[2017-05-11 11:21] chrisui commented on #161
So after some investigation I think this will be split into two parts:

1. With `verbose: true` we show all output at the end of a step. This unblocks the use case of just wanting to see warnings if there was no error.
2. We stream output of tasks as they are running. This unblocks the use case of wanting to see progress in longer running tasks (eg. jest). This will require more work since `listr`

[2017-05-11 17:15] kentcdodds commented on #161
Might see what [`concurrently`](https://github.com/kimmobrunfeldt/concurrently) does...

[2017-05-11 20:16] okonet commented on #166
You'll need to use https://github.com/postcss/postcss-cli

[2017-05-11 20:19] okonet commented on #165
This warning is a part of pre-commit. You can using husky instead (this is the recommended way now BTW). See README.

[2017-05-11 20:34] jitendravyas commented on #165
husky was not working that is what i m trying to explain at first place

[2017-05-12 07:19] jitendravyas commented on #165
@okonet Do we need to use `husky` and `pre-commit` both?

I uninstalled `pre-commit` and used `husky` and getting this error

[code]

[2017-05-12 07:36] okonet commented on #165
No, just choose one. pre-commit don't have uninstall scripts so you have to clean it up before installing husky probably.

Hmm, the error you're seeing seem to be in my code. Checking.

[2017-05-12 07:47] jitendravyas commented on #165
I ran `npm uninstall pre-commit` to uninstall `pre-commit`

[2017-05-12 08:01] jitendravyas commented on #165
I ran `rm -rf node_modules` and `npm install` and getting this error upon `git commit`

[code]

I think I can't remove all hooks because some other hooks were already there, were added by someone else before.

[2017-05-12 08:10] jitendravyas commented on #165
@okonet
A part of my `package.json` and **stylelint**, **husky**, **lint-staged** are already installed and `.stylelintrc` in root.

Now I'm stucked here

[code]
Error on commit

[code]

[2017-05-12 08:22] jitendravyas opened #169 "If we use husky why this example has "precommit"?"
Here

[code]

[2017-05-12 09:12] jitendravyas commented on #165
Above error is gone now after deleting .git/hooks/pre-commit file but stylelint linting not working I think  now.

<img width="379" alt="monosnap 2017-05-12 14-40-01" src="https://cloud.githubusercontent.com/assets/77309/25991484/edf642ca-3720-11e7-9faf-ae5511efd35f.png">

[2017-05-12 09:13] okonet commented on #169
Please refer to the husky docs.

[2017-05-12 09:13] #169 closed

[2017-05-12 09:15] jitendravyas commented on #169
I did. I think I got confused between "precommit" keyword here and **pre-commit** module you have mentioned here https://medium.com/@okonetchnikov/make-linting-great-again-f3890e1ad6b8

Sorry.

[2017-05-12 09:35] jitendravyas commented on #165
I ran `rm -rf node_modules` and `npm install` again. after deleting `.git/hooks/pre-commit` file and setup everything again from here https://github.com/okonet/lint-staged#installation-and-setup

Now I'm back to this error again https://github.com/okonet/lint-staged/issues/165#issuecomment-301003092

[2017-05-13 05:24] okonet commented on #169
No need to excuse! I should update the blog post. Will do as I have some time. Thanks for using 🚫💩 lint-staged :)

[2017-05-13 16:15] jitendravyas commented on #165
Hi, @okonet are you checking that error or there could be other problem in my setup?

[2017-05-15 09:27] okonet commented on #165
You're probably overwriting the pre-commit with this command:

`"postinstall": "cp git-hooks/* .git/hooks/ && chmod -R +x .git/hooks;",`

[2017-05-15 09:35] motiz88 commented on #62
There's one low-hanging fruit I can see here, in the form of automatically restaging fully-staged files after `--fix`ing them. Assuming most files in most commits are fully staged, this is a significant win - one only ever needs to manually amend a commit if there's a lint fix in a partially staged file.

With this in mind I created [`git-exec-and-restage`](https://github.com/motiz88/git-exec-and-

[2017-05-15 09:59] okonet commented on #62
@motiz88 I think this is amazing! I'd love to integrate this into the core to make the setup even simpler. I think this could be the default behavior. Thoughts?

[2017-05-15 14:34] jitendravyas commented on #165
I removed the line from my package.json file
`"postinstall": "cp git-hooks/* .git/hooks/ && chmod -R +x .git/hooks;",`
and tried to commit a change. I get this in CLI

[code]

[2017-05-15 14:50] okonet commented on #165
Did you clean up the hooks dir and reinstall husky (by running `npm install`) after removing this line? I'm sorry you're going through this by I'm not sure how your team is managing git hooks.

You should probably contact the person who made this.

Did you try `npm run precommit` without the hook? Did it work?

[2017-05-15 17:46] Stupidism commented on #62
@okonet Still can't do partially commit and fix well

@motiz88 what's the equivalent cmds of your cmd `git-exec-and-restage eslint --fix --`?

[2017-05-15 20:11] motiz88 commented on #62
@Stupidism

`git-exec-and-restage eslint --fix -- fullystaged.js partiallystaged.js` would run the following:

1. `git diff --name-only --diff-filter=ACDMRTUXB fullystaged.js partiallystaged.js` (any files returned by this command are not fully staged, so will be excluded in step 3)
2. `eslint --fix fullystaged.js partiallystaged.js` (run the requested command on all files)
3. `git add fullystaged

[2017-05-15 21:47] tnguyen14 opened #170 "Error: fatal: Not a git repository"
When trying to use `lint-staged` and `husky` in a project where the actual node.js project is a child directory of the git repo (as shown below):

[code]

I get the following error:

[code]

When running `npm run precommit`, I see a lot of these errors

[code]

[2017-05-16 01:24] garretto opened #171 "Working in a subdirectory"
My package is in a subdirectory one level into my git repo. I followed the readme but am still getting an error.

Config:
[code]

Result:
[code]

[2017-05-16 06:19] MoOx commented on #62
Thanks for this solution @motiz88, it helps a lot!

[2017-05-16 06:34] garretto commented on #171
Realized I can just run have `"format"` as a command to run scripts in the `scripts` section, instead of `"yarn run format"`

[2017-05-16 06:34] #171 closed

[2017-05-16 10:55] okonet commented on #170
Did you see https://github.com/okonet/lint-staged#working-from-a-subdirectory? What's your config?

[2017-05-16 11:29] benjie commented on #62
I got it working with:

[code]

but I think I'm going simplify and disable auto-fixing, assuming people have it in their editor already - just throw an error on lint fail.

[2017-05-16 14:26] tnguyen14 commented on #170
Ah, I think I put that `gitDir` config as sibling to `lint-staged`, not as a property of. My bad. Thanks for your help.

[2017-05-16 14:42] tnguyen14 commented on #170
FWIW, I'm still getting this error, even with the `gitDir` config.

[code]

[2017-05-16 15:22] okonet commented on #170
Try calling prettier as npm script

[2017-05-16 15:33] okonet commented on #170
There is an open issue re this

[2017-05-16 15:33] #170 closed

[2017-05-16 15:38] tnguyen14 commented on #170
What is the open issue?

[2017-05-16 17:00] tnguyen14 commented on #170
Could you also clarify on what you mean by "try calling prettier as npm script"?

[2017-05-16 17:22] Stupidism commented on #62
@benjie I think conflicts would occur if file changed by `eslint --fix`

[2017-05-17 09:17] benjie commented on #62
@Stupidism Yes, they do in rare cases though they're generally easy to resolve from my testing. Nonetheless I use patch adding enough that I'm just going to use lint-staged as a warning rather than automatically adding the fixes - I like to know exactly what's going into my git history!

What I really want is something like `eslint --fix=exit-nonzero` where if any fixes occur it does them (and wri

[2017-05-17 13:27] okonet commented on #170
https://github.com/okonet/lint-staged/pull/162

You can wait till this is merged or update you config like it's said in the linked issue to this PR

[2017-05-17 13:52] okonet commented on #62
One idea I had in my hard is to have a postcommit hook with fixing and creating a fixup commit. But I don't know how to do this in a reliable way. Does anyone want to explore this?

[2017-05-17 14:07] georeith opened #173 "File matching incorrect"
The following pattern:

```{,!(node_modules|lib)/**/}{.*,*}.js```

Is matching this file:

```lib/my-file.lib.js```

This should not be the case, [See here.](http://www.globtester.com/#p=eJyr1lHUyMtPSY3PzU8pzUktrsnJTNLU19LSr63W09LRqtXLKgYA2YYLqw%3D%3D&r=eJydj80OgjAQhF%2Bl6UkTaYWDiVD6DF48GyiLlrSUdNGITy%2FEqMQE%2Fy6b2WQy840o9IkokyGmlEqBTVYTbDsDKVXOOB8Tv89n4XK1IPczT0jp6jZAfYGYhCwCm1DJtwgeOToLg%2BK223

[2017-05-17 14:17] asottile commented on #62
@benjie http://pre-commit.com does exactly that :)

[2017-05-17 21:10] #158 closed

[2017-05-18 10:58] RusinovAnton opened #174 "Do not pass args into command"
Hi, is there any possibility to not pass any arguments into command. I'm using lint-staged like so:
[code]
So I dont want to pass files args into my build task because it breaks.
`npm run build -- file1.ext file2.ext`

[2017-05-18 14:21] okonet commented on #174
Why would you use 🚫💩 lint-staged otherwise? You can just use git hooks.

[2017-05-19 15:45] RowdyHowell opened #175 "Error after update to 3.4.2, potentially related with gitDir"
After updating to 3.4.2 from 3.4.1 getting this error when running a git commit (lint-staged runs on precommit).  Rolling back to 3.4.1 runs without error.

[code]

This is the config in package.json:

[code]

I'm running on windows 10.  This is part of an Ember application that's one folder nested in the git repository.

[2017-05-19 17:48] okonet commented on #175
Not good. Seems to be related to https://github.com/okonet/lint-staged/pull/162

[2017-05-19 17:48] okonet commented on #175
Oh it seems the config isn't valid. Please refer to the docs and fix it.

[2017-05-19 18:47] okonet commented on #173
Here is how we match files: https://github.com/okonet/lint-staged/blob/master/src/generateTasks.js#L11

Can you see the problem here?

[2017-05-19 19:38] RowdyHowell commented on #175
Got it!  Don't know why that was working on 3.4.1. Thanks!

If anyone hits in in the future this is the correct config:

[code]

[2017-05-19 19:38] #175 closed

[2017-05-21 07:42] FrancisMurillo commented on #165
Strangely, I am experiencing the same error. I removed the `node_modules` folder and `pre-commit` hook and then reinstalled via `npm install` which tells me `I shall not pass` although running `npm run pre-commit` passes by itself.

[2017-05-21 07:51] FrancisMurillo commented on #165
After a brief moment of clarity and looking at `index.js`, I realized I didn't have `"lint-staged": "lint-staged"` in my `package.json` which silently fails `index.js:228`for me. I apologize for the false alarm in my case.

[2017-05-22 14:46] ipland commented on #140
@dan-gamble I came across the same problem 😭 , but I fix that😄.

1) npm uninstall --save-dev husky pre-commit lint-staged.
2) npm install --save-dev husky lint-staged.
3) Configuration like below.

[code]

Hope that it helps.

[2017-05-22 15:21] dan-gamble commented on #140
Thanks @ipland what on there do you think was causing the problem?

[2017-05-22 20:53] shai32 commented on #151
same issue

[2017-05-22 20:55] roytz commented on #151
Same here.. Did a workaround using `git add` on the `postcommit`..

[2017-05-24 10:46] #174 closed

[2017-05-24 23:10] chaucerbao commented on #164
I believe I've been running into this issue lately. Just wondering if there was a working solution around it until a fix is implemented.

It's been overwriting random files, possibly because the first argument for stylefmt is `input-name` and the second is `output-name`.

[code]

[2017-05-29 09:04] GeeWee commented on #151
Same. Used git reset as a postcommit hook. Also webstorm integration with Webstorm.

[2017-05-29 14:42] nataly87s opened #177 "Problem with git task in windows"
when working from a sub directory, using this configuration: (with husky)
[code]

on commiting we get this error:
[code]

[2017-05-29 15:33] #177 closed

[2017-06-01 11:28] georeith commented on #173
@okonet its to do with `matchBase` option which makes a lot of negation patterns very hard to write (I haven't yet found a way to do that).

What are your thoughts about taking glob options in the advanced config to override the default minimatch settings?

[2017-06-01 13:14] #173 closed

[2017-06-02 13:14] maxime1992 commented on #170
Hi ! I do have the exact same problem : Trying to setup prettier on an (angular) Typescript project.

[code]

Did you manage to solve this @tnguyen14 ?

[2017-06-02 13:35] okonet commented on #170
Also a wrong config. See https://github.com/okonet/lint-staged#working-from-a-subdirectory

[2017-06-02 14:42] maxime1992 commented on #170
@okonet I've added the `gitDir` param in my package. Look this [line](https://gitlab.com/linagora/petals-cockpit/merge_requests/340/diffs#37083060967a471c011a16651e22bdc2ade41759_27_32).

Is the problem coming from a missing "linters" property ? I don't really understand why I would need that and how to use it. Maybe I'm missing some context here (https://github.com/okonet/lint-staged#working-from

[2017-06-02 15:22] okonet commented on #170
It's all in the readme: https://github.com/okonet/lint-staged#advanced-config-format

[2017-06-04 15:01] Hotell commented on #152
I have same issue here
https://github.com/Hotell/typescript-lib-starter

![image](https://cloud.githubusercontent.com/assets/1223799/26762728/65e70c50-4947-11e7-99ff-74b549c0cc54.png)

[2017-06-04 15:19] Hotell commented on #152
ha! so this isn't definitely issue with this library, rather than husky is the culprit here. I guess you can close this @okonet

https://github.com/typicode/husky/issues/110

thanks!

[2017-06-05 06:12] okonet commented on #152
PR would be awesome! Thanks for investigating.

[2017-06-05 06:13] #152 closed

[2017-06-05 08:21] BkSouX opened #180 "No information about lint-staged when commiting"
Hi

I don't know what is the problem in my configuration, I don't have any logs about lint-staged.
I use the .lintstagedrc file :

[code]

I have this in my package.json scripts : `"lint-staged": "lint-staged"` and `"precommit": "lint-staged"` on top.

Any help for the configuration please ?

[2017-06-05 10:32] jitendravyas opened #181 "How to show error message (like stylelint) only if commit has .css or .scss files?"

[2017-06-05 14:03] okonet commented on #181
I'm not sure what you mean. Please provide clear details.

[2017-06-05 14:09] okonet commented on #180
The config looks correct. What output do you get when running it?

[2017-06-05 14:10] okonet commented on #180
Are you running precommit via husky? When you don't need the `lint-staged: lint-staged` line.

[2017-06-05 22:03] Hotell commented on #152
cheers ! https://github.com/okonet/lint-staged/pull/182

[2017-06-05 22:37] tnguyen14 opened #183 "Error: ENOENT: no such file or directory, open ''"
Hi,

I am getting the following error when using lint-staged:

[code]

The empty string seems odd to me.

[2017-06-06 11:28] okonet commented on #183
Are you on the latest version? What config are you using?

[2017-06-06 14:07] tnguyen14 commented on #183
I am using v3.4.2

My config is:

[code]

[2017-06-07 07:12] BkSouX commented on #180
When i am commiting I don't see anything about lint-staged.
I use the "precommit" package and not husky.

[2017-06-07 07:25] okonet commented on #180
`precommit` should be `pre-commit` AFAIK but I might be wrong. I'm using and recommend husky for git hooks.

[2017-06-07 09:33] jitendravyas opened #184 "How to use Scssfmt with lint-staged to autoformat code?"
http://scssfmt.com

[2017-06-07 13:27] BkSouX commented on #180
ok i'll try husky.
I just have to add husky as a dev dep and a npm script :
`"precommit": "lint-staged"`
?

[2017-06-07 13:46] okonet commented on #180
Yeah, just follow the readme.

[2017-06-08 01:38] folz opened #185 "Trigger a linter once without passing files?"
Hello, and thanks for a great project!

I'd like to use lint-staged to run the `flow` typechecker if a commit would contain .js files. `flow` does not expect to be passed individual files, and does not need to run once per file; instead, no matter how many .js files are in the commit, `flow` only needs to run once.

I saw #174 - the reason I would like to use lint-staged is because I have other li

[2017-06-08 07:46] BkSouX commented on #180
ok great it works with husky ! Thanks for your help.

[2017-06-08 07:46] #180 closed

[2017-06-08 08:11] okonet commented on #185
This is out of focus of this library. You can use `&` instead of `&&` to run commands in parallel or use concurrent package.

[2017-06-08 08:11] #185 closed

[2017-06-08 19:55] folz commented on #185
Makes sense, I understand. Thanks for your feedback and suggestions!

[2017-06-08 19:58] okonet commented on #165
Can this be closed please?

[2017-06-08 19:59] okonet commented on #181
Closing until proven it's an issue with the lib.

[2017-06-08 19:59] #181 closed

[2017-06-08 19:59] #166 closed

[2017-06-08 20:00] okonet commented on #185
BTW when #138 is done it should be possible to run commands without arguments.

[2017-06-08 20:01] okonet commented on #184
This is similar to stylefmt. This will be possible when #138 is done.

[2017-06-08 20:01] #184 closed

[2017-06-09 10:58] MJ111 commented on #170
@maxime1992

[2017-06-09 12:06] okonet commented on #170
@MJ111 this won't work. You need to use advanced config with `linters` key. See README

[2017-06-09 12:09] MJ111 commented on #170
oh. I didn't know about that. thanks

[2017-06-09 12:12] okonet commented on #170
That's why I encourage people to read the README when something isn't working :)

[2017-06-09 20:11] tnrich commented on #5
Hey there,

I was naively trying to do something like:

[code]

but it doesn't seem to be working. Do I need to do something else to get the functionality I need?

Maybe you could use https://yarnpkg.com/en/package/multimatch instead of minimatch to support what I'm trying to do?

Thanks!

[2017-06-09 21:16] tnrich opened #186 "How to pass options?"
Hey there,

I was wondering how to pass options to lint-staged as there doesn't appear to be an example in the README.

In particular I'm doing:

`"precommit": "lint-staged --verbose",`

but nothing different appears to be happening with the `--verbose` flag so maybe I'm just not using it correctly?

Thanks!

[2017-06-09 21:44] okonet commented on #186
Did you see https://github.com/okonet/lint-staged/blob/master/README.md#options?

[2017-06-09 21:45] okonet commented on #5
Good suggestion. Do you mind creating a PR for that?

[2017-06-09 21:58] tnrich commented on #186
Hey @okonet , I did see that - definitely nice to have a list of what options are available. As for actually using an option though, I'm still unclear on what the correct method is. Did I do it correctly here:

`"precommit": "lint-staged --verbose",`
?

Thanks!

[2017-06-09 22:32] tnrich commented on #186
I PR'd my change but had some issues with ... lint-staged! I think that the prettier options somehow weren't jiving with eslint --fix.. or vice versa. Anyways I might need a little help to get it closed but I think the base is there..
https://github.com/okonet/lint-staged/pull/188

[2017-06-10 06:50] okonet commented on #186
Right now you can only pass options via a configuration object.

What issues did you have with the prettier?

[2017-06-12 10:06] else commented on #186
I am basically having the same question. Do I understand you correct that there is no way to pass options except programmatically? I'd need to set the `gitDir` option.

[2017-06-12 10:35] okonet commented on #186
@else the only way to pass options is via configuration object. See https://github.com/okonet/lint-staged/blob/master/README.md#configuration

[2017-06-12 11:12] iamstarkov opened #192 "[feature request]: Don't show install message if lint-staged is already configured"
it doesnt make sense to install in CI, so it would be nice to skip installation in ci, like husky does
https://travis-ci.org/nordnet/grid/jobs/241978766#L176

[2017-06-12 11:17] else commented on #186
Okay I got it. You simply add it to the same block. I was confused because the output makes you believe it interpretes the `gitDir` as pattern:

[code]

[2017-06-12 12:28] okonet commented on #186
It does, actually. I'm working on better config validation feature to reduce confusion.

[2017-06-12 12:29] okonet commented on #192
Totally agree! It would be awesome if you could create a PR that implements this.

[2017-06-12 15:41] iamstarkov commented on #192
It seems like you dont actually do any install. its just a greeting message. https://github.com/okonet/lint-staged/blob/master/package.json#L9

[2017-06-12 15:41] iamstarkov commented on #192
its confusing

[2017-06-12 15:43] okonet commented on #192
I think you're right and it's worth removing it. The only concern I have is that people who will install it for the first time won't get any message at all. I have a plan on how to improve this and I'll keep this issue in mind.

[2017-06-12 19:38] iamstarkov commented on #192
i though people read projects' README before they install, so if they `npm install lint-staged` they have an idea how to configure it

[2017-06-12 20:46] okonet commented on #192
Haha just check out issues ;)

[2017-06-12 22:02] iamstarkov commented on #192
i know, but i bet its not even 2% of the consumers

[2017-06-15 01:31] jacobbuck opened #194 "Don't show install message if lint-staged is already configured"
Every time I do an `npm install` I get the message:

[code]

However I already have lint-staged set up in my project.

[2017-06-15 05:02] okonet commented on #194
Duplicate of #192. Closing.

[2017-06-15 05:02] #194 closed

[2017-06-16 06:57] shai32 commented on #151
will this be fixed?

[2017-06-16 10:38] avaly opened #195 "Support commands which throw error on `--` argument"
Using certain tools (e.g. Flow v0.48.0: `flow focus-check`) will not run correctly if they don't understand/expect an argument `--`.

**Steps to reproduce**
1. `git init`
1. `npm init -y`
1. `yarn add lint-staged flow-bin@0.48.0`
1. `flow init`
1. `.lintstagedrc`:
[code]
1. `index.js`:
[code]
1. `git add .`
1. `lint-staged`

**Actual result**
The `flow focus-check` command will fail via `lint-stag

[2017-06-16 11:18] avaly commented on #195
FYI: `flow focus-check` only supports one single file as an argument, so using it with `lint-staged` is currently not possible since it will throw error when more than one file is staged.

Hoping this gets addressed in https://github.com/facebook/flow/issues/4189

However this should still be fixed in `lint-staged`.

[2017-06-16 17:42] tnguyen14 commented on #183
FWIW, even with the updated config (adding the `linters` property), I still had the problem.

I then realized that it was caused by the extra space at the end of "prettier --.... --write ".

Thought I should put it here, in case it helps anyone else (hopefully no one makes that silly mistake though).

[2017-06-16 19:14] chaucerbao commented on #164
The workaround I'm using to account for `--` with `stylefmt`  is:

[code]

[2017-06-16 23:23] okonet commented on #151
Don't think so. Try postcommit hook workaround.

[2017-06-18 05:22] #195 closed

[2017-06-19 08:21] daiict218 opened #199 "How to run lint-staged and shell script together in precommit?"
I have written a shell script which will run eslint on the staged file which I want to use in the precommit hook, but I also want to run lint-staged during precommit. How can I do that. My package.json looks something like this :

[code]
I tried using

[code]
  },

[2017-06-19 08:24] okonet commented on #199
You have to add `lint-staged` to the `precommit` task somehow. Simplest way would be to just `&& lint-staged` probably or use `&` if you want to run in parallel.

Please refer to the package documentation you're using for setting and managing git hooks.

[2017-06-19 08:24] #199 closed

[2017-06-19 10:23] #165 closed

[2017-06-19 10:24] #186 closed

[2017-06-19 21:14] shai32 commented on #151
sound like something that need a fix.

[2017-06-19 22:02] samit4me commented on #151
After investigating the issue and looking at the name of this project "lint-staged" I'm sure it can or should be resolved by this library. As the name implies this library lint's staged files but the problem is that IntelliJ (webstore etc.) does not stage files before committing them, it commits them directly.

IntelliJ is paid/supported software and this awesome library is free and available for

[2017-06-20 11:55] jitendravyas opened #200 "Wouldn't it be better to run pre-push?"
This condition also met for pre-push

It runs every time on every commit even when there is no change in css. Would not it be better to run pre-push?

[2017-06-20 11:56] okonet commented on #200
It should not.

I don't think so.

[2017-06-20 11:56] #200 closed

[2017-06-20 12:05] jitendravyas commented on #200
I get this every time even when there are no SCSS in my commit.

![monosnap 2017-06-20 17-33-41](https://user-images.githubusercontent.com/77309/27332260-c3625166-55de-11e7-92d2-9ce8eae7c791.jpg)

[2017-06-20 12:07] okonet commented on #200
It's says `[skipped]`. This was explicitly added in one of PRs

[2017-06-20 12:21] jitendravyas commented on #200
But it still takes few extra seconds. I make small commits frequently.

Why is pre-commit a better idea than pre-push?

[2017-06-20 12:25] okonet commented on #200
I wrote about the reasons in the blog post.

You can try pre-commit instead of husky since I believe it's a bit faster.

[2017-06-21 10:53] okonet commented on #164
@chaucerbao just FYI you might not need this workaround with the latest version since it removes the addition of `--` for non-npm tasks. See #196

[2017-06-21 11:04] okonet opened #201 "Feature: Allow passing arrays of globs"
Sometimes it's desired to pass an array of globs instead of just one glob to simplify negation, for example. Right now this isn't possible since glob is the object key in the JSON notation and making it an array will lead to malformed JSON.

There is a proposed solution https://github.com/okonet/lint-staged/pull/188 to create a special syntax to split strings but IMO syntax isn't very user-friendl

[2017-06-21 17:00] #18 closed

[2017-06-21 17:01] #52 closed

[2017-06-21 19:13] chaucerbao commented on #164
@okonet Confirmed that it works. Thanks!

[2017-06-22 04:13] quanru commented on #151
Mac has the same problem with git version 2.11.0 (Apple Git-81) when i use package.json config, but  it is done well when i use .lintstagedrc.

[2017-06-23 09:42] okonet commented on #151
@quanru not sure how is this related to IntelliJ IDEA issue. Can you elaborate, please?

[2017-06-23 14:18] quanru commented on #151
@okonet it is recoverd after restrat, sorry.

[2017-06-23 14:24] tamj0rd2 opened #202 "Duplicate errors"
lint-staged is giving me duplicate errors. Here are the relevant parts of my package.json

[code]

**Expected errors/output for each command:**

Command: `./node_modules/.bin/tslint --fix {src,test}/**/*.ts`

[code]

Command: `./node_modules/.bin/tslint --type-check -p tsconfig.json {src,test}/**/*.ts`

[code]

Command: `./node_modules/.bin/prettier --tab-width 4 --print-width 100 --write {src,tes

[2017-06-23 18:59] tamj0rd2 commented on #202
This seems to have resolved itself after restarting my computer a few times.

[2017-06-23 18:59] #202 closed

[2017-06-24 16:37] neciu opened #204 "ESLint "negated ignore pattern" not working"
Running ESLint with [negated ignore pattern](http://eslint.org/docs/user-guide/configuring#ignoring-files-and-directories) by hand I'm able to lint `.eslintrc.js` file:

[code]

While using this `lint-staged.config.js` file:
[code]
And running:
[code]

I receive no errors.

Expected result: same output as running command by hand.

[2017-06-27 09:25] okonet commented on #204
Right now lint-staged implicitly adds files as arguments when calling commands:

`eslint --debug  --ignore-pattern '!.eslintrc.js' [space separated list of files here]`

so please try running it like this instead of using glos when trying manually.

I'm wondering if removing `--ignore-pattern` completely will solve this since `.eslintrc.js` will be in the list of staged files.

[2017-06-28 19:42] tnrich opened #205 "How to pass a conditional argument to a command?"
Hey there,
I'm using lint-staged to run tests related to any changed files before committing:
[code]
What happens is that I'll often have snapshot tests that fail that I would like to update, giving me errors that look like this:
[code]
Unfortunately, running `yarn run test:staged -- -u` won't actually work because they rely on lint-staged passing in the list of changed files. Is there some way I

[2017-06-28 20:08] okonet commented on #205
You could just use `test:staged` in the lint-staged config. It will run it with `npm`, though but AFAIK there is no difference on the outcome in doing so.

What kind of variable?

Can you elaborate on what you're trying to do here?

I honestly don't think that updating snapshots in a pre-commit is a good idea ;)

[2017-06-29 06:44] tnrich commented on #205
Hey @okonet , what I'm trying to say above is that I am running a subset of my whole test suite using lint staged. That's great :) However, oftentimes some of the snapshot tests will fail. If it appears that the snapshot tests just need to be updated, I'd like to re-run the same subset of my tests, but this time pass an extra argument to the test (--updateSnapshots).

Does that all make sense?

[2017-06-29 07:02] okonet commented on #205
I'm still not sure if you want this to be a separate step or part of pre-commit hook. As I said, I don't recommend doing this a part of the hook since it will always update snapshots and you'll never get test failures. If you want the first option, I'm also not sure how I can be helpful here.

[2017-06-29 07:10] okonet commented on #205
You might want to write a separate script that takes a list of staged files and passes them do the Jest with the desired argument. Another idea would be to have interactive script that asks you if you want to update those files but right now lint-staged doesn't support that nor Listr default renderer does look good when used with promts. But if you eager to try implementing this, I might accept su

[2017-06-29 07:11] okonet commented on #204
@neciu can this one be closed?

[2017-06-29 18:47] neciu commented on #204
`--ignore-pattern` is required, because `.eslintrc.js` is ignored by ESLint by default.

Running command with explicit list of files also gives the same behaviour:
[code]

Without `--ignore-patern` there is only warning for this file:
[code]

Hope this helps!

[2017-06-30 06:57] JLHwung commented on #62
Inspired from @motiz88 's git-exec-and-restage, could we add a `fullyStagedOnly: boolean` flag to the configuration so that

1. when `fullyStagedOnly` is true, run `lint` only on fully staged files specified by `linters`
2. when `fullyStagedOnly` is false, no extra behavior is introduced. This is the default behavior.

As prettier does not (and will not ever I think) support linting chunks, partia

[2017-06-30 07:03] SimenB commented on #62
It supports ranges today.

https://github.com/prettier/prettier/blob/master/README.md#range

[2017-06-30 07:57] JLHwung commented on #62
Good catch!

It seems that the `range` option is mostly suited for editor integration. If one uses `range` to lint partially staged files, prettier is expected to return the formatted line numbers for git partially staging. Otherwise `git add` will still add unstaged hunks.

[2017-06-30 12:18] okonet commented on #62
@JLHwung I'm wondering if I could just integrate `git-exec-and-restage` and is it by default, what would be the drawbacks?

[2017-06-30 13:49] JLHwung commented on #62
@okonet If `git-exec-and-restage` is enabled by default. There will be a case where devs will NOT have a staged file linted and they might be even unaware of that.

For example, say we have a.js and b.js revised. Say b.js is revised between line 118-128 and line 138-148. The first time we stage a.js and line 118 - 128 of b.js and the linter will run on a.js only. Now the second time we find the li

[2017-07-03 12:13] gabrielhpugliese commented on #195
Did that last PR fixed this issue? It doesn't seem related to me. I still experience problems with flow :)

[2017-07-03 19:19] yurasid opened #206 "Lint-staged throws error and show lint msg 3 times on windows"
Plugin throws error after lint message.

I tested this on 2 different PC with windows 10 pro with git-bash and powershell.
And same result, and no idea how can I fix this.

[Test repo to reproduce on windows](https://github.com/yurasid/lint-staged-throw-error-on-windows)

Package json:
[code]

**Test list-staged with precommit husky script**

[code]
Output:
[code]

**Precommit message**

[code]
Ou

[2017-07-04 10:54] okonet commented on #206
Is this a duplicate of https://github.com/okonet/lint-staged/issues/142?

[2017-07-04 10:59] okonet commented on #62
@JLHwung I'm not sure I completely understood your example, TBH. I believe `git-exec-and-restage` will run on both files but if you stage just a hunk of b.js, the second change will be discarded during the run of linter, so you'll lint/process only this hunk. After it's done, `git-exec-and-restage` will revert the second change in b.js so when you run pre-commit on it, it will be linted again. Wha

[2017-07-04 13:53] yurasid commented on #206
Oh, I was confused by word "Duplicated" in issue description.
It seems to be same issue.

[2017-07-04 17:03] #206 closed

[2017-07-05 05:36] JLHwung commented on #62
@okonet The workflow of `git-exec-and-restage` is stated [here](https://github.com/okonet/lint-staged/issues/62#issuecomment-301590602). I will explain my example in details. Now we use the `fullystaged.js` and  `partiallystaged.js` as example. Say there is two hunk, namely 1 and 2 of `partiallystaged.js`.

So what will happen after we run
[code]

The `pre-commit` hook runs as:

1. `git-exec-and-r

[2017-07-05 11:51] steric85 opened #207 "Running the linter multiple times"
[code]
I have the above code written in package.json. When I run npm run lint-watch, it runs npm run lint three times each time.
I get the following output:
[code]
Why is this happening?

[2017-07-05 20:25] okonet commented on #207
Probably because you have 3 files that `nom-watch` thinks it should be run on. I honestly don't know and don't think this is related to this package. If it is, please feel free to re-open but provide me with a reproducible repository and better issue description so I can help you.

[2017-07-05 20:25] #207 closed

[2017-07-07 11:38] IgnusG opened #209 "Error `string` and `indent` should be strings"
I'm getting this error message when running lint-staged with husky:
[code]

Config:
[code]
I tested out husky without lint-staged and it worked.
I also tested out lint-staged with no rules which worked as well.

When I modify my rules to only include one test file like this:
[code]

I get this error message:
[code]

**Environment**
*node*: 8.1.3
*npm*: 5.1.0
*husky*: 0.14.3
*lint-staged*: 4.0.1

[2017-07-07 12:11] IgnusG commented on #209
I tried using node 7.9.0 with npm 4.2.0. The error doesn't occur.

The new npm decides to resolve `indent-string` to 2.1.0 and dedupe them. The old one to include `indent-string` 2.1.0 for `listr` and `indent-string` 3.1.0 for `listr-update-renderer`.

[2017-07-08 07:36] quanru opened #210 "config should distinct files and options"
example: gitDir would be regard as a files, so it will generate a task for gitDir:

[code]

code: https://github.com/okonet/lint-staged/blob/master/src/index.js#L53

[2017-07-08 16:23] okonet commented on #210
Thanks for reporting it. I will add better config validation that should solve this in future.

[2017-07-10 13:24] okonet commented on #209
I'd suggest to report this to Listr package since I have no idea how I would resolve this.

[2017-07-11 08:34] jitendravyas opened #211 "Is this allowed, two different type of files in single rule?"
Like this?
[code]

I have seen this example in the readme but my use case is different.

[code]

[2017-07-11 09:07] okonet commented on #211
No, this isn't valid JSON. Why not make it like in second example?

[2017-07-11 09:09] jitendravyas commented on #211
I want to use the same rule for my `.stylelintrc`, `.eslintrc` and any `*.json` file

[2017-07-11 09:17] chilijung commented on #150
@mgol here is another alternative for this repository, with zero config
eslint: https://github.com/Canner/eslint-gitstatus
tslint: https://github.com/Canner/tslint-gitstatus

if you want to implement for other libraries you could use https://github.com/Canner/git-status-filter-file-extension api, for getting the latest modified files.

[2017-07-11 09:22] okonet commented on #211
This is what I use on my projects:

[code]

[2017-07-11 10:43] luftywiranda13 commented on #150
@mgol you can pass `--cache` flag to `eslint`. like `eslint . --cache`. So ESLint will only check changed files.

http://eslint.org/docs/user-guide/command-line-interface#options

[2017-07-13 19:33] tnguyen14 commented on #123
@okonet how would I use the exclude pattern in minimatch to ignore certain files? I need to ignore compiled files. how should my `lint-staged` config look? what I want is something like this:

[code]

However, I don't think `*.js,!public/dist/*.js` is valid minimatch pattern. Do you know how I could use that?

[2017-07-14 16:43] binki opened #212 "postinstall incompatible with Windows"
[code]

As you can see, `cmd`’s `ECHO` does not treat `"` as a string delimiter in the same way that `sh` does. As a result, the `"` is printed in the output and only the first line is displayed.

Additionally, `&& exit 0` seems redundant.

If you want to use an `echo` that behaves consistently cross-platform, should either remove the double-quotes and use two echo commands:

[code]

[code]

[code

[2017-07-17 08:20] okonet commented on #212
Wow that's a detailed bug report. I wish all issues were like this one 💯

[2017-07-17 08:22] #212 closed

[2017-07-17 08:22] #192 closed

[2017-07-17 08:23] #211 closed

[2017-07-17 08:26] okonet commented on #209
@SamVerschueren is this something you aware of or should I add an issue for this (not sure what's the issue though).

[2017-07-17 08:50] okonet commented on #123
@tnguyen14 it seems it is not. And the whole discussion about negation patterns doesn't see to make it easier: https://github.com/isaacs/minimatch/issues/65

I think https://github.com/okonet/lint-staged/pull/188#issuecomment-309735299 will be the solution to this. Thoughts?

[2017-07-17 15:37] tnguyen14 commented on #123
Yes, I think the solution mentioned in that comment and #201 would be ideal, i.e. providing an array of of patterns for matching.

[2017-07-17 19:01] binki commented on #212
It kind of was a rant, sorry xD. Thanks for accepting the simple solution.

[2017-07-18 08:43] slorber commented on #151
Hey all.

I've been having this issue for some weeks now and used the manual add / revert trick to solve the problem. It's annoying but it works.

Can someone explain to me how to automate this workaroud?

Tried that but it does not work:

[code]

Also I'd like to mention that for me there's another strange behavior when doing a commit/push with Intellij and there's a rebase/merge needed. I'm not

[2017-07-18 10:14] kevinchappell commented on #209
@okonet I'm having the same issue. Is this the [Listr](https://github.com/SamVerschueren/listr) you mentioned?

[2017-07-18 10:22] okonet commented on #209
Yes. Weird. Is this related to stylelint? Can someone create a reproducible repo?

[2017-07-18 11:23] IgnusG commented on #209
Issue seems to be fixed for me. npm `5.3.0` resolves the dependencies correctly - the same way npm `4.2.0` does. @kevinchappell try updating npm

[2017-07-18 12:20] martintyler commented on #151
This is also affecting my team - i'm using a quick script as a postcommit, to avoid affecting files you are not committing with a full git reset.

It does: git show --pretty="" --name-only
then just git resets those files

[2017-07-18 12:30] SamVerschueren commented on #209
Weird stuff going on... I will have a look later today and bump the dependency if I know what's going on.

[2017-07-18 12:34] kevinchappell commented on #209
@IgnusG I'm on npm `5.3.0`.

This is definitely a dependency version issue. Removing node_modules and re- `npm install`ing fixed the problem.

[2017-07-18 12:45] julienw commented on #62
@benjie suggestion: run `eslint` first, if this fails run `eslint --fix` and exit with an error code :)

[2017-07-18 12:50] benjie commented on #62
@julienw Thanks for the suggestion, but that'l double the lint time which is already too long :(

[2017-07-18 12:52] julienw commented on #62
Thanks to lint-staged, it's not so long, but yeah I quite missed this would double the time.

[2017-07-18 12:56] benjie commented on #62
I'm considering using `eslint_d` or something to make it faster but I've not got around to it yet. Anyway this is off-topic so I'll shut up :)

[2017-07-18 14:51] okonet commented on #209
Okay I'll close it then. Feel free to re-open if this still occurs to you.

[2017-07-18 14:51] #209 closed

[2017-07-18 17:33] SamVerschueren commented on #209
Weird, `Listr` doesn't directly rely on `indent-string` (https://github.com/SamVerschueren/listr/blob/master/package.json). So yes, `npm`...

[2017-07-26 16:32] adam-moss opened #215 "sh: line 0: exit: too many arguments"
Hi,

I'm just trying this package out and have a couple of scripts I want to run precommit whenever `package.json` is staged:

1) check for any known vulnerabilities
2) check for the existence of a specific set of licenses (for the purposes of this issue lets use MIT but it could be any valid SPDX identifier)

In my `.lintstagedrc` I have:

[code]
Whilst the first part works a.ok the 2nd part fail

[2017-07-26 17:42] okonet commented on #215
Hmm, is adding `#` something bash-specific? I've just received this PR https://github.com/okonet/lint-staged/pull/214 that implements this but I'm not sure this is the best way to solve this considering https://github.com/okonet/lint-staged/issues/138.

I might just spend some time this week and implement a less implicit solution that would allow this.

[2017-07-26 18:54] adam-moss commented on #215
`#` is a bashism, yes, Windows would be `rem` or `::` depending on the circumstance (`rem` generally being the most consistently _reliable_ of the two, and `zsh` has its own way of doing it too, involving `setopt` I think.

So #214 as it stands is probably ok - it is just using `#` as a token to say _and don't append the file list_.  You could choose any token you liked really, or do it another wa

[2017-07-26 19:00] okonet commented on #215
Yeah, there bunch of ideas that would require a breaking change either way so I think it would be good to batch them into one release. If you have something to add to #138 and have concrete examples and ideas, please chime in and comment there.

[2017-07-26 19:53] adam-moss commented on #138
As an additional feature I'd like to see some sort of option allowing the pre-processing of files to support triggering other things, notably unit tests, on a per-script basis.

For example if I had something like

[code]
Then rather than pass `*.js` I'd want to be able to pass `*.spec.js` - i.e. the unit test associated with the file.

That way in a `precommit` action assurance can be given that

[2017-07-26 20:10] adam-moss opened #216 "shareable configs"
Related to #138 it would be nice if the `.lintstagedrc` file could support shareable configs via the `extends` directive, as found in projects such as `eslint` and `commitlint` etc., as this would also common configurations to be re-used and centrally maintained.

[2017-07-26 20:12] adam-moss commented on #215
I've commented on #138, and suggested another feature in #216 so will close this issue 👍

[2017-07-26 20:12] #215 closed

[2017-07-27 07:37] okonet commented on #138
@adam-moss I think pre- and post- processing is a bit out of scope of this package since the goal of it to make the setup as simple as possible.

I believe test runners should be smart enough to be able to figure out what tests needs to be run for a given file. I've implemented this for Jest for instance and it works great for my use cases.

[2017-07-28 20:16] cmalard opened #217 "No colors with TSLint"
Hello there,

First case with TSLint, second case with lint-staged calling TSLint:
![screen](https://user-images.githubusercontent.com/1692136/28734610-16f8096c-73e2-11e7-9d92-350c52673ba5.png)

[2017-07-29 05:22] patrickhousley opened #218 "stylelint execution never finishes"
Config:
[code]

The scss styelint never finishes. I believe it is because I am passing in options to `stylelint` and `lint-staged` appends those with the files to be linted. However, `stylelint` expects the file name or blob to be the second argument before any flags. If I remove the flags to stylelint, it runs fine.

[2017-07-29 17:17] adam-moss opened #219 "husky, nvm, and lint-staged results in multiple calls to `nvm use`"
It would appear when using `husky` and `lint-staged` in an `nvm` environment if an `.nvmrc` file is present in the working directory `nvm use` is executed multiple times.

Whilst this isn't an error per se it is unnecessary and could potentially cause errors down the line if the `.nvmrc` file was edited whilst `lint-staged` was still running.

[2017-07-31 12:39] jitendravyas opened #220 "Can HTMLint this be used with lint-staged?"
https://github.com/htmllint/htmllint-cli

[2017-08-01 15:45] okonet commented on #220
I don't know but you can try and report it back here. I see no reason why not if it supports list of files as arguments.

[2017-08-01 15:45] #220 closed

[2017-08-01 15:46] okonet commented on #219
That should be reported and discussed in husky project.

[2017-08-01 15:46] #219 closed

[2017-08-01 15:46] okonet commented on #218
It might be because of #164

[2017-08-01 15:47] okonet commented on #218
You can create an nom script with flag and use it in lint-staged config.

[2017-08-01 15:47] #218 closed

[2017-08-01 15:48] okonet commented on #217
I use this to enable colors https://github.com/okonet/lint-staged/blob/master/src/index.js#L19

Not sure how TSLint decides to output colors but this can be related.

[2017-08-03 07:38] cirpo commented on #209
same issue here.
npm 5.30. re-ran npm i but the issue is still there. Suggestions?

[2017-08-03 10:54] IgnusG commented on #209
@cirpo remove node_modules, package.lock and then try `npm install`. Hope it helps

[2017-08-03 11:33] cirpo commented on #209
@IgnusG it worked removing package.lock ! thanks

(I tried with yarn and I didn't have any issue)

[2017-08-03 15:06] abelmokadem commented on #146
For future reference, the command works fine if you use it with the `--tty-mode` option.

Example:
[code]

[2017-08-03 16:07] IgnusG commented on #209
Yeah package.lock is still a mess sometimes

[2017-08-04 17:31] niedzielski commented on #62
Enabling caching with the `--cache` option may improve performance but probably not adequately.

[2017-08-09 04:10] Benno007 commented on #186
Thanks, that was useful seeing that config. I wasn't sure how to add it to my package.json config.

I've just put this which I think (hope) is right?

[code]

[2017-08-09 12:54] justinhp commented on #142
Has a resolution to this been found?  Just wondering bc it has some of the less-experienced/new devs confused when they see the error output and depending on how many errors it can get really difficult to read.

[2017-08-10 16:56] wald-tq commented on #150
@okonet I did experimental support for unstaged files in my branch, also used gitty for git access.

[2017-08-11 14:07] ErBlack opened #225 "Git add fails after eslint --fix"
Here the output:

[code]

[2017-08-14 20:08] benmccormick commented on #225
I'm running into this issue as well. Both on 3.3.1 and the latest.  And it started after rebuilding my node_modules, which makes me think that it's a dependency that changed, not the code in this repo

[2017-08-14 20:33] benmccormick commented on #225
Pinning execa to 0.6.0 appeared to fix the issue for me, although I shifted a bunch of other things around, so I can't be completely confident that was the problem

[2017-08-15 17:30] kevinchappell commented on #209
Encountered this once again so thought I would add some info. This time it was related to nvm.
Dev machine is using node v8.2.1 and node_modules are installed based on that but when `lint-staged` was run, .nvmrc switched to v7.3.0...

![screenshot from 2017-08-15 18-17-38](https://user-images.githubusercontent.com/1457540/29327649-c53b2096-81e7-11e7-9f18-54c272c7dd11.png)

For me the fix was:
[cod

[2017-08-16 08:49] okonet commented on #186
@Benno007 the config you posted is wrong. See https://github.com/okonet/lint-staged/blob/master/README.md

tl;dr; here is the correct one:

[code]

[2017-08-16 11:16] Benno007 commented on #186
Interesting! Maybe why we were having some issues on our commit hooks ATM haha.

Thanks, will give that a try.

Sent from my iPhone

[2017-08-18 13:32] baabgai commented on #225
We have the same issue. Instead of linting we use a script to strip accidentally added BOMs from files prior to committing changes.
For a typical commit everything works as expected, but for commits or merges including a lot of files (~40+) we regularly run into this issue.

[2017-08-18 15:34] ron23 commented on #151
Same boat here. The `git reset` does work, but like mentioned, if you have a staging file (x.js), and you commit another file (y.js), the reset will unstage x.js which isn't what we want. I don't want to create unexpected changes in how git works just because of Jetbrain. I Devs that doesn't even use Jetbrain shouldn't be seeing unexpected behavior because of them.

Is there any other solution you

[2017-08-19 19:01] okonet commented on #225
Hmm, interesting. Maybe this is because of running things in parallel? See https://github.com/okonet/lint-staged/pull/149

Could you please try setting `subTaskConcurrency` to 1 and see if that happens again?

[2017-08-19 19:02] okonet commented on #217
Can this issue be closed? It doesn't seem to be active.

[2017-08-19 19:03] okonet commented on #216
Not sure about the value since configs are quite small. But if we could reuse code that will add this feature, I'd consider this.

[2017-08-19 19:04] okonet commented on #205
Can I close this issue?

[2017-08-20 01:58] cmalard commented on #217
Hi @okonet, the issue is still there, why do you want to close it?
Are you waiting something from me?

[2017-08-20 09:23] okonet commented on #217
Yes! I'll not investigate it myself since I'm not using TS so I'd either close it or you could try fixing it and creating a PR. Does it make sense to you? I can help if you have questions but basically I pointed to the place in my code where I try to override what packages are doing.

The problem is that most CLI packages are trying to differentiate between running in the interactive mode and on C

[2017-08-22 06:18] baabgai commented on #225
@okonet, thanks for the hint. Probably I should have figured that out myself from the docs.
Anyway, I can confirm that in my case setting ```subTaskConcurrency``` to 1 solves my issue. I tried running it on a commit with nearly 700 files and it works perfectly as expected now.

thanks!

[2017-08-22 06:59] okonet commented on #225
I'm wondering if the parallel execution is a problematic thing in itself because of this and should be reverted/removed?

[2017-08-22 12:23] benmccormick commented on #225
I certainly did not expect parallel execution.  I think it could be ok, if sync was the default

[2017-08-22 15:21] okonet commented on #225
cc @sudo-suhas

[2017-08-23 03:16] sudo-suhas commented on #225
Yes, right now, it is set to 2 but can be changed to 1. However, I also have a couple of other suggestions:
* On non-windows systems, keep the `chunkSize` as `Number.MAX_SAFE_INTEGER` as there is no need to split the command.
* Override the `concurrency` as 1 for `git add`

I can make a PR to do one or more of these suggested changes.

[2017-08-23 05:39] okonet commented on #225
I'm not sure what is causing it yet but to stay on the safe side I'd disable the concurrent operations by default.

[2017-08-24 05:46] #225 closed

[2017-08-24 10:04] torarnek commented on #225
I had the same issue when committing loads of files, and it was solved by setting concurrency to 1. The reason it failed was that two or more processes tried to do a git add at the same time.

A feature request would be that the final step (git add) should done only when the previous steps have completed.

[2017-08-24 10:45] sudo-suhas commented on #225
@torarnek This is the current behavior already. However, each step like `eslint --fix` can be run concurrently. Meaning that if you had multiple files to be run through the linter, the files would be split into chunks and executed in parallel. This was necessary for windows where there is limitation on the length of command being executed.

[2017-08-24 11:52] okonet commented on #225
The fix must be released already. Please update to latest version. See https://github.com/okonet/lint-staged/releases/tag/v4.0.4

[2017-08-24 19:28] SuEric opened #232 "Commit changes within 2 projects; multiple lint-staged & git hooks"
# Commit changes within 2 projects; multiple lint-staged & git hooks

I've Backend & Frontend project configured on the same repository, let's say I've Backend with ESLint & Frontend with TSLint

**Can I have somehow run both lint-staged configurations when I commit changes on both projects?**

[2017-08-24 19:34] okonet commented on #232
I can't see why not. I assume they are on different sub-paths and 🚫💩 lint-staged works with globs. See the documentation

[2017-08-24 19:37] SuEric commented on #232
Let me share both project package.json config:

**Frontend**
[code]

**Backend**

[code]

[2017-08-24 19:38] SuEric commented on #232
@okonet
If I commit change on Frontend & Backend...
It triggers Frontend precommit but doesn't trigger Backend precommit. There's only 1 git hook ofc

[2017-08-24 19:45] SuEric commented on #232
Actually since 1st (Frontend) lint-staged precommit is successful, the 2nd one (Backend) doesn't trigger because 1st eslint precommit passed.
Any idea how can I fix this?

[2017-08-25 05:33] okonet commented on #232
No. I don't know anything about your setup. Sounds like it's config issue

[2017-08-25 08:31] okonet commented on #232
Okay after looking at the config, I think the problem is that you have 2 package.json files with separate lint-staged configs but you only have 1 pre-commit hook.

I'd suggest:

- Move the lint-staged configuration to a separate `.lintstagedrc` file in the root of your project
- Add both configs to it like this

[code]

- Point your pre-commit hook (sorry I could not see it how you add it in your

[2017-08-25 08:35] okonet commented on #232
This might still make lint-staged confused about file paths so you have to experiment a bit. The setup you have is rather exotic :)

[2017-08-25 16:32] ErBlack commented on #225
Awesome. Thank you.

[2017-08-27 18:45] okonet commented on #232
Can I close this one?

[2017-08-27 18:46] okonet commented on #217
@cmalard should I expect a PR from you or should I close this issue due to inactivity?

[2017-08-27 18:47] #205 closed

[2017-08-27 18:47] #204 closed

[2017-08-27 18:47] #164 closed

[2017-08-27 18:49] okonet commented on #159
Not sure either but I don't think it's us... Reproducible case would be more of a help. Closing for now.

[2017-08-27 18:49] #159 closed

[2017-08-27 18:50] okonet commented on #142
Does anyone wants to stab this one? I'd be happy about a PR

[2017-08-28 06:16] Andrew1024 commented on #151
@slorber
If you make this
`
"postcommit": "git add ."
`
Your solution will work.

[2017-08-28 07:34] slorber commented on #151
thanks @Andrew1024 will try that. Isn't there a risk of adding unstaged files too?

[2017-08-28 07:52] Andrew1024 commented on #151
Yeah, there is. But between reseting files and adding all files, adding seems more harmless.
Besides, usually I add all files and it does not matter much to me.
Maybe your workflow differs much from mine and in that case my solution is not solition at all.

[2017-08-29 13:01] chenop opened #240 "Error: spawn git ENOENT in events.js:160"
version: 4.0.4

[code]

- "`git add`" some files
- "`git commit`" produce:

[code]

 No other node process on background.

[2017-08-29 15:24] luftywiranda13 commented on #240
thanks for reporting this!
can you paste your `.package.json` here for more information?

[2017-08-29 17:04] okonet commented on #240
The config is malformed and missing `linters` property. Please refer to https://github.com/okonet/lint-staged#advanced-config-format

[2017-08-29 17:57] chenop commented on #240
@okonet Thanks for responding - but linters property is optional no?
Here is the package.json:

{
  "name": "SomeName",
  "version": "0.1.0",
  "description": "Desc",
  "engines": {
    "npm": ">=3"
  },
  "scripts": {
    "precommit": "lint-staged",
    "preinstall": "node tools/nodeVersionCheck.js",
    "setup": "node tools/setup/setupMessage.js && npm install && node tools/setup/setup.js",

[2017-08-29 18:05] luftywiranda13 commented on #240
I'm sorry but did you exactly write this line in your config?
[code]

[2017-08-29 18:53] chenop commented on #240
No, no, this is the path to my package.json.
Sorry for not being clear

On Tue, Aug 29, 2017, 9:05 PM Lufty Wiranda <notifications@github.com>
wrote:

[2017-08-29 19:51] okonet commented on #240
Not unless you use the advanced format i.e. if you have anything more than just linters, you have to defined them explicitly. In your case, you want to set `gitDir` so you _have_ to use advanced config.

I'll try to get config validation done soon since it is the most common source of issues.

[2017-08-29 19:53] okonet commented on #240
Try to use the following config:

[code]

[2017-08-30 06:17] chenop commented on #240
Thanks for your answer - But still get the same the error.

[2017-08-30 06:35] okonet commented on #240
I'm not sure but it looks like you pointing it to the wrong place. `gitDir` should be pointed to the root of your project I.e. Where the `.git` directory is.

[2017-08-30 07:51] chenop commented on #240
Oh, So maybe I misunderstood the gitDir definition, checking

[2017-08-30 17:29] okonet commented on #240
Glad you were able to get it sorted!

[2017-08-30 17:29] #240 closed

[2017-08-31 09:21] okonet opened #245 "Blinking test"
During my work on #141 I've encountered the "blinking" test:

[code]

It would be great to make it run deterministic or we should disable it.

[2017-08-31 09:32] luftywiranda13 commented on #245
I'm digging now, currently have no idea about how we should deal with this 😆

[2017-09-01 15:19] cmalard commented on #217
I won't reuse TS & TSLint before some weeks so do not expect a PR from me shortly :-)

[2017-09-01 19:16] SuEric commented on #232
Testing it; sorry for taking it long. Give me some hours please

[2017-09-01 19:30] SuEric commented on #232
@okonet

I used husky for managing hooks; how can I make sure it only executes once?

[2017-09-01 19:57] SuEric commented on #232
@okonet

I've errors cuz one project uses *eslint-plugin-redux-saga* and the other doesn't how to read modules from it's right project folder? Or what am I missing?

**Output**
[code]

What I've seen is that hook runs both package **precommit** scripts. Any idea how to avoid this?
Also lint-staged run linter for all files and not only staged files.

[2017-09-01 22:34] inostia opened #246 "NPM install: lint-staged/index.js not found"
The first time I deployed, everything ran OK. Then, I needed to `rm -r node_modules` on the server. Now I'm getting an `EOENT` error when trying to deploy with Ansible a fresh `node_modules`. When Ansible hits the `npm install` task, NPM throws this error:

`EOENT: no such file or directory, chmod '/path/to/node_modules/lint-staged/index.js`

`npm -v` 4.1.2
`node -v` 7.7.1

Any ideas would be grea

[2017-09-02 01:10] sudo-suhas commented on #246
Are you on windows by any chance? Also, what version of node, npm are you using?

[2017-09-02 01:12] sudo-suhas commented on #246
I have faced similar issues with npm on windows.

[2017-09-02 06:41] okonet commented on #246
@sudo-suhas can you be a help? I'm not a windows user so no idea what can cause this.

[2017-09-02 08:52] sudo-suhas commented on #246
I meant it is a 'blinking' npm issue. Not related to `lint-staged`. Just did an `npm install` for the `package.json` which was shared above. No errors 🤷‍♂️ .

[2017-09-02 19:34] inostia commented on #246
Yeah, I don't know. I reverted to that `npm` version locally (on a Mac, our server is Ubuntu) and installing worked. At a loss here, maybe it's our server environment. I'm closing this as it seems to be a specific issue that's not reproducible, but in case anyone runs into this, removing the `lint-staged` package temporarily, then installing it after a successful `npm install` was a solution. than

[2017-09-02 19:34] #246 closed

[2017-09-04 09:59] okonet commented on #232
Did you try my suggestions?

If there is a regression, please file a separate issue with a repo to reproduce.

[2017-09-04 10:11] okonet commented on #217
Feel free to reopen when you have time to work on it.

[2017-09-04 10:11] #217 closed

[2017-09-04 10:12] okonet commented on #210
This should be closed in #141

[2017-09-04 10:12] #210 closed

[2017-09-04 10:13] okonet commented on #240
See also #141

[2017-09-04 13:04] luftywiranda13 opened #247 "Fix lack of emoji support on Windows"
Emoji isn't supported on windows cmd

like this line
https://github.com/okonet/lint-staged/blob/d99eb3815cbcb7f76d0adf693fe4017c8e31cf7c/src/runScript.js#L50

and this line
https://github.com/okonet/lint-staged/blob/d99eb3815cbcb7f76d0adf693fe4017c8e31cf7c/src/runScript.js#L54

So I'm thinking about using [log-symbols](https://github.com/sindresorhus/log-symbols) to replace those emojis. What do y

[2017-09-04 13:05] sudo-suhas commented on #247
I like it. But wouldn't this be better - https://github.com/sindresorhus/figures?

[2017-09-04 13:05] okonet commented on #247
That's great! I was thinking of replacing them with symbols.

[2017-09-04 13:07] okonet commented on #247
I like the https://github.com/sindresorhus/log-symbols more since it's more focused to the task.

What about Listr? Does it have fallbacks?

[2017-09-04 13:07] luftywiranda13 commented on #247
I prefer log-symbols, because it's not bloated and hmmm has colors 😆

[2017-09-04 13:15] luftywiranda13 commented on #247
yeah, Listr uses log-symbols

[2017-09-04 13:19] luftywiranda13 commented on #247
@okonet I think it's even better to utilize https://github.com/SamVerschueren/listr#promises, ain't it?

[2017-09-04 13:22] okonet commented on #247
@luftywiranda13 in what context? Not sure how it's related to symbols...

[2017-09-04 13:23] sudo-suhas commented on #247
We are utilizing it already. `runScript` returns a promise.

[2017-09-04 13:36] luftywiranda13 commented on #247
ah yeah, how could I miss that 😆

so... is it worth to try if I make a PR to integrate `log-symbols`?

[2017-09-04 13:37] sudo-suhas commented on #247
+1 from me!

[2017-09-04 14:47] okonet opened #249 "Roadmap"
Roadmap and prioritization of issues can be found here: https://github.com/okonet/lint-staged/projects/1

[2017-09-04 14:48] okonet commented on #249
@sudo-suhas @luftywiranda13 can you check it out and add some cards to backlog? I'll try to prioritize them in order of importance. I hope you're ok with me governing this process :)

Also, thoughts and ideas on the process itself are appreciated!

[2017-09-04 14:51] sudo-suhas commented on #249
Will do.

Ha ha.. You must be kidding. Of course I am!

[2017-09-04 14:53] luftywiranda13 commented on #249
sure, we need it to keep this project growing 😎

[2017-09-04 15:00] okonet commented on #249
So I'm trying the format of "Backlog" (always add new stuff here), then "Bugs & Blockers" (most important), "Features" (important), and then "Chores etc." (less important). In each category I'll maintain the order there most important stuff is on top.

Every time one of us have time to do some work, he should try to take cards from the top of most important category first. I hope this will help us

[2017-09-04 15:03] sudo-suhas commented on #249
I am going to have to work on the failing tests first because that makes it difficult to test any changes I do. To some extent, I feel it should be moved to 'Bugs & Blockers'.

[2017-09-04 21:54] ndelangen commented on #225
I was using:
[code]

But after updating this broke with this error:
[code]

I changed my config to:
[code]

This solved my issue.

I think the new default basically renders the boolean option obsolete?

[2017-09-05 05:20] okonet commented on #225
@ndelangen can you please create a separate issue for that? Thanks!

[2017-09-05 05:21] sudo-suhas commented on #245
This has something to do with the order in which the tests are run:
[code]

If `runScript-mock-findBin.spec.js` runs after `test\runAll.spec.js`, the test fails.

[2017-09-05 08:17] okonet opened #257 "Fix failing tests on Windows"
Since we now have Appveyor integration, we should make all tests green as well on Windows.

[2017-09-05 08:19] okonet opened #258 "Fix unicode symbols compatibility on Windows"
Windows doesn't support Emoji in Terminal. In order to fix that we should consider using a universal solution like https://github.com/sindresorhus/log-symbols

Original issue: #284

[2017-09-05 08:19] sudo-suhas commented on #257
Since this issue was created from the roadmap, do I need to add the 'Closes #xyz' directive or will it be closed automatically?

[2017-09-05 08:26] okonet opened #259 "100% test coverage"
We should try to get to 100% coverage to improve confidence and maintainability of the code

[2017-09-05 08:27] okonet opened #260 "Fix Jest usages for mock"
There are some `jest` related things which aren't optimum.

Example - https://github.com/okonet/lint-staged/blob/33a7a4ae6a89603eb929ffe70e3900021a78f307/test/__mocks__/npm-which.js#L1-L14
This isn't using `jest.genMockFromModule` correctly.

Docs - http://facebook.github.io/jest/docs/en/jest-object.html#jestgenmockfrommodulemodulename
Guide - http://facebook.github.io/jest/docs/en/manual-mocks.ht

[2017-09-05 08:28] okonet opened #261 "Integrate and configure eslint-plugin-lodash"
Subj

[2017-09-05 08:29] okonet opened #262 "Introduce `_normalized` property after normalizing config. Also, `Object.freeze` config."
Calling `getConfig` will perform objects merge every time. Although it's deterministic, the operation should be performed once and config should remain immutable after that.

[2017-09-05 08:33] okonet commented on #257
@sudo-suhas it would be cool to reference the issue from commit so it's automatically closed here. Has no relation to the roadmap AFAIK.

[2017-09-05 08:38] okonet opened #263 "Possible false positive in the config validation"
Following config

[code]

causes the following error when running lint-staged:

[code]

Then config is changed to following error disappears:

[code]

[2017-09-05 09:07] sudo-suhas commented on #258
The original issue #284 does not exist. Did you mean #247?

[2017-09-05 12:57] okonet commented on #258
Yeah. I'll close this one and update the Roadmap

[2017-09-05 12:57] #258 closed

[2017-09-05 13:33] MrMamen opened #264 "Eror not finding files?"
[code]

I've simplified the rules in package.json to:
[code]
but it still gives the same error
I'm using "lint-staged": "4.1.0",  "husky": "0.14.3",

[2017-09-05 15:07] okonet commented on #264
Thanks for reporting this. I think we have a regression.

[2017-09-05 15:18] okonet commented on #263
I've identified the problem and it's the sketchy comparison for null/undefined here:

https://github.com/okonet/lint-staged/blob/d99eb3815cbcb7f76d0adf693fe4017c8e31cf7c/src/runAll.js#L17

I'll create a fix soon.

[2017-09-06 12:22] OmgImAlexis commented on #264
Same issue here.

[code]

[2017-09-06 12:23] #263 closed

[2017-09-06 12:34] #245 closed

[2017-09-06 12:34] #257 closed

[2017-09-06 12:34] #264 closed

[2017-09-06 12:35] okonet commented on #264
I've just merged a fix. Please update to the latest version.

[2017-09-06 12:45] OmgImAlexis commented on #264
@okonet updated and I'm still getting the same issue on OSX.

[2017-09-06 12:55] sudo-suhas commented on #264
@OmglmAlexis Could you share your `lint-staged` config? If you could help us reproduce this issue in a fresh project that would be very helpful.

[2017-09-06 13:02] OmgImAlexis commented on #264
[code]

PING: @niftylettuce

[2017-09-06 13:09] luftywiranda13 commented on #261
any particular rules that we're gonna use? or just go with the `recommended`?

[2017-09-06 13:28] okonet commented on #261
`recommended` is good I think

[2017-09-06 13:38] luftywiranda13 commented on #261
okay, i'll take this

[2017-09-06 13:45] sudo-suhas commented on #261
I usually use the full import(`const _ = require('lodash')`) so not all settings will be appropriate but you can refer if you are on the fence about any rule - https://github.com/sudo-suhas/eslint-config-chatur/blob/master/lib/plugin-conf/lodash.js

[2017-09-06 13:50] sudo-suhas commented on #264
@okonet I identified the issue. The commits were squashed and merged with `test: Fix failing tests on Windows (#255)` which meant `semantic-release` thought there were no fixes in the commit.

[2017-09-06 13:52] luftywiranda13 commented on #264
but this is strange, i can comfirm that `lint-staged` v4.1.1 works just fine on my macbook.
I tested on small projects and also big projects

[2017-09-06 13:53] okonet commented on #264
@sudo-suhas okay let's release them as a part of a separate PR please.

[2017-09-06 13:53] sudo-suhas commented on #264
It is actually an edge case where `staged-git-files` returns an error. Once scenario where this might happen is if the directory was not a git repository. But in such cases, the error should be propagated instead of breaking `lint-staged`.

[2017-09-06 13:56] okonet commented on #264
I'm not sure @sudo-suhas since we had issues related to sgf failing with this error before but I didn't see this issue yet.

[2017-09-06 14:01] sudo-suhas commented on #264
If you see the stack trace carefully, you'll notice that the line number in `staged-git-files` when this error occurred was [38 which is an error callback](https://github.com/mcwhittemore/staged-git-files/blob/c7b50a54d6c854f2318b82085047eefa25e7feca/index.js#L37-L39). Which means we did not handle the error being returned by `staged-git-files` correctly. This was fixed though, just needs to be re

[2017-09-06 14:03] luftywiranda13 commented on #264
empty commit should be fine, right? just to trigger semantic-release to release a patch release

[2017-09-06 15:27] okonet commented on #264
Fix is on the way!

[2017-09-07 07:25] #247 closed

[2017-09-07 07:54] sudo-suhas commented on #201
@okonet I think it is possible to support this feature without a backward incompatible config structure change:
[code]

We can easily convert the current structure to this.

[2017-09-07 08:08] okonet commented on #201
@sudo-suhas I like it but not sure about the name `globs`. Any more ideas for it?

[2017-09-07 08:10] okonet commented on #201
@sudo-suhas do you want to implement this one?

[2017-09-07 08:12] okonet commented on #262
Can we use `Object.freeze` and check if it's frozen and return earlier instead of adding `_normalized`?

[2017-09-07 08:45] sudo-suhas commented on #262
Should be possible. But seems a little indirect. With this method, if someone looks at the code will it be obvious that we are checking if the config was normalized? We could make the `_normalized` property non-enumerable, non-writable so as to not confuse users.

[2017-09-07 08:52] sudo-suhas commented on #201
I am okay with `pattern` you had suggested in #188.

Sure, though I would prefer coming to this after dealing with #262.

[2017-09-07 08:53] okonet commented on #201
I think it's much less important TBH. This one will solve real problems for many people.

[2017-09-07 08:54] sudo-suhas commented on #260
@okonet I see that this was prioritized as 'Most Important'. Should I work on this next?

[2017-09-07 08:55] okonet commented on #262
Not sure what's the value here besides the optimization. I'm fine with normalizing multiple times unless we have a performance problem TBH.

[2017-09-07 08:56] okonet commented on #260
I think it's a mistake. I'll move it to chores.

[2017-09-07 09:03] sudo-suhas commented on #262
I think this is also an important question - "How easy is to understand the code?". Not just for others but for us too, 6 months or an year down the line. For example, for someone who is looking at the code for the first time, do you think he'll realise that we are calling `getConfig` multiple times but it does something only the first time? And the next question will be what's the reason for doin

[2017-09-07 09:10] okonet commented on #262
I think that introducing the early return to the `getConfig` function will increase its complexity and won't make things easier.

Right now it's a pure function that always returns the same result for the same input so I think it's okay.

I think it would actually suffice to call it once here https://github.com/okonet/lint-staged/blob/master/src/index.js#L35 and update `runScript` and `generateTas

[2017-09-07 09:19] sudo-suhas commented on #262
I like this solution. However, I think it would work really well with `assertIsNormalized` check in `runScript` and `generateTasks` which would throw an error if it isn't normalized. That way, no assumptions needed.

[2017-09-07 09:26] okonet commented on #262
So `assertIsNormalized` will be a separate function that will check for some non-enumerable property? Correct?

[2017-09-07 09:26] sudo-suhas commented on #262
Yes. Correct.

[2017-09-07 09:27] luftywiranda13 commented on #201
`pattern` sounds good to me

[2017-09-07 09:29] okonet commented on #262
Yeah, seems sane as well. I think I'm fine with either solution that will make code more readable.

[2017-09-07 09:52] okonet commented on #138
Related https://github.com/okonet/lint-staged/issues/201

[2017-09-07 10:34] luftywiranda13 commented on #138
I agree with this:

please note that this is my personal thought 😄

this package's named `lint-staged`, and its description is `run linters on git staged files`. Although we can add support for pre or post processing by utilizing `lint-staged` but `lint-staged` wasn't made for and also not optimized for those kind of things. IMO we need to be focus on what problem this package is trying to solve.

[2017-09-07 14:05] tnguyen14 commented on #201
Since it's an array, should it be `patterns`?

[2017-09-07 18:10] FezVrasta opened #270 "Clarify `gitDir` usage?"
I spent quite some time trying to figure out why my lint-staged config didn't work:

[code]

Then I tried to define `packages/myapp/src/**/*{js,jsx,json}` and it worked.

May you add somewhere in the README this information? (that any pattern must use as root the ones defined as `gitDir`)

[2017-09-08 02:45] sudo-suhas commented on #270
Hey @FezVrasta Could you please share your directory structure?

[2017-09-08 07:52] okonet commented on #201
Yeah, probably `patterns` is better. I'm wondering if a better term can come out of this :) I still don't like `patterns` since it is very ambiguous. But I don't want it to be too long, too.

[2017-09-08 07:53] sudo-suhas commented on #201
`filters`?

[2017-09-08 08:55] okonet commented on #201
I'm wondering if `includes` and `excludes` would be a better choice. Or `files`?

[2017-09-08 11:12] okonet commented on #270
Hey @FezVrasta! Thanks for reporting it. Is that something specific to how minimatch handles that? Could it be resolved by using different set of options? https://github.com/isaacs/minimatch#options

[2017-09-08 11:20] okonet opened #271 "Get rid of `gitDir` config option and be smart about it"
Ideally, users with complex setup should not suffer trying to setup lint-staged right. There are plenty of issues related just to that:

- #270
- #144
- #171
- #143
- https://github.com/okonet/lint-staged/issues/158
etc.

I'm wondering if resolving to git root and taking care of execution context automatically would make `gitDir` option obsolete and solve all those issues and make the DX even bett

[2017-09-08 11:27] sudo-suhas commented on #271
Is it as simple as keep looking in the parent directory until you encounter a git repo?

[2017-09-08 11:57] FezVrasta commented on #270
So, the project looks like a classic lerna repository:

[code]

The only thing that is confusing is that any glob pattern I'm going to use inside `packages/project1/package.json.lint-staged.linters` will work with `/` as root path instead of `packages/project1/` how I would expect in a "non gitDir" situation.

I think the behavior is fine, I'd just like to have this information clearly available i

[2017-09-08 11:58] okonet commented on #271
Well, that's why I created the issue. I don't know yet but it seems like it. I'm probably missing something. For instance there are users with a very unconventional setup https://github.com/okonet/lint-staged/issues/232 so I don't know how it will affect them yet.

[2017-09-08 12:00] FezVrasta commented on #271
If you are going to make this change you'll also want to change the way the glob patterns are matched (changing the root dir to the actual `package.json` folder and not the `.git` folder anymore.

[2017-09-08 12:03] okonet commented on #271
@FezVrasta I'm not sure about that... Why do you think so?

[2017-09-08 12:05] FezVrasta commented on #270
RE:

Because otherwise people will have to (anyway) define in their glob patterns the project path relative to the git root.

[2017-09-08 12:09] okonet commented on #270
Well, I think we can be smarter about it when we have `gitDir` set. We could make globs relative to the `gitDir` which is set to `.` be default. Do you think that would be an improvement?

[2017-09-08 12:11] FezVrasta commented on #270
globs are already relative to the gitDir:

[code]

`src/**/*.js` will not match anything if `gitDir` is set to `..`, you will have to use `project1/src/**/*.js` to make it match something.

If `gitDir` is not set (default to `.`), you can use `src/**/*.js`

[2017-09-08 12:13] clakech opened #272 "Lint-staged but to lint modified files from a pull request ?"
Hi,

I would like to get your feedback about a new tool / enhancement to lint-staged to lint modified files
 from a pull request at build time.

Would you love it ?

What are your ideas to reuse the code from lint-staged to do it ?

WDYT ?

[2017-09-08 12:13] okonet commented on #270
Oh sorry I meant relative to `package.json` of course...

[2017-09-08 12:23] luftywiranda13 commented on #272
I kinda like this idea

But is there any specific task you need to run?
I mean for ESLint, we can run `eslint . --cache` for jest there is `jest --lastCommit`

[2017-09-08 12:24] clakech commented on #272
Yes, We may not be able to use --cache if build environnement is run on another node/agent ?

[2017-09-08 12:34] luftywiranda13 commented on #272
CMIIW I think ESLint reads from .eslintcache, so as long as we commit it in our repo ESLint will be able to check only modified files

[2017-09-08 12:42] clakech commented on #272
@luftywiranda13 nice idea, is it a good practice to commit the eslint cache files ?

[2017-09-08 12:50] clakech commented on #272
@luftywiranda13 BTW can we 'trust' a eslint cached file updated in a PR ? no malicious way to bypass the linter ?

[2017-09-08 12:51] okonet commented on #272
Is this similar to #150?

[2017-09-08 12:55] luftywiranda13 commented on #272
@okonet I think @clakech wants to make a GitHub app with a bot which will get triggered when someone open a PR

[2017-09-08 12:56] luftywiranda13 commented on #272
Sorry, accidentally closed this. Fat fingers :s

[2017-09-08 12:59] clakech commented on #272
@okonet nope I think this is a different use case. #150 is for current local unstaged files. This question is for "every single files modified in the current pull request that cas contains several commits". But yes, this can be out of scope of this lib. I am just getting feedback to find a path to a good solution ;)

[2017-09-08 13:02] luftywiranda13 commented on #272
For ESLint specifically, I personally against the idea of using `--cache` flag on ESLint to make sure the whole codebase get checked if the eslint config or eslint itself get updated

[2017-09-08 13:06] clakech commented on #272
my use case is a legacy project with A LOT of eslint errors / warning and we may need to apply lint config only on new / modified files

[2017-09-08 15:25] okonet commented on #272
Well, if we can ditch `staged-git-files` or make the first step pluggable this will be possible. I'm open for explorations since it might open interesting opportunities.

[2017-09-08 15:26] okonet commented on #272
@clakeh in this case the simplest way to do so is just to have separate `.eslintrc` in different directories. I have the same use case and it's totally covered by eslint.

[2017-09-08 15:30] okonet commented on #138
Another use case is to be able to support any library/linter without modyfing them: https://github.com/facebook/flow/issues/4189

[2017-09-09 02:06] sudo-suhas commented on #270
I just tested this out and I think the current behavior needs to be changed. When I am defining the `lint-staged` config inside a package, I shouldn't have to think about relative paths from a parent folder. And I like the idea of automatically detecting the git directory. That should kill a ton of birds in one shot 😛

[2017-09-09 02:07] sudo-suhas commented on #201
My preference: `filters > patterns > globs > files > includes & excludes`

[2017-09-09 08:31] luftywiranda13 commented on #201
I changed my mind lately, the more I think about this, the more I like `includes/excludes`
### Context

Let's say I have a project, structured like this:
[code]

I want `lint-staged` to run on all `.js` files except for anything inside `app/templates/**`

### Config

[code]

### Why?
* it's easier to read, easier to set-up
* more explicit, everything inside the `excludes` array negates what's insi

[2017-09-09 11:06] sudo-suhas commented on #201
I think it is very hard to categorically identify the better solution because on some level, they are all essentially the same. What we are discussing are very minor implementation details and that's not important. Not _very_ important any way. To me(note the transition to opinion), `['*.js', '!app/templates/**', '!dist/**']` is equally clear. And this is really what we want to pass to the library

[2017-09-09 12:48] luftywiranda13 opened #274 "Use default npm version on appveyor"
There are issues on npm v5.x on Windows

https://github.com/phoenixframework/phoenix/issues/2464
https://github.com/npm/npm/issues/17747
https://github.com/npm/npm/issues/17671

The reason why we get many PRs with *red status* from `greenkeeper` lately

Edited:
currently we're using `npm@latest` on appveyor.
If we set our installation process to use ~npm v5.3~ the default npm version that came wit

[2017-09-09 12:52] luftywiranda13 commented on #274
But there are another thing to be considered, we're using `eslint-config-okonet` that requires installation process to use npm >=3.

That's why we have this line in our travis config https://github.com/okonet/lint-staged/blob/33da9b34d43c6a30ab308dc7b2f66229c63bd9b7/.travis.yml#L6

[2017-09-09 12:56] sudo-suhas commented on #274
Among the issues you linked, people have reported similar problems for npm `v5.3.0` as well. npm 4 might work.

[2017-09-09 12:58] luftywiranda13 commented on #274
Appveyor build failed on #273 where we cached `node_modules` before .
Then @sudo-suhas updated the config to not cache `node_modules`, the build passed

[2017-09-09 13:05] luftywiranda13 commented on #274
On `remove-lockfiles`, I published the project when npm v5.3 was the latest version. There was no problem. Appveyor status turned red when npm introduced v5.4.

I just updated appveyor config of `remove-lockfiles` to use the default npm (v5.3 on node8, v3.10 on node6, v2 on node4). The problem's gone

Now I'm not really sure what to do 🤣

[2017-09-11 09:08] okonet commented on #274
What's the status on this one? Can it be closed or make actionable?

[2017-09-11 13:12] okonet commented on #201
@sudo-suhas technically, it's the same but I think semantics matter. No doubt `excludes` is much easier to read/understand at glance as looking for `!` prepending patterns.

I'm in favor of `inludes` and `excludes` but I'm still open for more suggestions.

[2017-09-11 14:11] luftywiranda13 commented on #274
I'm suggesting to use the default npm version. I've tested on some of my projects and it works.
All PRs from greenkeeper will pass

[2017-09-11 16:02] okonet commented on #274
Okay. What needs to be done?

[2017-09-11 18:24] ashsearle commented on #201
Just in case you hadn't considered this: you can already handle multiple globs by using brace expansion.

The docs have a few examples using it for file extensions (e.g. `".{js,jsx}"` among others)), but you can also use it for the full path: e.g. `"{lib/**/*.js,dist/**/*.js}"`

[2017-09-11 19:42] okonet commented on #201
This won't work with the negation and it's also not intuitive.

[2017-09-12 02:53] sudo-suhas commented on #201
Sure @okonet since 2 of us prefer `includes` and `excludes`, I'll change it to that. Perhaps we can continue this discussion in #273?

[2017-09-12 14:37] chinchang commented on #174
I am using lint-staged to detect if `package.json` is staged and if so, run `yarn install` to update `yarn.lock` file. So I add `yarn install` in the npm scripts section which is getting passed the arguments by lint-staged.

[2017-09-13 05:22] okonet commented on #174
I do the same and I've just created a separate script that does compare yarn.lock files in diff revisions. I don't have the problem with arguments.

[2017-09-13 05:23] okonet commented on #174
This is related to #138

[2017-09-13 05:31] sudo-suhas commented on #138
@okonet I had some rough ideas regarding this. What about a plugin system? We pass the plugin the command/bin, the relevant files and it should return the args which we would then pass to execa. There are some complications due to the chunked execution but it should be doable.

[2017-09-13 07:13] okonet commented on #138
@sudo-suhas I actually like this pretty much. Ideally, we would remove the chunking logic to the plugin as well since it makes the core much more complex IMO. How the API would look like for users i.e. how would you plug a plugin into the config?

[2017-09-13 07:17] sudo-suhas commented on #138
We could do something similar to eslint and allow for defining the module using a string(ex: `plain` for `lintstg-plugin-plain`). We could also allow users to configure the function using `lint-staged.config.js` without mandating a npm module for their requirement.

[2017-09-13 07:46] okonet commented on #138
After having tons of issues with ESLint just because of that, I think I'll be against this but let's continue discussing it. I still don't understand how this will look like in the lint-staged config.

This is a more explicit way of doing this but will limit the user base significantly because of complexity. And since the goal of this feature is to solve problems with popular libraries, I'd prefer

[2017-09-13 07:49] okonet commented on #138
@sudo-suhas the more I think about it the less I think that plugins is a way to go since they will complicate not only the setup but the maintaining part of the lib since we will either need to convert to mono repo or support multiple repos for plugins. Since the scope is limited, I'd rather stick to a more simple solution for now.

[2017-09-13 07:50] okonet commented on #138
Another important question if implicit syntax `{ "*.js": "eslint" }` should be deprecated in favor of more implicit one i.e. `{"*.js": "eslint <paths>" }`

[2017-09-13 10:33] Andrew1024 commented on #270
What if after cosmicconfig() there will be a check for gitDir?

I have the idea of using `git rev-parse --show-toplevel`. But it will return the absolute path of git folder. Will it be useful in this case?

[2017-09-13 12:26] frontsideair commented on #271
The git dir can be found the same way `husky` finds it, and the dependencies are already installed too.

[2017-09-13 12:45] okonet commented on #271
@frontsideair yeah, that is what I was thinking about. I'm not concerned about the implementation but about possible side-effects for some users. But it seems to be safe.

[2017-09-13 12:55] okonet opened #277 "Get rid of advanced config options"
From the beginning the separation of "simple" and "advanced" options felt wrong for me but some requirements wouldn't be met without that. In case we can resolve #271 there is no actual need in other options to be in config.

- [x] `gitDir` should be resolved automatically. See #271
- [x] Deprecate `subTaskConcurrency` since it's not safe to take any other value than `1`
- [x] `chunkSize` can be s

[2017-09-13 12:57] okonet opened #278 "Add scaffolding to the library"
Since lint-staged already a CLI tool, we could back in a `setup` functionality to it that would scaffold and add a config to `package.json`. Ideally, it would work out of the box or ask a few questions about the project (what presets to add: "JS", "CSS", "autofixing" etc.)

I'm open for more suggestions here. Ideas?

[2017-09-13 13:01] okonet commented on #270
I'm closing this one in favor of #271

[2017-09-13 13:01] #270 closed

[2017-09-13 13:03] okonet commented on #261
After some thoughts about it I think we should not do that. See related discussion: https://github.com/okonet/lint-staged/pull/273#issuecomment-328775524

[2017-09-13 13:03] #261 closed

[2017-09-14 10:43] luftywiranda13 commented on #277
Good improvements for UX, +1 for these..

Why don't we support it both as CLI argument and also in the config file?

[2017-09-14 10:45] okonet commented on #277
because this will require to keep the advanced config which I want to drop. Also feels wrong from the UI perspective: verbose mode is intended to be used when something doesn't work as supposed.

[2017-09-15 11:45] okonet opened #280 "Better error handling If config is missing"
Right now, if `lint-staged` is run on a project with no config file, this happens:

[code]

Would be great if lint-staged could say for sure:

[code]

[2017-09-15 11:48] luftywiranda13 commented on #280
Split the last line into multiple lines?
[code]

[2017-09-15 11:50] okonet commented on #280
Even better @luftywiranda13!

[2017-09-15 12:44] #280 closed

[2017-09-15 12:47] okonet opened #282 "Upgrade cosmiconfig to 3.x"
https://github.com/davidtheclark/cosmiconfig 2.x offers caching and [`transform`](https://github.com/davidtheclark/cosmiconfig#transform) function that should potentially make #262 obsolete.

[2017-09-15 12:48] okonet commented on #282
https://github.com/okonet/lint-staged/blob/master/package.json#L74 can be removed as well if we do that.

[2017-09-15 12:51] sudo-suhas commented on #282
3.0 is going to be released soon. We should update to that.

[2017-09-15 12:52] okonet commented on #282
Agreed! Let's wait.

[2017-09-15 12:54] okonet commented on #282
@sudo-suhas I didn't realize you're `#2` contributor of cosmiconfig! 🥇

[2017-09-15 12:55] okonet commented on #282
For that reason I've assigned you ;) Hope you don't mind.

[2017-09-15 13:07] sudo-suhas commented on #282
Ha ha.. It would be a pleasure 😁

[2017-09-15 13:16] timche opened #284 "v4.2.0 can't be installed because index.js is missing"
The latest release v4.2.0 is broken:

[code]

I think this can only be fixed by releasing a new fix version, which includes the `index.js`.

CC @okonet

[2017-09-15 13:17] luftywiranda13 commented on #284
See #283, i've proposed a bugfix. Sorry 😢

[2017-09-15 13:19] timche commented on #284
No worries :) Didn't see this change in the release changelog.

[2017-09-15 13:26] luftywiranda13 commented on #284
It's just a *regular houskeeping* I did in #250 (no feature added, no API changed)
I just missed the `index.js` ✌️ 😞

a new patch version should be released soon!

[2017-09-15 13:28] #284 closed

[2017-09-15 13:50] luftywiranda13 commented on #282
yesss, we have @sudo-suhas here 🎉

[2017-09-15 16:47] clakech commented on #272
I have a commited-git-files module now, forked from staged-git-files. I forked lint-staged too and plug this new module and tada now I got what I wanted.
I may contribute back this once I figure out how to insert my code elegantly.

[2017-09-15 16:49] clakech commented on #272
commited-git-files could be a optional dependency of lint-staged and we could use a npm script:
lint-staged --target-branch origin/master

[2017-09-15 20:07] clakech commented on #272
source is here: https://www.npmjs.com/package/lint-commited

[2017-09-15 23:11] greenkeeper[bot] opened #285 "An in-range update of eslint is breaking the build 🚨"
## Version **4.7.0** of [eslint](https://github.com/eslint/eslint) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/okonet/lint-staged/compare/greenkeeper%2Feslint-4.7.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint
    </td>
  </tr>
  <tr>
    <th align=left>
      Current V

[2017-09-17 03:10] greenkeeper[bot] opened #288 "An in-range update of remove-lockfiles is breaking the build 🚨"
## Version **1.2.2** of [remove-lockfiles](https://github.com/luftywiranda13/remove-lockfiles) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/okonet/lint-staged/compare/greenkeeper%2Fremove-lockfiles-1.2.2">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remove-lockfiles
    </td>

[2017-09-17 03:11] #288 closed

[2017-09-17 03:12] luftywiranda13 commented on #288
I accidentally publish this on `latest` tag

[2017-09-17 03:28] sudo-suhas commented on #282
@okonet cosmiconfig 3.0 has been released. I want to understand a couple of things before upgrading.

Why do you think we should use caching and transform?
From the [cosmiconfig readme](https://github.com/davidtheclark/cosmiconfig#transform)

I think the cache and transform would have been relevant if we were invoking `explorer.load` multiple times.

cosmiconfig now also supports loading the confi

[2017-09-17 06:38] okonet commented on #282
I was under impression that using cache and transform will cache the transformed full config once (on the file system) and won't do that for any consequent calls. Since lint-staged config is rarely changed, I think it could improve the overall time of execution but I might be wrong. Also, transform will save us some work on getConfig optimization I hoped.

[2017-09-17 06:39] okonet commented on #282
I don't think we should use sync mode besides there are clear benefits of doing this. I'd like to stick the code style to be promise based for most parts.

[2017-09-17 07:29] sudo-suhas commented on #282
The cache is in-memory, not useful for our usage right now. But the file-system cache is a good idea. I might try to implement that in cosmiconfig.

[2017-09-17 12:08] okonet commented on #282
Good to know. Not sure how much benefit it will gain without inspecting the bottlenecks first.

[2017-09-17 12:11] sudo-suhas commented on #282
If you have something like stylelint, it has to call `explorer.load` repeatedly for different files or directories. So caching what you know about the config files you found should help. I only started working on cosmiconfig recently so I am just guessing. @davidtheclark will know better.

[2017-09-17 14:30] davidtheclark commented on #282
Yep. The reason I introduced caching was because stylelint wanted to switch from looking up a single configuration, once, to looking up a configuration for every particular file — allowing for different directories to use different configurations, but all linted in the same process. stylelint calls `explorer.load`, then, for every single file it analyzes. That's when in-memory caching should pay o

[2017-09-17 15:40] greenkeeper[bot] opened #290 "An in-range update of remove-lockfiles is breaking the build 🚨"
## Version **1.3.0** of [remove-lockfiles](https://github.com/luftywiranda13/remove-lockfiles) just got published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/okonet/lint-staged/compare/greenkeeper%2Fremove-lockfiles-1.3.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      remove-lockfiles
    </td>

[2017-09-17 15:41] luftywiranda13 commented on #290
This is not a breaking change. All CI passed

[2017-09-17 16:41] #290 closed

[2017-09-17 17:15] luftywiranda13 commented on #278
`lint-staged --init` ?

[2017-09-18 10:23] okonet commented on #282
Okay so it seems to be a not so good fit for us...

[2017-09-18 10:51] okonet opened #291 "Evaluate https://github.com/andreypopp/validated for config validation"
https://github.com/andreypopp/validated

[2017-09-18 16:40] glennreyes commented on #278
Ideally, it detects if prettier or eslint is being used and suggest to add them since these are most common for lint-staged.

[2017-09-18 16:48] okonet commented on #278
@glennreyes yeah, I was thinking about something like that but it might be tricky to do it right. So I think it should be a combination of asking and suggesting.

[2017-09-19 02:07] Ailrun opened #292 "Fails to use node binary in Windows."
Following code breaks windows path like `C:\\Program Files (x86)\\Nodist\\v-x64\\8.2.1\\node.exe`.

https://github.com/okonet/lint-staged/blob/58ea81805272acd89bf23c98b8c1a88ad343456d/src/findBin.js#L35

[2017-09-19 02:19] sudo-suhas commented on #292
Hey @Ailrun, could you please share your lint-staged config?

[2017-09-19 02:21] Ailrun commented on #292
@sudo-suhas Actually, it occurs when I try to run https://github.com/kentcdodds/kcd-scripts

[2017-09-19 02:59] sudo-suhas commented on #292
I have not used `kcd-scripts` before and am not clear on how you would use it. Could you please share your package.json? I might be able to help you so that `lint-staged` runs okay.

[2017-09-19 03:08] Ailrun commented on #292
@sudo-suhas I try to contribute https://github.com/paypal/glamorous, which use `kcd-scripts`, which use `lint-staged`, ...

[2017-09-19 03:09] sudo-suhas commented on #292
I followed the linked issue and took a look at this - https://github.com/kentcdodds/kcd-scripts/blob/master/src/config/lintstagedrc.js. I think this issue can be fixed with a `path.isAbsolute(cmd)` check. @okonet What do you think?

[2017-09-19 03:10] sudo-suhas commented on #292
I am on windows too and being able to test our changes against a package helps.

[2017-09-19 03:12] Ailrun commented on #292
@sudo-suhas Hm... I will try to make an example repo, if time allows..

[2017-09-19 03:18] sudo-suhas commented on #292
@Ailrun No need, I can use https://github.com/paypal/glamorous.

[2017-09-19 03:29] sudo-suhas commented on #292
Continuing this discussion in https://github.com/kentcdodds/kcd-scripts as it is not a lint-staged issue as far as I can tell.

[2017-09-19 05:21] #292 closed

[2017-09-19 12:59] sudo-suhas commented on #291
Is there any reason you'd prefer this over https://github.com/hapijs/joi?

[2017-09-19 13:17] luftywiranda13 commented on #285
Closing this. See https://travis-ci.org/okonet/lint-staged/jobs/277299533#L621
We're using v4.7.1 on latest build

[2017-09-19 13:17] #285 closed

[2017-09-19 13:19] luftywiranda13 commented on #274
Closing this for now.. Looks like #289 is enough

[2017-09-19 13:19] #274 closed

[2017-09-19 13:33] okonet commented on #291
It looks simpler to me. That's why I'd like to play with a bit before I can say,.

[2017-09-19 15:20] filipsuk commented on #151
I ended up using [`--list-different`](https://github.com/prettier/prettier#--list-different) prettier parameter in my precommit hook and removed `--write` parameter. So if there is some formatting to do, the commit fails and you have to run prettier yourself (e.g. via 'external tool'). Webstorm issues were driving me mad.

[2017-09-20 06:51] masaeedu opened #293 "Relint everything when certain files are changed"
If I modify something like my `.prettierrc` or `.eslintrc`, I usually want everything to be processed again (e.g. if I change tab size). `lint-staged` should allow users to specify such files in the config, and should fall through to simply scanning for the directory for supplied globs instead of using staged files when said files are modified.

[2017-09-20 07:32] okonet commented on #293
Duplicate of #138

[2017-09-20 07:32] #293 closed

[2017-09-21 03:21] sudo-suhas opened #294 "Possible bug in script resolution"
I am not 100% this _is_ a bug but here's an extremely convoluted demo:

[code]

I have defined the script entry and am trying to pass additional parameters to it. This is supported if `demo-bin` was installed through npm. If I try to run `lint-staged`, this happens:

[code]

We split the command into `bin` and `args` while using `npm-which`:

https://github.com/okonet/lint-staged/blob/fd79a318985c

[2017-09-21 09:02] okonet commented on #294
Yeah, I think so. We should add tests for this as well. Thanks!

[2017-09-21 18:35] masaeedu commented on #293
@okonet Not sure how #138 is relevant. Regardless of where in the command line invocation you interpolate the path, it doesn't help you change what paths are actually passed. I want the ability to pass every file in the workspace that matches a pattern instead of only staged files, under certain circumstances.

[2017-09-22 08:29] #294 closed

[2017-09-22 16:17] okonet commented on #293
So why not just use the precommit hook with your command? Why do you need 🚫💩 lint-staged?

[2017-09-22 17:23] masaeedu commented on #293
Because I want to do this only in *some* cases, not all the time. If my `prettierrc` changes the tab size from 2 to 4, I need to relint everything. If `prettierrc` hasn't changed, it's fine to only relint staged files.

[2017-09-22 17:54] okonet commented on #293
Well, but that’s exactly what #138 will solve as well. Right now, I’m just using separate script that just ignores passed parameters to it. Does it make sense?

[2017-09-22 18:11] masaeedu commented on #293
@okonet No, #138 doesn't solve this. Assuming I have the definition `"*.ts": "prettier --write"`, being able to put `${ path }` in different positions in that string (or not at all) doesn't help me with the use case outlined above. I need to conditionally change what set of values is substituted for `${ path }`, not where in the command line string it is substituted.

[2017-09-22 18:20] okonet commented on #293
[code]

[2017-09-22 19:57] ltegman opened #296 "Glob issues with 4.2.2 and Prettier"
Starting with `lint-staged` version 4.2.2 I have glob issues when using with husky and prettier. Here's my lint-staged config:

[code]

And here's the error from prettier:
[code]

Anyways, thanks for making this awesome tool and if I have time this weekend I'd be glad to look into this problem myself, just wanted to get this out for others to look at ASAP.

[2017-09-22 21:24] okonet commented on #296
Looks like it’s related to #295.

[2017-09-23 02:28] sudo-suhas commented on #296
@ltegman Could you please share your package.json? I am guessing you have an `prettier` entry in your package.json scripts. Also, could you add `console.log(res.bin, args)` before the following return statement and share the output ?- https://github.com/okonet/lint-staged/blob/1dc3bd60f301f52cb2e96f441338837ae363131e/src/runScript.js#L38-L45

@okonet Maybe we should have an issue template?

[2017-09-23 02:38] sudo-suhas commented on #296
I was able to reproduce the issue with the following package.json:

[code]

[2017-09-23 02:56] sudo-suhas commented on #296
@okonet I am not sure about the solution for this. Right now, `console.log(res.bin, args)` prints this:
[code]

The issue is fixed for this specific case if `--` is added before `--single-quote`. However this can cause issues in other cases:
[code]

I think the right solution would be to not have a `prettier` script.

[2017-09-23 06:10] okonet commented on #296
Thanks for investigating! Yes, the right solution imo would be just removing the `scripts` section for the prettier.

I’m wondering if we should just drop support for implicit `npm run` behavior whatsoever. We looking for the locally installed packages either way. I saw some confusion with this kind of issue before.

[2017-09-23 06:23] sudo-suhas commented on #296
@okonet I think you are right about this being a source of confusion. If I have a bin _and_ a script, the user probably does not expect the npm script to take precedence. Should we just ask the user to write `npm run script-name` instead(in `lint-staged` commands)? This would be a breaking change. We should probably do all the breaking changes in 5.0 branch.

[2017-09-23 09:55] okonet commented on #296
Yes I have been think about doing this for some time now and it’s seems to be a better thing to do. I’ll create the `next` branch next week when I’m back from conference.

[2017-09-23 16:14] aleburato commented on #296
Thanks guys you just saved me a lot of headaches. I had the same issue 👍

[2017-09-23 20:46] ltegman commented on #296
Thanks for looking into this so quickly -- I didn't even realize lint-staged supported referencing npm scripts without using `npm run` until I was reading through this thread. Renaming our prettier script definitely seems like the easiest way around this for now.