[2017-09-24 03:10] sudo-suhas commented on #296
@aleburato @Itegman, Glad to help 😄. And sorry for the bug 😅

[2017-09-25 04:12] #296 closed

[2017-09-25 04:29] sudo-suhas commented on #296
Hey @aleburato, @Itegman, We [just released `lint-staged` `v4.2.3`](https://github.com/okonet/lint-staged/releases/tag/v4.2.3). Do you mind checking if it fixes the issue? Hopefully it did not introduce any new ones.

[2017-09-25 13:31] cloud-walker commented on #296
Hi all, I'm not sure is the same problem, but I've upgraded from 4.1 to 4.2.3 and my configuration now lint ALL the files (staged && not staged).

[2017-09-25 13:34] sudo-suhas commented on #296
@cloud-walker, Could you share your package.json? I suspect that you have a npm script entry to lint all files for the command you try to run with `lint-staged`.

[2017-09-25 13:37] cloud-walker commented on #296
sure!

[code]

[2017-09-25 14:01] luftywiranda13 commented on #296
@cloud-walker IMO it's not a good approach to name your npm scripts like this
[code]

could you try to rename those scripts for example to be
[code]

after that, run `npm run precommit` again.
does `lint-staged` work as expected?

[2017-09-25 14:16] cloud-walker commented on #296
It seems to work with the @luftywiranda13 advice, but to me seems a bit odd this behaviour, is documented somewhere?

[2017-09-25 14:20] sudo-suhas commented on #296
@cloud-walker See https://github.com/okonet/lint-staged#what-commands-are-supported

[2017-09-25 14:20] sudo-suhas commented on #296
However, we are planning to remove this behavior as it seems to cause some confusion.

[2017-09-25 14:28] cloud-walker commented on #296
Thanks!

[2017-09-25 14:29] luftywiranda13 commented on #296
@cloud-walker

glad it helps!

hmmm maybe. Actually we have to know how `lint-staged` run tasks in `precommit` hooks.
This was taken from our readme:

`npm run my-task -- file1.ext file2.ext`

You get why it didn't work like you expect before?

[2017-09-25 15:22] cloud-walker commented on #296
yes its all clear now I've switched to a different script naming, BTW I still think the feature is a bit confusing, maybe 🤔

[2017-09-25 15:25] aleburato commented on #296
Fine for me. Renaming the prettier script is indeed a good practice on my side. I also agree implicit running npm scripts hurts more than it helps.

[2017-09-25 21:43] neonsilk commented on #282
Want to note, too, that cosmicconfig@3 removes support for `--config`, which is useful when running lint-staged from a directory that is not `process.cwd()` (i.e. when used as part of another package). Maybe we could add support for `--config` to lint-staged if we do upgrade to cosmicconfig@3.

[2017-09-25 22:07] ltegman commented on #296
I also had included options in the `prettier` script in my `package.json` so the fix in 4.2.3 didn't work for me. I think not running npm scripts implicitly (or having them take a backseat to similarly named bins) would be the only thing that would fix this use case for me. Renaming the script is an easy enough workaround though :)

[2017-09-28 15:47] rochapablo opened #302 "How to run for entire project"
Well I still don't get it.

I have followed the how to do

[code]

... and it's quite working. What I still missing is the tests

[code]

it says okay, but not all tests have ran. I don't want to run only for the committed files, I want run all.

What am I missing here?

[2017-09-28 16:18] sudo-suhas commented on #302
`lint-staged` deals with staged files. If you want to test all files, change your pre-commit hook command to `lint-staged && jest --bail` and remove `jest --bail` from `lint-staged` commands

[2017-09-28 17:32] #302 closed

[2017-09-28 18:25] rochapablo commented on #302
I don't know what I was thinking.

Thank you.

[2017-09-29 17:22] slorber commented on #151
Thanks @filipsuk I'll try your solution that seems nice. However I prefer using file watchers instead of external tools explicit call

[2017-10-01 10:13] julienw commented on #62
To recap, the issue here is when we automatically run `git add` on files that the developer only partially staged, the direct result being that the full file is committed.

I got an idea: make it possible to configure different commands for partially staged vs fully staged files.

For example, partially staged would have only `eslint` being run while fully staged would have `eslint --fix, git add`

[2017-10-03 05:42] bguiz opened #303 "Support for prepush as well"
Firstly, thanks - this is an awesome library!

As the name of this lib implies, it passes the names of the files - that are currently *staged* for git commit - to the configured `linters`. This it works really well to this effect, and is best employed in a git `precommit` hook.

However, I feel that this lib can be useful beyond this use case, and work quite well to power a git `prepush` hook as w

[2017-10-03 07:32] sudo-suhas commented on #303
This is my personal opinion but this might be an unnecessary optimisation. I would rather run the entire test suite on CI.

[2017-10-03 15:18] okonet commented on #303
I wrote my thoughts on this here: https://github.com/okonet/lint-staged/issues/150#issuecomment-297692665

@bguiz do you want to try implementing this and we'll see if this is a good idea?

[2017-10-03 15:20] okonet commented on #62
@julienw this is feasible but not the best UX IMO. Ideally, developers should not think about commands at all and this should be implementation detail of lint-staged. But I still don't have a solution to the problem that would cover all edge cases.

My concern about your idea is how the config will look like. Ideas?

[2017-10-03 15:47] julienw commented on #62
I'm not entirely sure, but I think the config format will change in #273 anyway so this could be included in the format overhaul. I haven't studied how the proposed format looks like yet.

It's because there are a lot of edge cases that I think this idea is good: it's much more conservative, doesn't try to be clever, but still provides a service to the developer by deciding whether a file is parti

[2017-10-03 18:33] benjie commented on #62
One option is to check out the staged files into a separate folder and lint fix them and add back into the index then commit.

[2017-10-04 00:06] bguiz commented on #303
@okonet yup, allowing you to specify a custom `gitCmd` in the options seems like a great idea. It'll solve the problem that I have at hand, plus also solve the issue of miscellaneous requests that many other devs will have when they wants a list of files that have *x* instead of *y*.

The main catch here is that it since we don't know what command is being used here, there'll need to be validation

[2017-10-04 00:14] bguiz commented on #303
My intent in raising this issue was not to ask a question, but rather to report a bug, so I'd suggest this label instead: https://github.com/prettier/prettier/labels/type%3Abug

[2017-10-04 23:45] JonKrone commented on #142
I took a look at this problem yesterday as a team I work with has been a little frustrated by this, too. Some of our test output can really blow up your screen when printed a few times.

I came across an [option in Listr](https://github.com/SamVerschueren/listr/blob/master/index.js#L36), `nonTTYrenderer`, which defaults to `verbose` . However, when set to `silent`, error output prints correctly.

[2017-10-05 13:09] okonet commented on #142
@JonKrone If it solves it please go for it. Lint-staged can't be used on CI, so we won't have any problem with overriding it I think. The only place where we use verbose renderer is tests but we must set it explicitly I think.

[2017-10-06 03:08] JonKrone commented on #142
Great, I'll work on a PR with tests and all that this weekend. I want to know more about the TTY distinction and why it thinks my output channel isn't a TTY.

[2017-10-06 20:01] okonet commented on #303
Also, considering #277 I might not proceed with this one.

[2017-10-06 20:03] okonet commented on #62
@benjie yes, this is what I'd like to try next TBH. If you have time to work on it, you're welcome to draft a PR!

[2017-10-07 02:07] userUnderC commented on #62
I'm new to this but I'm wondering if this may be related to something I've been seeing.

I work in pycharm and have lint-staged piping to prettier. What will happen to me, is I will commit and push and that workd - and then my committed files will show up as uncommitted but have no changes.

I wonder if `git-exec-and-restage` would help with that?

[2017-10-07 15:45] htalat opened #305 "Error while installing"
Hey! having an error while installing lint-staged. Pasted the debug log below
would be great if you can help me out

[code]

[2017-10-07 15:51] sudo-suhas commented on #305
From what I can make out, this is an npm issue. Could you try running `npm cache verify` and installing `lint-staged` again? If you have yarn installed, you could try that as well.

[2017-10-07 16:00] htalat commented on #305
ran `npm cache verify` and tried installing. didn't work
has to be with npm

[2017-10-07 16:01] sudo-suhas commented on #305
Did you try `npm cache clear --force`?

[2017-10-07 16:20] htalat commented on #305
that did the trick, thanks alot!

[2017-10-07 16:23] #305 closed

[2017-10-07 20:19] TxHawks opened #306 "Scripts that require input"
I prefer most of my `precommit` scripts to be warnings rather than errors, and give you an easy way to opt out on a per-case basis.

For instance, I have a bash script that checks committed files for unresolved merge conflicts by looking for a `>>>>>>` string.  While this is a good thing to check, there may be legitimate reasons to commit such a string when it's not created by a merge conflict, so

[2017-10-09 05:19] TxHawks commented on #306
This seems to be an issue with husky rather than lint-staged. Closing

[2017-10-09 05:19] #306 closed

[2017-10-09 08:33] julienw commented on #62
too magical for my taste... but maybe if this works perfectly I won't even see it. ;)

@userUnderC this issue is only about partially staged files (using `git add -p`). I'd say your problem is something else unrelated to this issue.

[2017-10-09 11:02] chinchang opened #310 "Is negating groups supported?"
I having file matchers set in lint-staged as:

[code]
Also, I have `nonegate` set to `true`.

But even when `app/abc/package.json` changes, the first matcher also runs. I know its related to minimatch, but would appreciate if someone can help in context of lint-staged.

[2017-10-10 05:27] bguiz commented on #303
So no custom `gitCmd` then? 😟

[2017-10-11 04:27] okonet commented on #303
Probably not. This needs more validation. I want this tool to be focused on a single task rather than trying to do everything.

[2017-10-11 04:31] okonet commented on #62
@userUnderC you're probably hitting this #151

[2017-10-11 11:11] bennyn commented on #150
Is there any update on this topic? Because I also want to run my linters on every modified file (not just the staged ones!) without the need having the linters inspecting ALL files.

Here is my case which shows that **lint-staged** doesn't work for modified files: 😢

![Screenshot](https://user-images.githubusercontent.com/469989/31437422-e2aded66-ae8d-11e7-9a3f-db7bb5b8e5e5.PNG)

[2017-10-13 17:26] dlindenkreuz commented on #310
There is an active pull request + discussion for this over at https://github.com/okonet/lint-staged/pull/273

[2017-10-14 18:22] ylnkancheti opened #312 "Not able to formatted the files[Skipped]"
My folder structure has like below.

MyApplication
       --- .Git
       ---------MVC
                -------------MVC
                        ----------------Package.json
                        ---------------.eslintrc.json
                         ---------------- Scripts
                                  ------------------Angular
                                                  -------------

[2017-10-15 03:27] sudo-suhas commented on #312
Your eslint config is the problem. The `format` command uses `prettier-eslint` but `precommit` uses `eslint`. Please see https://github.com/prettier/prettier#eslint. `lint-staged` is running the commands you specified. Closing.

[2017-10-15 03:27] #312 closed

[2017-10-15 21:50] cameronhunter commented on #282
@neonsilk PR #304 adds support for `--config`

[2017-10-16 11:33] riddla commented on #219
The fix is already in a PR, see https://github.com/typicode/husky/pull/176.

[2017-10-16 12:37] mqklin opened #313 "Configure lint-staged for eslint warning"
Hello, thank you for the project!
I want to prevent eslint warnings in my commits, but seems like `lint-staged` checks only eslint errors.
Is it technically possible to check warnings as well?

[2017-10-16 15:02] sudo-suhas commented on #313
See https://github.com/eslint/eslint/issues/2309#issuecomment-219828044

[2017-10-16 15:02] #313 closed

[2017-10-16 15:47] wald-tq commented on #150
@bennyn Sorry for my late reply, you need to add the configuration for unstaged files like this:

[code]

[2017-10-16 16:54] mqklin commented on #313
Wow! Thank you very much!

[2017-10-17 10:18] matthewnessworthy commented on #146
In order to get this to work for me instead of `"csscomb --tty-mode",` I used `"csscomb --tty-mode --",` (not the trailing `--` in the command)

[2017-10-17 14:58] bennyn commented on #150
@wald-tq: Thanks for the hint! I tried it but now I am getting this error (`TypeError: Cannot read property 'push' of undefined` in `gitty`):

**Screenshot**

![unbenannt](https://user-images.githubusercontent.com/469989/31672088-3dd759d6-b364-11e7-825f-053932ed2b79.PNG)

Here is my config:

[code]

Am I doing anything wrong?

[2017-10-17 16:00] wald-tq commented on #150
I think you have to track down your problem. First I would get sure that lint-staged produces the correct output.

I am using lint-staged as part of my webpack build using the webpack-shell-plugin.

[2017-10-18 17:52] mattfysh commented on #271
Anything I can do to help move this along?

[2017-10-19 10:41] okonet commented on #284
@luftywiranda13 did you see https://github.com/typicode/pkg-ok? Should we use it or is ESLint rule enough?

[2017-10-19 10:43] okonet commented on #271
@mattfysh do you think the proposed solution will work? You could create a PR by looking at how husky does it. Probably there is an npm package to do that ;)

[2017-10-20 09:26] luftywiranda13 commented on #284
@okonet it's a nice tool, but I think it's already covered by our ESLint and it's enough. I also think that we barely change our `main`, `bin`, and `files` field, right?

[2017-10-23 10:46] km-tr opened #317 "stylelint error"
If you have version 4.2.3 or higher, you will get an error when running stylelint

[code]

[2017-10-23 10:48] sudo-suhas commented on #317
@km-tr This gives very little to go on. Ideally, you should help us reproduce the error so that we can identify the issue. Could you please share your package.json?

[2017-10-23 11:48] km-tr commented on #317
I'm sorry. I am investigating it because it does not reproduce in another repository.

[2017-10-23 12:27] km-tr commented on #317
@sudo-suhas
I thought it was due to the value returned by npmArgs

https://github.com/okonet/lint-staged/blob/0a1fa41440e788c24fb6725da638d374c7ff6725/src/findBin.js#L9

It is a reproduced repository↓

https://github.com/km-tr/stylelint-lint-staged-error

[2017-10-24 05:10] sudo-suhas commented on #317
@km-tr What you are doing is slightly weird. What is happening is that due to the current configuration, stylelint gets passes the `-s` flag twice:

[code]

Please read this section from the readme - https://github.com/okonet/lint-staged#what-commands-are-supported

You can do any of the following to fix the issue:

### rm package.json script:

`lint-staged` resolves binaries installed in your `no

[2017-10-24 05:10] #317 closed

[2017-10-24 15:58] slorber commented on #151
@Limess can you give us some feedback on your workaround here please?

https://github.com/Financial-Times/cmdb.js/commit/a338ab3a3cb955be9b7cd6e9402bf2e7e92ab56f

[2017-10-27 06:30] perevezencev opened #320 "No staged files match src/**/*.{ts,tsx}"
Why I get this error while run precommit script?

[code]

package.json
[code]

.lintstagedrc
[code]

<img width="196" alt="2017-10-27 9 24 58" src="https://user-images.githubusercontent.com/5954104/32090595-d9cf74cc-baf8-11e7-8e3f-6255a8f76ba1.png">

[2017-10-27 11:17] #320 closed

[2017-10-27 13:26] timm-gs opened #321 "Changes removed from stage during lint?"
(Sorry I did not investigate this further. I just experience data loss, presumably due to this project and just disabled it pending further investigation).

There was a pre-commit hook setup in one repository I used, running `lint-staged`.

I staged some file in Git and then called `git commit`. The lint started, but since I knew that it would fail, I canceled it (`^C`).

Afterwards I had no more

[2017-10-28 11:23] okonet commented on #321
We don't do anything with files, only run commands you requested, so I don't think it could cause it. Although, I think your commands could do that. What's your config?

[2017-10-28 11:24] okonet commented on #310
Yes, #273 is one to watch. Closing this one.

[2017-10-28 11:29] #282 closed

[2017-10-30 08:53] timm-gs commented on #321
The config was:

[code]

Though not sure why `git add` was added in there, if the file was staged already. Possibly to get *all* staged changes committed, but that kind of defeats the whole point of staging partial files. Will have to track ask the colleague.

[2017-10-30 16:01] okonet commented on #321
`git add` is needed in case you want automatically commit the changes produced by prettier. In this case both commands run with staged files passed as argument list.

[2017-10-30 16:04] timm-gs commented on #321
Makes sense. Thanks for the clarification.

Maybe I'll find time this week to reproduce the previous issue and dig in further to find out what exactly caused this.

As it doesn't seem to be related to `lint-staged` as per your explanation I will close this here.

[2017-10-30 16:04] #321 closed

[2017-10-30 18:34] Josamuel opened #323 "Testing with `npm run precommit` works but running lint-staged when commiting does not"
I noticed that when I have files staged and I run npm run pre-commit,
I get the desired behavior of running eslint against staged files when I run `npm run precommit` and I expect the same behavior when I try to  commit a file, but instead of eslint throwing an error, I just see a checkmark next to 'running tasks for *.js' and then the file is committed.

This is the behavior i'd expect to see in

[2017-10-30 19:31] Josamuel commented on #323
Okay I resolved this for now.  I think this issue was caused by trying to add lint-staging to an additional subdirectory of the same git directory.  Not sure exactly what the issue was but I wiped my node_modules and reinstalled them only in one git directory and the pre-commit hook is working as expected now.  This can be closed if no one has additional comments, happy to help debug this further

[2017-10-31 03:02] sudo-suhas commented on #323
Hey @Josamuel, this could have occurred because the pre-commit hook wasn't properly installed. When you installed the dependencies again, that would have fixed it. I am closing this for now, please do comment if you face the issue again.

[2017-10-31 03:02] #323 closed

[2017-11-01 23:25] FerreiraRaphael opened #324 "Strange behavior when working with sub directories"
I have a project that has the following structure:
[code]

When I commit a something on the front folder I receive the following error:
![image](https://user-images.githubusercontent.com/11987481/32302591-9f7b34ea-bf4a-11e7-94ba-1f79dfca41cb.png)

It is trying to find the files inside a folder `front/front`, my lint-staged config is:
[code]

[2017-11-02 00:20] FerreiraRaphael commented on #324
Closing this issue, I was using `getDir` instead of `gitDir`, my bad.

[2017-11-02 00:20] #324 closed

[2017-11-04 00:30] mattfysh commented on #271
I think I'll try to tackle this over the weekend using:

* https://www.npmjs.com/package/find-parent-dir
* `path.relative` to get path of package relative to git
* combine glob in linters config with relative path to package, before checking against absolute paths of staged files

[2017-11-06 15:35] alallier opened #326 "Support git hunks"
If you have two hunks for example `Hunk A` and `Hunk B`. If you stage `Hunk A` but not `Hunk B` and `Hunk B` has an error, lint staged will throw an error. It would be awesome if it support hunk staging

[2017-11-06 21:51] okonet commented on #326
Duplicate of #62

[2017-11-06 21:51] #326 closed

[2017-11-07 16:16] victornoel opened #329 "Detect non-tty output"
When using lint-staged with a tool like gitkraken, the final output contains a bunch of crap because of the animations that are printed by lint-staged.
I suppose it behaves as if it was in an interactive terminal, which is not the case.

If it's already autodetected and gitkraken is just lying to lint-staged, then maybe a flag should be available to disable animations?

[2017-11-08 18:55] Andrew1024 opened #330 "Tests for getConfig.js"
I was looking into tests and found uncovered line 130
`if (!validation.isValid) {
    throw new Error('lint-staged config is invalid... Aborting.')
  }`
I didn't see any mention of usage `isValid` property.

So I looked into source code of `jest-validate` and found that it always return [`true`](https://github.com/facebook/jest/blob/2a2429e127bc539788ccc8a76e69154f90117668/packages/jest-validate/s

[2017-11-09 02:58] sudo-suhas commented on #330
If the config has an unknown option, the following warning is logged:
[code]

As seen in [this test](https://github.com/okonet/lint-staged/blob/0e40d2c72b49a2657af84991062c88b045cc8021/test/getConfig.spec.js#L216-L223), an error is thrown if any option has an invalid value:

[code]

So the `validation.isValid` check is done only if no error was thrown. So I think you are right and we can remove th

[2017-11-09 10:37] okonet commented on #329
You're welcome to create a PR that would fix it. I think the gitkraken is to blame here since it must be reporting the wrong TTY status.

[2017-11-09 10:37] victornoel commented on #329
Yes, I agree, I will see if I can make something up then!

[2017-11-09 10:38] okonet commented on #324
Interesting since in that case lint-staged should have told you you're using an unknown option. Did you see it?

Also `gitDir` will go away soon. #327

[2017-11-11 08:10] #271 closed

[2017-11-11 08:54] sudo-suhas commented on #270
@okonet Other than the `gitDir` option being ignored, there are implications for glob patterns as well.
For example consider a project with the following file structure:

[code]

With `lint-staged@4.3.0`, the config would need to be something like this:
[code]

<details>

<summary>lint-staged output</summary>

[code]

</details>

<br>

With `lint-staged@5`, this simplifies to:

[code]

<details>

[2017-11-11 11:33] victornoel commented on #329
@okonet so to be sure I understand: currently lint-staged already detects the tty status and does not produce animations/colours when it's not an interactive terminal?

[2017-11-11 16:32] okonet commented on #270
@sudo-suhas sure. Could you create a PR for that? Is that ever needed to be clarified since the new way is much more logical?

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-11 16:33] okonet commented on #329
Listr does that for us. lint-staged doesn’t.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2017-11-13 10:06] sudo-suhas commented on #270
Apologies, I somehow missed replying to this. Since release notes serve as our migration guide, it would make sense to show all the changes required for upgrading to `lint-staged@5`. I have updated the release notes, please [take a look](https://github.com/okonet/lint-staged/releases/tag/v5.0.0).

If you want to include this information in the readme as well, let me know. I can make a PR.

[2017-11-13 12:59] harrygreen commented on #296
@luftywiranda13 Thanks for that tip. Before, we had
[code]
Changing this to
[code]
Solved our problem.

[2017-11-15 05:30] JounQin opened #333 "How to ignore npm scripts?"
I have a npm script named `eslint`, then when running task `eslint` in `lint-staged` actually I mean to run `eslint` bin under `node_modules` rather than `npm run eslint` script.

So I can only rename my `eslint` script for now.

[2017-11-15 05:33] sudo-suhas commented on #333
For now, renaming your package.json script is the only option. Something like `lint` would be okay. However, this behavior could be removed in the future. I am closing the issue but feel free to continue the discussion if required.

[2017-11-15 05:33] #333 closed

[2017-11-16 19:22] luftywiranda13 commented on #333
@JounQin see https://github.com/okonet/lint-staged/issues/296#issuecomment-331890580

[2017-11-16 20:27] okonet commented on #270
Thanks @sudo-suhas! You're awesome!

[2017-11-17 03:25] sudo-suhas commented on #270
Thanks @okonet, I appreciate it 😄

[2017-11-18 18:42] awebdeveloper opened #336 "Multiple Package.json files"
Does this support multiple package.json files. I have 2 folders API and UI both have their own package.json. Does lint-staged support that.

[2017-11-19 02:58] sudo-suhas commented on #336
Yes it does. You configure `lint-staged` as you normally would if the git directory and the project root were the same.

Consider a project with the following file structure:

[code]

`lint-staged` can be setup for `prj-1` with the following config:

**.lintstaged.yml**
[code]

[2017-11-19 02:58] #336 closed

[2017-11-19 13:20] #260 closed

[2017-11-19 17:33] awebdeveloper commented on #336
cool. I didn't find a mention of this in the docs. I may have missed it. If i have not, can this be updated.

[2017-11-20 03:11] sudo-suhas commented on #336
You are quite right. Actually, before [`lint-staged@5` release](https://github.com/okonet/lint-staged/releases/tag/v5.0.0), you would have had to configure the `gitDir` for your project and specify the globs relative to the git root. I have [created a PR](https://github.com/okonet/lint-staged/pull/337) which adds the relevant documentation to the readme. Thank you.

[2017-11-20 03:43] awebdeveloper commented on #336
just clarifying.  Say i have 2 folders each with it's own package.json. If i commit a code in folder A it triggers package.json of folder A. If i commit a code in folder b it triggers a package.json in folder b ??

[2017-11-20 04:03] sudo-suhas commented on #336
I had not tested this myself. While `lint-staged` works for multi package projects, `husky`, which is used to setup the pre-commit hooks, doesn't. There is a PR open for this though - typicode/husky#13 and some relevant discussion in typicode/husky#160.

[2017-11-20 04:34] sudo-suhas commented on #336
@awebdeveloper Also see typicode/husky:docs.md@`dev`#multi-package-repository-monorepo. However, this documentation is for the beta version and I am not completely sure how this can be used with `lint-staged` + `lerna`. I might try this out later today if I get some time.

[2017-11-22 05:14] sudo-suhas commented on #336
Hey @awebdeveloper I have created a repo which demonstrates use of `lint-staged` in a multi package monorepo with [`lerna`](https://github.com/lerna/lerna) and [`husky`](https://github.com/typicode/husky) - https://github.com/sudo-suhas/lint-staged-multi-pkg. Hope it helps.

[2017-11-22 16:46] awebdeveloper commented on #336
thanks @sudo-suhas  for everything. Much appreciated. Is Lerna really needed

[2017-11-23 02:55] sudo-suhas commented on #336
If you try to install `husky` in each package, the last package in which you installed it, is the only one for which the pre-commit hook will be run. Which is why you need to install `husky` in the root folder. After that, you could configure `lint-staged` from the root folder with a config which might look like this:

[code]

This also means that you have to install `eslint`, or any other linters

[2017-11-24 06:09] Alex-Mann opened #339 "Staged file not resolving properly"
I am working in a mono repo using `yarn workspaces`, and I have my `lint-staged` setup like so:
[code]

My file structure currently looks like this:
[code]
When I try to test out my precommit hook, it is not getting run on `git commit`, and then when I run it with `yarn precommit` it is giving me this error:
[code]
As you can see, `packages/client` is repeated twice. I am assuming this is a bug. U

[2017-11-24 06:17] sudo-suhas commented on #339
Hey @Alex-Mann could you please answer the following:
- Where is the `lint-staged` config located? Is it in the root or a specific package?
- Which version of `lint-staged` are you using?
- Where are you running `yarn precommit`? Is the `precommit` script configured in the root folder?

[2017-11-24 06:20] Alex-Mann commented on #339
Hey @sudo-suhas, I'm using `lint-staged` `v5.0.0`.

My `lint-staged` config file is located in `/packages/project/package.json`

My pre-commit is hooked in the specific project folder (same as above).

Is this likely the cause of the issue? The reason is, I have different `.eslintrc.js` files for various projects.

[2017-11-24 06:41] sudo-suhas commented on #339
I am unable to reproduce the issue 😞. However, it looks like you might be mixing the [simple](https://github.com/okonet/lint-staged#simple-config-format) and [advanced config](https://github.com/okonet/lint-staged#advanced-config-format)

[2017-11-24 06:42] sudo-suhas opened #340 "Setup debug logs?"
Most of the issues which are created do not have enough info required to identify the root cause. So how about integrating [`debug`](https://github.com/visionmedia/debug)? We could request users to run `lint-staged` with a `--debug` flag in our issue template. Not entirely sure how this would work with `verbose` option though. If @okonet and @luftywiranda13 are in agreement, I can work on this.

[2017-11-24 06:45] sudo-suhas commented on #339
Also, in a monorepo, unless the `precommit` hook is configured in the root package.json, only 1 of the packages can have the `precommit` hook run. Is this behavior desirable?

[2017-11-24 06:49] okonet commented on #340
I’m fine with that if you think this would help us finding the root cause. Go ahead!

[2017-11-24 08:24] vishalmindtickle opened #341 "lint-staged throwing error"
When running lint-staged, it throws error `cannot find module './src'`

I have lint-staged/src present in node_modules btw.

[2017-11-24 09:06] sudo-suhas commented on #341
Hey @vishalmindtickle, could you share the following:
- The version of `lint-staged` you have installed
- Your `lint-staged` config
- Steps to reproduce the issue

[2017-11-24 09:14] vishalmindtickle commented on #341
Hi Suhas. Here's the details:
version: 3.6.1
config:
`"lint-staged": {
    "*.js": "eslint"
  }`

Steps to reproduce:
It was breaking when i tried to commit my code.
Then, i tried:
`$ ./node_modules/.bin/lint-staged`
It throws error as mentioned in previous comment.

[2017-11-24 09:16] sudo-suhas commented on #341
Could you please upgrade to the latest version? You can refer [releases](https://github.com/okonet/lint-staged/releases) for any changes that might be required to upgrade from `v3.6.1`.

[2017-11-24 15:19] julien-f commented on #62
Here is my current approach, it works quite well except that the file are not unstashed on errors:

[code]

[2017-11-24 15:24] luftywiranda13 commented on #340
yeah, like @okonet said. do it if you think it's advantageous 👍

[2017-11-24 15:58] #330 closed

[2017-11-24 19:31] okonet commented on #62
@julien-f do you think if we would incorporate this approach to the lib and do unstash in case of error would solve it? Do you mind creating a PR so I can test it?

[2017-11-24 19:57] asottile commented on #62
@okonet @julien-f having some experience with that strategy, it does work well, you'll want to instead use the following commands (more robust):

from [here](https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42387ed74c/pre_commit/staged_files_only.py#L33-L38)

[code]

and for apply (from [here](https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42

[2017-11-24 23:34] Alex-Mann commented on #339
I actually saw your monorepo example and am going off of that to achieve the functionality that I was desiring, I no longer have the issue 😄

[2017-11-25 04:30] sudo-suhas commented on #339
@Alex-Mann That's great. I'd still like to get to the bottom of this though. I am actually about to make a PR which would add debug logs to better understand what's going wrong.

[2017-11-25 05:01] sudo-suhas commented on #341
@vishalmindtickle Was your issue resolved?

[2017-11-25 05:05] sudo-suhas commented on #232
@SuEric I think this may be helpful for you - [okonet/lint-staged#how-to-use-lint-staged-in-a-multi-package-monorepo](https://github.com/okonet/lint-staged#how-to-use-lint-staged-in-a-multi-package-monorepo)

[2017-11-25 05:18] sudo-suhas commented on #340
Great, will make a PR, probably tomorrow.

[2017-11-26 00:09] Alex-Mann commented on #339
If you could send me a notification when you merge the PR I will revert my repo which caused the error and see if I can provide you some more in-depth details.

[2017-11-26 06:36] sudo-suhas commented on #339
Thanks, will do.

[2017-11-27 06:38] vishalmindtickle commented on #341
Hey Suhas,
It's been resolved. Thanks

[2017-11-27 06:39] #341 closed

[2017-11-28 22:17] iabw opened #345 "Include all files tracked by git, not just those inside cwd"
I have a slightly unconventional repo setup (similar to a monorepo but not using Lerna or any other tool) that I am not currently able to change. It looks like this.

[code]

Changes from the app and js folders get committed together, and I want to lint them together. I was surprised that despite the support for mono-repos and automatic detection of top-level git folder that this didn't work out o

[2017-11-29 00:04] asottile commented on #62
[here's](https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42387ed74c/pre_commit/staged_files_only.py#L32) where I set up `tree`

`git diff` is a porcelain command whereas `git diff-index` is a plumbing command.  Generally tools should only use plumbing commands.  [more on this](https://stackoverflow.com/questions/39847781/which-are-the-plumbing-and-porcelain-commands)

T

[2017-11-29 01:00] alexilyaev commented on #62
@asottile Thanks!

So that worked:
[code]
Patch output is the same, but I guess it has it's benefits over `git diff`.

Interesting that every flag has a story :-).

## Issue with empty patch file

If there are no unstaged files, the patch will be empty, is there an easy way to not run the `apply` if the file is empty? I found `[ -s lint-staged.diff ]` returns `1` or `0` but this didn't work:
[code

[2017-11-29 01:12] asottile commented on #62
lol, at this point it's getting close to "derivative work"

fwiw, here's how pre-commit handles the empty patch: https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42387ed74c/pre_commit/staged_files_only.py#L39

[2017-11-29 01:12] tilgovi commented on #62
I'm not sure there's a way I can see this working with `--fix` unless the fix is applied before the stashing so that the stash is a diff against what will be committed rather than something that was changed before committing.

[2017-11-29 03:07] sudo-suhas commented on #345
@iabw Why not install `lint-staged` and `husky` at the root of your project?

You could have a config like this:

[code]
_Note: All linters would have to be installed in the root pkg._

**OR**

You could install only `husky` at the project root and setup scripts to execute the `precommit` hook in each package:
[code]
This way, each package has it's own `lint-staged` config and linters.

While I am

[2017-11-29 10:40] alexilyaev commented on #62
@asottile Hmm, I'm trying to solve this as a shell command for now.
I'm just missing the proper conditional with `&&` or `||` or something.
Any idea?

@tilgovi The goal is to stash `unstaged` files so that `git add` would not stage them before commit.
This means that `--fix` can't run before the stash, since then we'll have mixed pre-fix unstaged files and post-fix unstaged files.

[2017-11-29 13:25] iabw commented on #345
👍  Thanks for responding so quickly and offering those alternatives.

[2017-11-29 13:25] #345 closed

[2017-11-29 13:36] sudo-suhas commented on #345
Great, my pleasure.

[2017-11-29 18:08] fantapop opened #346 "Concurrency across linters"
I'm trying to run eslint and prettier on the staged files concurrently.  The seem to run in serial when I set up my config like this:

[code]

I was able to work around this by using **.js additionally since they mean the same thing but it seems like there must be a better way and a way to run run more than 2 items concurrently!

[code]

[2017-11-30 03:54] sudo-suhas commented on #346
@fantapop The concurrency is across glob patterns, something like `src/*.js` and `test/**/*.js`. Concurrency across commands for the same set of files isn't supported. Concurrent modification could corrupt the file, when and if, you have commands like `eslint --fix` and `prettier --write`. Additionally, it is a common use-case to include `git add` in the list of commands which won't work with conc

[2017-11-30 07:10] fantapop commented on #346
Okay, thanks for the heads up.   This seems like a desirable use case for those who aren't planning to use this library for modifications.  I'm able to work around the issue for now though so feel free to close.

[2017-11-30 07:11] #346 closed

[2017-11-30 08:58] julienw commented on #62
@tilgovi I don't find a way your suggestion could work. I don't see how you would add the fixes for only the staged hunks, which is a goal. Then the staged and commited hunks won't have the fixes, as they're already in the index and we're not adding them again. And because `--fix` doesn't error if it can change the errors, you wouldn't warned about it.

I still think we shouldn't be too clever and

[2017-11-30 11:26] awebdeveloper opened #347 "is there a lint staged plugin for checking merge conflict"
Is there a lint staged plugin for checking merge conflict

[2017-11-30 12:49] okonet commented on #62
I'm currently actively working on the implementation for it in https://github.com/okonet/lint-staged/pull/75 and looks like my tests just got passed so there is some hope. I'll need to add more tests, though.

The solution I might end up will be a combination of all mentioned approaches.

[2017-11-30 17:05] okonet commented on #62
As @julienw mentioned

I'm running into this problem in my tests. It doesn't look like it's solvable by using files, which we're limited to.

@asottile I'm borrowing your code ATM and it seems like you not even trying to solve this case. Is this for the reason I mentioned above?

[2017-11-30 17:08] asottile commented on #62
yeah, pre-commit handles both of the issues listed above, the entire implementation of this is [here](https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42387ed74c/pre_commit/staged_files_only.py#L1-L73)

I mentioned more on this [back in april in this thread](https://github.com/okonet/lint-staged/issues/62#issuecomment-298193168)

[2017-11-30 17:13] okonet commented on #62
So I'm back to the point there I need to meet a decision of what the expected behavior in case of partially staged files would be. Suggestions?

[2017-11-30 17:15] okonet commented on #62
@asottile I'm confused. How do you handle the case there I have a partially staged file and I'd like to only apply fixes to staged hunks? The code you're referencing saying you just rolling back to the initial patch: https://github.com/pre-commit/pre-commit/blob/41d998f1c46f371c9977dcc9d31d7b42387ed74c/pre_commit/staged_files_only.py#L64-L66

[2017-11-30 17:15] asottile commented on #62
pre-commit does:
- stash changes
- run hooks
- apply stashed changes
    - if this fails (conflicts): roll back hook modifications and retry applying stashed changes

[2017-11-30 17:18] okonet commented on #62
I've just written a test for what I'd like to achieve: https://github.com/okonet/lint-staged/pull/75/commits/fc9a2ae319879c00dcfcc9ec447a16011ac08cd6 could you please take a look a confirm that pre-commit handles that?

[2017-11-30 17:19] okonet commented on #62
@asottile I've borrowed this logic and expanded it to use @Stupidism ideas. Here is the test suite I'm running it against: https://github.com/okonet/lint-staged/pull/75/files#diff-f5002743e0b16c70d5bc43040f1d3847

[2017-11-30 17:23] asottile commented on #62
The main difference is `lint-staged` runs `git add` without prompting.  `pre-commit` takes a more timid stance on this (hooks after all are written by humans and therefore can have mistakes) and leaves it up to the user to ensure changes made by hooks are sane and committable.  As a user, I'd be quite surprised if a tool was running `git add` on my behalf :)

[2017-11-30 17:41] okonet commented on #62
@asottile from your answer I still missing if pre-commit is handling the case I mentioned. With or without user input — that doesn't matter in this case, does it?

[2017-11-30 17:45] asottile commented on #62
Yes it handles the case, if stashed changes conflict with hook fixes, the stashed changes win and the repository state is put back to where it was when the commit started.

[2017-11-30 17:53] okonet commented on #62
@asottile the case I mentioning is a different one. What I'm trying to do is this

1. stash local changes
1. run hooks with fixes
1. if all hooks return 0, add fixes to index
1. apply the local changes back

This is covered by this test: https://github.com/okonet/lint-staged/pull/75/files#diff-f5002743e0b16c70d5bc43040f1d3847R257

Now I'd like to do the same but with partially staged file. This is

[2017-11-30 17:55] asottile commented on #62
pre-commit takes the stance that `3.` above is unacceptable and surprising :)

[2017-11-30 21:54] renke commented on #62
I'd love to see something like this:

1. stash all changes that are not staged
2. do something that modifies files that have staged hunks  (e.g. prettier, eslint)
3. stage any new modification of those files
4. pop all stashed changes

if 4. fails due to confllicts, abort commit and revert everything back to what it was before 1. and tell the user to fix things manually.

[2017-12-01 04:53] sudo-suhas commented on #340
Haven't closed this issue because we need to add a issue template. I am thinking, a simpler version of this -
[stevemao/github-issue-templates:conversational/ISSUE_TEMPLATE.md@`master`](https://github.com/stevemao/github-issue-templates/blob/master/conversational/ISSUE_TEMPLATE.md). Suggestions are welcome.

[2017-12-01 05:00] sudo-suhas commented on #339
@Alex-Mann We just released [`lint-staged@6`](https://github.com/okonet/lint-staged/releases/tag/v6.0.0) which outputs verbose logs in debug mode. It can be enabled with the command line flag `--debug`. Could you please update to the `lint-staged@6` and share the debug logs?

[2017-12-01 06:18] Haroenv opened #348 "Consider adding a changelog"
There was a new major version, but I’m not sure what the breaking changes were. Having a changelog would be nice!

[2017-12-01 06:20] sudo-suhas commented on #348
Hey @Haroenv, you can refer our [releases section](https://github.com/okonet/lint-staged/releases) to know the breaking changes. It also serves as our changelog. This is automatically generated by [`semantic-release`](https://github.com/semantic-release/semantic-release) through commit messages.

[2017-12-01 06:20] #348 closed

[2017-12-01 06:37] Haroenv commented on #348
Oh thanks. Can you add a changelog.md that says to look there? It’s what some projects like redux do

[2017-12-01 06:47] sudo-suhas commented on #348
Ok, will add a link in readme to releases.

[2017-12-01 08:45] okonet commented on #340
The template you mentioned is way too complex. Can we have a really lightweight version with steps to create debug output and asking to provide it if it’s a bug?

[2017-12-01 08:46] okonet commented on #340
We can iterate on it here or in a PR

[2017-12-01 08:47] sudo-suhas commented on #340
I'll try to make a PR tomorrow.

[2017-12-01 08:49] okonet commented on #340
Cool! Thanks!

[2017-12-01 08:50] okonet commented on #347
There are no plugins. You can run arbitrary commands using it.

[2017-12-01 08:50] #347 closed

[2017-12-02 12:11] cakeinpanic opened #350 "Create lint-committed option"
There is a bad fork https://github.com/clakech/lint-committed, which even hadn't updated readme correctly.
Please add `lint-committed` option to let me use your great package instead of that one(

[2017-12-02 13:18] TrySound commented on #350
@cakeinpanic What is the use case? I mean how it can be integrated in process?

[2017-12-02 13:30] cakeinpanic commented on #350
@TrySound i want to push old commits with dirty index with some lint errors and i don't want prepush hook to fail

[2017-12-04 10:13] matej-prokop opened #352 "Pre-commit hook runs for all files rather than only for those that are staged"
I am using simple configuration via package.json:

[code]

During commit of one file, prettier is run for all files (matching `*.js`) in my project rather then only for the file(s) being committed.

After execution of pre-commit hook, I see that hook did modifications in some files which are marked as unstaged by git. (Those files weren't modified before commit)

Using:
[code]

I didn't hit this i

[2017-12-04 10:17] sudo-suhas commented on #352
Hey @matej-prokop, could you update to `lint-staged@6` and share the debug logs? You can enable debug mode by passing `--debug` flag while invoking `lint-staged`. Read more about debug mode here - https://github.com/okonet/lint-staged#command-line-flags.

[2017-12-04 10:35] matej-prokop commented on #352
Hey @sudo-suhas, you are super fast!

I was already using  `lint-staged@6` if you are referring to `lint-staged version 6.0.0`. Here is my debug output:

[lint-stage-issue-35-debug.log](https://github.com/okonet/lint-staged/files/1526660/lint-stage-issue-35-debug.log)

File called `Content.js` is one that is being committed. However, during commit phase prettier was executed also for other files i

[2017-12-04 10:41] sudo-suhas commented on #352
The problem is here:

[code]

You have a script named `prettier` which takes priority. You can also see this in the logs:

[code]

This gets executed using `npm`:

[code]

On the other hand, `eslint` and `git` are resolved correctly:

[code]

So just rename your script to something like `format` and you should be good.

[2017-12-04 10:41] #352 closed

[2017-12-04 10:45] matej-prokop commented on #352
Thank you  @sudo-suhas. I did't noticed that someone used `prettier` target within `package.json`. Sorry to bother you with this... Have a nice day!

[2017-12-04 10:47] sudo-suhas commented on #352
No problem. This behavior seems to trip quite a few people. We have been considering removing support for npm scripts or at least de-prioritizing it over installed binaries.

[2017-12-04 12:36] #340 closed

[2017-12-04 12:40] okonet commented on #350
@cakeinpanic can you elaborate on the use case, please? What is the fork doing?

[2017-12-04 12:41] okonet commented on #350
Is this a duplicate of #303?

[2017-12-04 12:42] #350 closed

[2017-12-04 19:38] Nxt3 commented on #220
@okonet There is an issue with how `htmllint-cli` takes in arguments. The full path to the HTML file won't work--but a relative path to the file will. Is there a way to use relative paths with `lint-staged` instead of the full path?

[2017-12-05 22:43] cakeinpanic commented on #303
take a look at this script, it seems to be doing what you need
https://github.com/cakeinpanic/polite-linter

[2017-12-06 16:16] awebdeveloper opened #355 "Type checking with flow"
### Description
How do i perform flow type checks on commit

i tried this and it didn't work

[code]

I want commits to fail if flow checks fail

### Environment

- **OS:** Mac OSX 10
- **Node.js:** 7.7.4
- **`lint-staged`:** "^4.3.0",

[2017-12-07 11:10] MoOx opened #356 "rename lint-staged to something more accurate to the real world usage"
In short I would like to open a debate on the name of this project.

I use it for:
- lint
- format
- update some automated step that can be when some files are modified

I think lint-staged should be rename do something more large.

We could throw ideas.

Mine so far:

- git-staged
- adjust-staged
- staged-reaction

[2017-12-07 16:20] awebdeveloper commented on #347
can u suggest a way, how?

[2017-12-07 18:08] migueloller opened #357 "Lint staged passes the contents of the file, not the staged contents"
### Description
When running `lint-staged`, it will properly passed the staged file to the given linter command. The issue is that the staged file could've been changed and these new changes wouldn't be staged. So at this point, the linter will check the file and pass or succeed based on the contents of the file, not based on the contents of what's staged.

### Steps to reproduce
Create a file tha

[2017-12-08 02:54] sudo-suhas commented on #347
You could try [`git diff --check`](https://git-scm.com/docs/git-diff#git-diff---check).

[2017-12-08 04:07] sudo-suhas commented on #357
Duplicate of #62.

[2017-12-08 04:07] #357 closed

[2017-12-11 06:42] oliverzy opened #358 "Cannot set environment variable to lint-staged task"
Let me say I have the following `lint-staged` configuration.
`"lint-staged": {
    "*.{css,scss}": [
      "prettier --fix",
      "git add"
    ],
    "*.{js,vue}": [
      "eslint --fix --ext js,vue",
      "jest --findRelatedTests",
      "git add"
    ]
  },`

But, I would like to set extra environment variable for "jest" task.
I would like to set the task as `NODE_ENV=production BABEL_ENV=nod

[2017-12-11 07:11] sudo-suhas commented on #358
You can setup the environment variables for the `lint-staged` command itself. Here's a convoluted demo to pass a environment variable to the command which will be called by `lint-staged`:

**`package.json`**:
[code]
**`index.js`**:
[code]

***output***:
[code]

Note that I am calling a npm script to be able to verify the env var. This should work even if you are invoking any installed binaries.

[2017-12-11 07:15] sudo-suhas commented on #358
Another solution would be to define a custom npm script which includes the environement variables:

[code]

[2017-12-11 07:42] oliverzy commented on #358
Thanks, The Solution 2 is great. I think this issue can be closed.

[2017-12-11 07:42] #358 closed

[2017-12-11 11:24] okonet commented on #356
Too much effort was already put into marketing with the current name so I don't think this is feasible now.

[2017-12-11 11:24] #356 closed

[2017-12-11 11:26] okonet commented on #355
Sorry, I'm closing this since it's not related to the lint-staged nor this is an issue. You should ask your question on StackOverflow.

[2017-12-11 11:26] #355 closed

[2017-12-11 11:28] okonet commented on #358
@oliverzy I see a documentation PR opportunity here.

[2017-12-11 13:11] MoOx commented on #356
npm deprecate will easily avoid the problem :p

[2017-12-12 17:56] okonet commented on #356
The problem is that I put a lot of effort to marketing and PR and I believe that changing name won’t help it. Also the main focus of this module remains lining of the staged files on the pre-commit hook.

[2017-12-18 06:39] leecen commented on #170
you should write like this:
[code]

[2017-12-21 15:56] danielmorlock commented on #339
Had the same error than @Alex-Mann. My issue disappeared in `lint-staged@6`

[2017-12-22 05:47] alexeagle opened #366 "Format only the staged lines"
### Description

I don't see an option in the docs to format only the staged lines. It appears this would re-format the whole file?

I would want to format only staged lines to avoid massive blame layers attributed to the next person who touches the file. Longer explanation: https://github.com/alexeagle/angular-bazel-example/wiki/Formatting

[2017-12-22 05:50] sudo-suhas commented on #366
Hey @alexeagle, this is a known issue and is being tracked in #62. I'll close this issue but you can comment in #62 if you have any new information which you'd like to share.

[2017-12-22 05:58] alexeagle commented on #366
I am not sure that's correct - that issue discusses what to do when some chunks are staged and others aren't.

I'm saying that even if *all* edits to a given file are staged, I still want to only the format the modified regions.

[2017-12-22 06:05] sudo-suhas commented on #366
Hmm.. I see. However, I am not sure how `lint-staged` can help you with this. Right now, we pass the list of modified files as arguments to any command you specify(`eslint`, `prettier` etc.). You'd need to have a different tool which extracts modified code snippets from the specified file and work only on that. And I am not sure how that could work as formatting is also dependent on the context, a

[2017-12-22 06:07] alexeagle commented on #366
At least for prettier, you can do this: https://github.com/okonet/lint-staged/issues/366

Note that git-clang-format does the right thing here, which makes it much more palatable to install clang-format onto an existing repository than Prettier.

/cc @IgorMinar

[2017-12-23 09:47] okonet commented on #366
I’m not sure this is that important right now. Not many tools support that and they have different APIs. Saying that I still think we could add support for regions somehow. I’m open for suggestions and PRs

[2017-12-28 09:44] draoncc commented on #220
Does not appear to be working. When running the tool directly errors are reported. When running it through lint-staged, no errors are reported.

Digging through the code right now. htmllint-cli does exit with a 1 if there are errors. How does lint-staged determine whether errors have been produced?

[2017-12-28 10:19] draoncc commented on #220
Ah, the issue is in htmllint-cli erroneously not reporting a not found file as an error, and prepending the cwd to passed arguments even when they are absolute paths.

Not a lint-staged issue.

[2017-12-28 11:10] sudo-suhas commented on #220
Thanks for getting to the bottom of that @draoncc

[2017-12-30 14:41] zanona opened #369 "add option to use relative paths in commands"
currently `lint-staged` will pass absolute paths of every file matched file to the defined command in some cases resulting in unexpected results for commands, for example.

[`xo`](https://github.com/sindresorhus/xo) expects its configuration under `package.json` of the cwd in order to apply correct rules but when using `xo /Users/foo/app/lib/path.js` rather than `lib/path.js` it will ignore `packa

[2017-12-31 10:04] okonet commented on #369
Well, it looks like xo issue then? Relative paths are tricky since `package.json` and `.git` can be located in different sub-trees.

[2017-12-31 10:07] okonet commented on #339
Can this be closed?

[2018-01-02 10:39] luftywiranda13 commented on #278
any specific goals or specific feature suggestions?

let's discuss this, if we all agree and have clear set of goals then maybe I can make a PR to add this ability to `lint-staged` 😉

[2018-01-02 11:59] zanona commented on #369
Thanks for replying @okonet.
I understand it may be something that can also be defined in xo (I actually did let them know) but thought it could be a helpful feature to have under lint-staged as well with a `--relative` flag or something so it could be more flexible.

Would you feel that adding this feature could benefit other users or does it feels out of scope for you?  Please let me know and I

[2018-01-03 14:30] okonet commented on #369
@zanona I subscribed to [the issue in XO](https://github.com/sindresorhus/xo/issues/223) in order to stay informed on that matter. To me, this should be fixed in xo since it's clearly related to how xo resolves files on the file system. We could introduce a flag in lint-staged but this will increase the complexity even more and will probably fail in some rare cases like I mentioned so I'd stay awa

[2018-01-03 14:37] zanona commented on #369
Thanks for considering @okonet. That makes sense.
I will try to submit a PR under xo addressing this on its end and, as you mentioned if we happen to experience this issue with other major packages it may be worth to revisit this topic then.
Thanks again.

[2018-01-03 14:37] #369 closed

[2018-01-03 14:44] okonet opened #372 "Drop support for Node v4"
### Description

Node will drop maintenance for v4 in April 2018 so I think we're pretty safe on dropping it now since I believe most of our users are early adopters either way. Supporting Node v4 right now is coming to an unwanted chores like in #367 or in #371.

## Migration path

Introduce a breaking change with a major version bump that only changes `engines` field in the `package.json` + upda

[2018-01-03 14:44] okonet commented on #372
@sudo-suhas @luftywiranda13 thoughts?

[2018-01-03 15:10] sudo-suhas commented on #372
I don't have any strong reasons against this but I'd prefer to drop support in April itself. `lint-staged` is a tool for developers and I would guess that a lot of repos probably won't be dropping node 4 support yet. That said, since this will be breaking change, they can choose to continue using the version compatible with node 4.

[2018-01-03 15:14] sudo-suhas commented on #278
I dunno how much of this is feasible but would it be possible to detect the linters installed and auto configure it? Furthermore, would it be possible to guess the glob patterns based on file structure?

[2018-01-03 16:00] sapegin commented on #278
To do that we'll need to extend Mrm to support async tasks. And I don't think it's really useful ;-)

That's exactly what the Mrm task is doing. But right now it supports only ESLint, Stylelint and Prettier.

[2018-01-03 16:10] okonet commented on #369
Thanks!

[2018-01-03 17:24] luftywiranda13 commented on #372
I agree with @sudo-suhas. Let’s drop support for node 4 when node drops supports for it

[2018-01-03 23:54] alexeagle commented on #366
For a bit of context, I'm writing up how we do formatting at Google, and I think this is an absolute requirement to introduce a formatter in a large monorepo without polluting the version control history. I'm recommending clang-format rather than prettier to enterprises right now, just because this feature is missing. Could we re-open this issue, or should I file/track it somewhere else?

[2018-01-04 02:22] thedamon opened #373 "Working relative to package.json, not git directory"
The docs state:
`"The paths used for filtering via minimatch are relative to the directory that contains the .git directory"`

But using 6.0.0, that's not the behaviour I'm seeing.

### Structure
[code]

This config:
[code]

is picking up the change to `/project/front-end/subproject/scripts/file.js`

Is that expected and I misread the docs? Or is this a bug, or potentially being interrupted by som

[2018-01-04 03:00] sudo-suhas commented on #369
@okonet I agree with you on the possibility of introducing errors if we try to do this change. However, this is the second instance where relative paths are required by the linter, the other being `htmllint`. And the change might not be too complicated from what I can see. If we just skip the last step here based on the config, it should work correctly:
https://github.com/okonet/lint-staged/blob/a

[2018-01-04 03:40] sudo-suhas commented on #373
Hey @thedamon, thanks for opening the issue. The docs were incorrect as it was not updated correctly in the PR which deprecated `gitDir`(#327). I have opened a PR which corrects this(#374). Here's a preview link for the updated docs - [/README.md@`docs/filtering`#filtering-files](https://github.com/okonet/lint-staged/blob/docs/filtering/README.md#filtering-files).

From what I can see, you have a

[2018-01-04 03:48] thedamon commented on #373
Thanks! i read through some of the issues related to the removal of gitdir but maybe not close enough as i didn't properly come away thinking the behaviour would have changed...

we don't actually have a package.json in the project root (it's a java based CMS and our team is working just on the front end assets), but maybe we should weigh the advantages of adding one.

in the meantime I'll just ac

[2018-01-04 03:54] sudo-suhas commented on #373
I see. A `package.json` at the project root would only be required if you want to lint multiple projects inside the git repo, each of which has it's own linters. The reason for this is that `husky` overwrites any pre-commit hook which might have been setup by a different project. Therefore, only the last project which setup `husky` would have it's pre-commit hooks run. If the `front-end` folder is

[2018-01-04 05:05] thedamon opened #375 "Very slow on resolving binary for git on second task"
My first thought was also that this must not be a problem with `lint-staged`, but I'm not sure what else to tie it back to. It may be an issue with husky as well

### Config
[code]

with one scss file staged, the prettier task hangs and takes about 27 seconds to complete, but running `node_modules/.bin/prettier **/*.scss --write` on the entire project (abt 300 files) takes 11 seconds.

After diggi

[2018-01-04 05:19] sudo-suhas commented on #375
From the logs, I can see that you have a script named `prettier`.
[code]
This takes priority over `prettier`, the binary, which would be installed to `node_modules/.bin/prettier`. The debug logs also call this out - `lint-staged:find-bin prettier resolved to npm script - prettier  --write './**/*.{scss,js}'`. This means that `prettier` will run on your entire project instead of the modified files

[2018-01-04 05:20] thedamon commented on #375
ah thanks.. that makes sense!

[2018-01-04 05:23] #375 closed

[2018-01-04 05:25] sudo-suhas opened #376 "Proposal: Change priority of script resolution"
The debug logs we introduced in `v6` helps to identify the problem but there have been numerous issues opened because of the way `findBin` works currently. Specifically, many users inadvertently define a script in the package.json which conflicts with the installed linter like `prettier`. However, I think having the option to run arbitrary scripts by defining them in the package.json is a useful f

[2018-01-04 13:54] luftywiranda13 commented on #376
so installed binaries > package scripts?

[2018-01-04 19:11] okonet commented on #372
@luftywiranda13 I don't see a reason for us to wait and have pains since this will be a breaking change that will indicate that Node v8 is required for it to run so people can choose the previous major version which is fully functional. As @sudo-suhas mentioned as well, breaking change should remove the confusion IMO.

[2018-01-04 19:15] okonet commented on #373
@thedamon that shouldn't be a problem. The latest version works differently and the documentation PR is on the way (#374 — thanks @sudo-suhas for working on it!) so you should be able to add lint-staged and husky to your front-end project inside the bigger git project and make paths (or just keep it simple and use `*.js` since it should not interfere with the Java code) relative to it.

As @sudo-s

[2018-01-04 19:22] okonet commented on #376
I would vote against it since I believe this will introduce not less but probably even more confusion. I actually think that dropping this might be a good idea. Too much magic 🔮 :)

Another benefit is that it will allow people choose which runner to use by writing `yarn task:name` or `nom run task:name` which isn't the case ATM.

Migration path could be a bit of pain but if we can make a nice vali

[2018-01-05 02:49] sudo-suhas commented on #376
Would be nice to get some user's feedback on this.

[2018-01-05 14:13] luftywiranda13 commented on #372
I personally have a plan to drop support for node 4 as well in some of my projects.
But sometimes I feel it's ironic that our devDependencies (not direct dependencies) force us to drop support for node 4 especially if we're not using any specific features that require node 6+

[2018-01-05 18:02] okonet commented on #369
@sudo-suhas do we ever need absolute paths then?

[2018-01-06 03:52] sudo-suhas commented on #369
Just realised, relative path won't work with git in a monorepo. We'd need command level flag to pass relative paths. Even otherwise, absolute path seems to be a safer default.

[2018-01-06 05:55] sudo-suhas commented on #372
Right now, I think we have a couple of other breaking changes being discussed:

- Change the format for the config. This was brought up in #273 but I am not entirely sure what the final config schema would look like.
- Drop support for npm scripts and instead require the user to use `npm run script-name --` (or the yarn equivalent).

At the very least, I'd prefer it if we didn't make 3 different b

[2018-01-06 08:50] okonet commented on #372
@sudo-suhas we could create the next branch but this means more setup for CI and more work for us. I don't have much time ATM so I'm trying to remove as much work as possible which isn't necessary. I don't feel strongly about either approach just saying if we can keep it simple, I'd prefer the simpler version.

[2018-01-06 16:03] luftywiranda13 commented on #372
how about if we make a `next` branch, then merge those breaking changes into this `next` branch.
after that, make a PR from `next` branch then we can press `rebase and merge` from the PR.

so `semantic-release` will release those breaking changes in a single release. I do this whenever I want to avoid releasing multiple breaking changes in my project

[2018-01-06 16:26] okonet commented on #372
Yes that would be the plan. The problem with it as I see it is that we won't be able to do `@next` releases automatically on a separate channel. If this isn't a problem, then let's do that.

[2018-01-07 02:53] sudo-suhas commented on #372
Isn't this all that is required:

[code]

See [semantic-release/semantic-release:package.json@`v12.2.0`#L109-L114](https://github.com/semantic-release/semantic-release/blob/v12.2.0/package.json#L109-L114)

[2018-01-07 03:11] sudo-suhas commented on #372
`semantic-release@12.2.0` allows to skip release via commit message - https://semantic-release.gitbooks.io/semantic-release/content/docs/support/FAQ.html#can-i-skip-the-release-to-the-npm-registry.

[2018-01-07 09:25] okonet commented on #372
I couldn’t find anything with commit message there and also don’t think we should do something like this. Let’s create the `next` branch and use it as a pre-release target if we want batching. But before we do, what’s the point of doing it, again?

[2018-01-09 22:41] ajcrites opened #379 "Changes are made to unstaged matched files"
### Description
If you have a stage that writes to files (such as `eslint --fix`), any files that updates files, any matched file will be updated but that file will subsequently not be committed.

Most likely these files should be ignored, i.e. only staged files should be altered.

### Steps to reproduce
Essentially you can create a project and install `lint-staged` and `husky`, then create script

[2018-01-10 02:57] #373 closed

[2018-01-10 03:00] sudo-suhas commented on #379
@ajcrites the debug logs are not only in the case of errors. It also helps us understand the npm scripts you have in place as well as the `lint-staged` configuration.

This is the documentation for the `ng lint` command that you are invoking from `lint-staged` - https://github.com/angular/angular-cli/wiki/lint

This means that the command lints and fixes all files in your project. So it's no surpr

[2018-01-10 03:00] #379 closed

[2018-01-11 14:49] jschlieber opened #381 "Linter runs 3 times"
### Description

Trying to find out how to show warnings to the user when there are no linting errors, I found out that the linter actually runs 3 times. Is this the expected behaviour?

### Debug Logs

<details>

<summary>expand to view</summary>

[code]

</details>

### Environment

- **OS:** Bash on Ubuntu on Windows 10
- **Node.js:** v6.11.1
- **`lint-staged`:** v6.0.0

[2018-01-12 09:44] okonet commented on #381
This is a duplicate of #142

[2018-01-12 09:45] okonet commented on #202
Duplicate of #142

[2018-01-12 09:45] #381 closed

[2018-01-16 04:32] sudo-suhas commented on #372
Looks like greenkeeper build for push is failing during `greenkeeper-lockfile-update` on node 4 - https://travis-ci.org/okonet/lint-staged/jobs/329309633#L490. This doesn't happen on the PR build:

https://travis-ci.org/okonet/lint-staged/jobs/329309702#L495.

Considering that it is becoming more and more cumbersome to support node 4, I vote to drop support. Unless somebody objects, I'll create a

[2018-01-16 08:33] luftywiranda13 commented on #372
Not only on node 4
https://travis-ci.org/okonet/lint-staged/jobs/329309700#L494
https://travis-ci.org/okonet/lint-staged/jobs/329309701#L494

[2018-01-16 08:36] luftywiranda13 commented on #372
For the lockfiles problem:

https://github.com/greenkeeperio/greenkeeper/issues/569 https://github.com/greenkeeperio/greenkeeper/issues/506

[2018-01-16 08:45] luftywiranda13 commented on #372
For the `engine` mismatch, the installation will only fail when we install dependencies by using `yarn`, right? With `npm`, it'll only log the status as a warning, not error. Also, IMO `npm` has a lot more users (`npm` is the default package manager for node) than `yanr`

`jest` set its minimum `engine` to `node: >=6`, so this thing only affects us in development, but not our end users.

So I stil

[2018-01-17 11:54] richardgill commented on #369
I also had the same problem today with a pretty obscure tool I'm using: https://github.com/lukeapage/node-markdown-spellcheck.

For some reason it doesn't work the same with absolute file paths.

I agree that it's a problem with the library that should probably be fixed. That seems unlikely in this case though :(

So a flag to pass the paths as relative paths would have been really useful (for now

[2018-01-19 20:00] okonet commented on #375
Related to #376

[2018-01-21 09:18] naartjie commented on #62
@okonet I think it's acceptable, and actually desirable (to fail the whole hook).

DX: You've gone to all the trouble to `git add --patch`, when you commit an unexpected thing happens, any files with hunks staged are added in their entirety. I think it's bad if this happens silently.

[2018-01-21 13:07] okonet commented on #310
@chinchang can you please the #385 and see if this would also solve your use case?

[2018-01-21 22:42] thedamon commented on #376
I ran in to this issue and opened a bug, but after knowing what the issue was, honestly I think it makes sense the way it is. A docs note that this may happen is probably enough. And I probably should have named my npm task prettify. Certainly this can cause confusion, but changing it would just cause confusion under different circumstances.

[2018-01-25 07:51] okonet opened #386 "Handle Ctrl+C before stashing"
After #75 is merged we need to handle this edge case as well when the user cancels the operation by pressing Ctrl + C

[2018-01-25 07:53] okonet opened #387 "Should not restore deleted files"
When #75 is merged, there is an issue when deleted files are restored.

[2018-01-25 08:05] okonet commented on #73
This is now solved in #75

[2018-01-25 08:05] #73 closed

[2018-01-30 09:29] okonet commented on #372
Since I'm actively working on #75 I'd really like to reduce the amount of code needed with Promises and switch to `async` `await` which is Node 8. Is that a common thing to go to latest LTS version (8) when dropping Node 4 or we'll need to support Node 6 as well? I'd like to skip Node 6 whatsoever.

[2018-01-30 09:31] sudo-suhas commented on #372
Would you consider transpiling src files? I think dropping node 6 support would be premature.

[2018-01-30 09:39] okonet commented on #372
@sudo-suhas I really don't want to transpile the code since it makes it's harder to test locally. Is there a usage information for different Node versions? What are other libraries are doing?

[2018-01-30 09:40] jaydenseric commented on #372
Unfortunatly [AWS Lambda only supports Node.js v6.10.3](https://docs.aws.amazon.com/lambda/latest/dg/current-supported-versions.html). For a while I was enjoying supporting v7.6 for my packages, [like Koa does](https://github.com/koajs/koa#installation), for native async await but some [users ran into trouble](https://github.com/jaydenseric/apollo-upload-server/issues/33).

[2018-01-30 09:41] okonet commented on #372
Since lint-staged is meant to be used only during development, I'm not sure if AWS support should be considered as an issue...

[2018-01-30 09:42] jaydenseric commented on #372
Probably, although some people might develop with the version of Node.js their app will run in production.

[2018-01-30 09:59] sudo-suhas commented on #372
If we assume that _transpiling itself_ won't be the source of the issue, we could develop and test with node 8 but the published module would work fine on node 6. I personally haven't really faced issues because of transpiling but I do not know if that can be assumed.

check this out - https://nodesource.com/blog/digging-into-node-by-numbers-2017

[2018-01-30 10:01] sudo-suhas commented on #372
Here's another blog post for node.js usage stats - https://semaphoreci.com/blog/2017/11/22/nodejs-versions-used-in-commercial-projects-in-2017.html

[2018-01-30 10:33] okonet commented on #372
I guess if we'll assume this, there is a chance of running into issues where the report bug reports (i.e. stack traces) won't match the source code and will make it harder to debug.

[2018-01-30 10:34] okonet commented on #372
The way I think is summarized in this article: https://medium.com/@mikeal/stop-supporting-old-releases-70cfa0e04b0c

[2018-01-30 12:31] sudo-suhas commented on #372
@okonet, how about this. I am willing to take responsibility for the development and support overhead we might incur if we use transpilation. I agree that no transpilation is better but I feel this is a compromise I can accept as opposed to mine node 8 requirement.

[2018-01-30 14:26] okonet commented on #372
Intermediate results from the poll:

![2018-01-30 at 15 23](https://user-images.githubusercontent.com/11071/35571169-a40f8fe2-05d1-11e8-98e0-8ba94ec6ae0a.png)

¼ is still using Node 6 but I guess they could stick to the current major version or upgrade. I'm still not sold on us doing extra work. But if you think this won't affect DX when let's do this.

[2018-01-31 03:49] sudo-suhas commented on #372
@okonet Have you tried [`tj/co`](https://github.com/tj/co)? I had used it to good effect in some projects before node 7.6.

[2018-01-31 13:55] okonet commented on #372
@sudo-suhas no I honestly I don't want to start using it—the syntax is weird IMO.

My conclusion is still the same: I don't want to please everyone, especially when doing this for free. So if the 25% of users will have to stick to the older version because of that, I'm okay with that. They also can upgrade to Node 8, which is a win-win for everyone.

So I'm voting for dropping Node 4 and going str

[2018-02-01 20:08] renatobenks opened #391 "Run lint-staged in CI"
There's way to run lint-staged in the files that is not on staging to commit, but, just in the files changed compared with main branch? I'm considering run eslint for every single file.

This following script it's working to get files changed, however, I wanna use lint-staged instead.

_Ps.: I know that lint-staged was created for staged files, but, use lint-staged for this, will gonna help with t

[2018-02-01 21:07] okonet commented on #391
This isn’t possible and honestly I believe it’s out of focus of this library. Although I think it can be implemented rather easily, it will not play well with an upcoming changes from #75

[2018-02-01 21:08] #391 closed

[2018-02-02 13:21] mantsevich opened #392 "Disable filenames script arguments"
### Description

Hello.

Is it possible not to put filenames as arguments?

### Steps to reproduce

[code]

### Debug Logs

[code]

[2018-02-03 14:12] gavinorland opened #393 "Cannot commit only hunks when applying ESLint or Prettier"
Please excuse me if this has already been raised - the closest I could find was [this](https://github.com/desktop/desktop/issues/1831) at another package.

### Description

An obvious use for this package is of course for apply checks to code before committing - linting etc. However if the linter is going to fix the files if then needs to add them again. Example config:

[code]

I have run into th

[2018-02-03 19:49] gavinorland commented on #393
I see there is [this issue](https://github.com/okonet/lint-staged/issues/62) too on this topic, where it appears to be still under discussion (and to be a difficult thing to get overcome!). I appreciate any comment on the above alternatives, otherwise feel free to close this.

[2018-02-04 15:15] okonet commented on #393
Yeah. Closing as a duplicate.

[2018-02-04 15:15] #393 closed

[2018-02-05 03:27] sudo-suhas commented on #392
@mantsevich, why do you wish to use `lint-staged` if you do not wish to pass any filepath arguments? Why not just call the `precommit-task` directly from your pre-commit hook?

[2018-02-05 03:31] sudo-suhas commented on #339
Closing due to inactivity.

[2018-02-05 03:31] #339 closed

[2018-02-05 03:33] sudo-suhas commented on #232
Documentation has been added which addresses the question raised here, closing the issue.

[2018-02-05 03:33] #232 closed

[2018-02-05 03:36] sudo-suhas commented on #216
Closing due to inactivity.

[2018-02-05 03:36] #216 closed

[2018-02-05 06:38] okonet commented on #392
Yes, as @sudo-suhas answered, you should use git hooks directly or via husky without lint-staged if you don’t wish this.

[2018-02-05 06:38] #392 closed

[2018-02-06 12:49] shiroginne opened #395 "Folder name with space breaks lint"
### Description
Hi,

faced with an issue: when folder contains space in it's name, e.g `Test Projects`, lint beaks with error:

project path is `/Users/username/Test Projects/good_chat`.

[code]

However, if the folder will be named "TestProjects" the package works like a charm.

Sorry if it doesn't concern this package.
### Steps to reproduce

Make a folder with bad name, run lint-staged in it.

[2018-02-06 14:24] okonet commented on #395
Thanks for submitting and I think it concerns the package a lot! Do you want to try fixing it and submit a PR? I think the problem is with how we pass file paths to commands. Probably we'll need to wrap them into parenthesis or do something else.

[2018-02-07 11:22] shiroginne commented on #395
I'd like to make a PR but I don't quite understand how the package works. I've had a look the code and haven't been able to identify where the error could be (I'm new to node.js ecosystem).

I've cloned repo and tried to run the code like this:
[code]
and it worked! And now it's a bit confusing.

[2018-02-08 12:03] simon360 commented on #313
Is there a way to have `lint-staged` print the warnings, but not fail?

Some of our `lint-staged` commands have valuable output, like `eslint` warnings, or test coverage reports. However, unless a command fails, `lint-staged` hides all the output.

It'd be nice to show this information to the committer, without preventing them from commiting the code anyway.

[2018-02-08 13:38] okonet commented on #313
This isn't possible with the default renderer. So you might want to use another Listr renderer for that.

[2018-02-09 01:07] ctgardner opened #396 "Trailing comma required to match file extension"
### Description

Running the following config does not match a staged `.js` file.

[code]

[code]

Adding a trailing comma seems to resolve the issue. Is this intended behaviour?

[code]

[code]

### Additional Info

The following config will match the same staged `.js` file, despite the lack of a trailing comma.

[code]

### Environment

- **OS:** macOS High Sierra (Version 10.13.3)
- **Node.js:*

[2018-02-09 03:17] ctgardner commented on #396
My mistake. I shouldn't be using curly-brackets for a single extension only.

[code]

Sorry.

[2018-02-09 03:17] #396 closed

[2018-02-09 06:46] lacymorrow opened #397 "How did you accomplish your search engine layout?"
I have to know, I've searched for awhile and I can't figure it out.

How did you manage to get multiple links into your Google result, almost as if you had a `sitemap`!
Image attached.

Cheers!

<img width="851" alt="screen shot 2018-02-08 at 10 22 40 pm" src="https://user-images.githubusercontent.com/1311301/36015098-c8d19e04-0d21-11e8-9ab8-72f4fd99261a.png">

[2018-02-09 06:59] okonet commented on #397
You should ask GitHub I guess.

[2018-02-09 06:59] #397 closed

[2018-02-16 10:39] sudo-suhas commented on #395
@shiroginne Could you please add a `--debug` flag for `lint-staged` and share the debug output? You'd need to update to the latest version, `v6.0.0` as well.

[2018-02-16 14:33] igoradamenko commented on #151
Hi.

I have a dirty workaround: https://igoradamenko.com/blog/all/lint-staged-and-jetbrains-ide/.

[2018-02-18 16:41] ArielGueta opened #400 "Use commands that requires specific arguments"
Hey, thanks for this great library.

I want to use the jscpd library to detect copy paste code before each commit on the staging files.
The usage of this library is:
`jscpd -f "src/**/*.js" -t 30`

I tried to do the following:
[code]

But it does not work. How can I make it work? Thanks.

[2018-02-19 02:56] sudo-suhas commented on #400
The `-f` flag is used to specify glob patterns so that is not something you should use with `lint-staged`. `lint-staged` passes the list of staged files to the command you specify. So you _could_ move the `-f` flag to end and that might work. But in this case, I feel it doesn't make sense because the tool you are using is meant to work with your entire project folder. So I would recommend you run

[2018-02-19 02:56] #400 closed

[2018-02-19 05:42] ArielGueta commented on #400
Thanks for your answer. appreciated.

[2018-02-20 20:45] alexilyaev commented on #62
Would really love to see this closed.

[2018-02-20 21:52] okonet commented on #62
Who wouldn’t :) Any help us appreciated. See #75

[2018-02-21 06:42] sudo-suhas commented on #395
I have tried this on Windows as well as linux and I did not face any issue. @okonet, @luftywiranda13 Could you check if you are able to reproduce the issue on mac?

[2018-02-21 21:20] shiroginne commented on #395
I've installed `lint-staged` into global scope, and it worked. The problem appeared only when I use `yarn lint-staged` from project folder. Maybe it's not a problem at all

[2018-02-23 14:44] InamTaj opened #402 "lint-staged v7.0 cannot find binary of latest stylelint v9.1"
### Description
Type: BUG
Latest [lint-staged](https://github.com/okonet/lint-staged) (v7.0.0) is unable to find binary for latest [stylelint](https://github.com/stylelint/stylelint) (v9.1.1)

### Steps to reproduce

- I use yarn v1.3.2
- update both lint-staged and stylelint to latest versions as mentioned above.
- run `lint-staged` script
- It throws error, saying that it can't find binary for s

[2018-02-23 14:54] sudo-suhas commented on #402
Hey @InamTaj, this is pretty clear if you read the release notes for [`lint-staged@7`](https://github.com/okonet/lint-staged/releases/tag/v7.0.0) or the error messages but in the latest release, we dropped support for running arbitrary package.json scripts through `lint-staged`. Like the error message suggests, if you change your command `lint:css` to `npm run lint:css -- ` or `stylelint src/**/*.

[2018-02-23 14:54] #402 closed

[2018-02-23 15:00] InamTaj commented on #402
Hi @sudo-suhas, Thanks, I forgot to read the release notes.

FYI, I updated my script to `yarn lint:css` and the problem was fixed. Following is my updated `lint-staged` configuration:
[code]

[2018-02-23 15:02] sudo-suhas commented on #402
Yes, `yarn lint:css` is equivalent to `npm run lint:css --`.

[2018-02-25 11:36] #376 closed

[2018-02-25 11:36] okonet commented on #376
Was closed in v7

[2018-02-25 11:38] okonet commented on #366
I think this might be a good addition and we should consider doing this. For some more context see #138

[2018-02-25 11:57] okonet commented on #366
@alexeagle any input would be helpful!

[2018-02-26 23:19] taylorham commented on #151
This fix is working for me until JetBrains figures it out:

#### `package.json`
[code]

Suggested in [this YouTrack issue](https://youtrack.jetbrains.com/issue/IDEA-135454#comment=27-2710654).

[2018-02-27 08:46] okonet commented on #151
@taylorham mind creating a PR to the docs for all new users who might be looking for this?

[2018-02-27 14:19] stsiarzhanau commented on #151
For our project (where some guys work in WebStorm and some use other editors along with git CLI) this also works fine:
[code]
Thanks to Réda Housni Alaoui and taylorham for the solution.

Vote for adding this to the docs, cause the issue seems to be a quite common one.

[2018-02-27 21:46] taylorham commented on #151
I'll make a PR tonight!

[2018-02-28 15:42] Westbrook opened #404 "FEATURE REQUEST: Disable filenames script arguments"
### Description
Could we add an option to the config that would manage the application of the filename as a script argument?

####Use Case
I am working in a Ruby on Rails project. I'd like to be able to include a call like:

    "Gemfile.lock": {
        options: {
           filename: false
        },
        commands:
            [
                "bundle audit --update"
            ]
    }

or

[2018-02-28 20:57] taylorham commented on #151
I did not make that PR!

Got swamped last night, sorry. I'll try to bang it out tonight.

[2018-03-01 13:35] okonet commented on #404
I think this is a duplicate of #138. I'll close this one and add you case to it.

[2018-03-01 13:36] okonet commented on #404
BTW #221 was trying to implement it but I'm still not sure about if this is the best way of doing it.

[2018-03-01 13:37] #404 closed

[2018-03-01 13:56] Westbrook commented on #404
Thanks! I has seen one closed that looking like this, but missed that one. Looking forward to it.

[2018-03-01 19:18] mthurlin opened #407 "Nested calls to yarn hangs forever on Windows"
### Summary

On Windows, running nested yarn commands from lint-staged hangs the process in ~90% of cases.

    "scripts": {
        "foo1": "yarn foo2",
        "foo2": "yarn foo3",
        "foo3": "yarn foo4",
        "foo4": "echo Foo"
    },
    "lint-staged": {
        "linters": {
            "*": "yarn foo"
        }
    }

### Reproduce the issue

Repo with minimal repro of the issue (see

[2018-03-01 19:52] taylorham commented on #151
#408 is (finally) ready for review. Thanks for the opportunity to contribute!

[2018-03-02 02:24] amit1911 commented on #62
[pre-commit](https://pre-commit.com/) seems to handle the partially staged files pretty well. What exactly are they doing differently?

[2018-03-02 03:38] sudo-suhas commented on #407
Hey @mthurlin thanks for creating and sharing the repo. However, I was not able to reproduce the issue. I had to create and add `node_modules` to `.gitignore` though. Perhaps that's the real issue? The number of files in `node_modules` would be humongous. It's be helpful if you could run `lint-staged` with the `--debug` output and share that here.

[2018-03-02 07:55] julienw commented on #62
They say:

[code]

[2018-03-02 09:32] okonet commented on #62
@amit1911 they only run on the staged hunks which I also have done in #75 but the problem I'm facing is with the case when we modify those hunks during the command (i.e. prettier) and we need to "merge" back. Please take a look at the branch and tests to get a better sense of what I'm trying to do.

[2018-03-02 10:03] karlhorky commented on #62
Does the approach taken by [precise commits](https://github.com/nrwl/precise-commits) (formatting character ranges instead of full files) provide anything of interest?

[2018-03-02 10:06] okonet commented on #62
@karlhorky not really. It might help with Prettier but afaik no other tool support this and lint-staged is being used with eslint and stylelint (both support `--fix`). Also there is #366 which is exactly about that.

[2018-03-02 10:16] julien-f commented on #62
My current approach: https://github.com/vatesfr/xen-orchestra/blob/master/scripts/lint-staged

1. compute the list of files with unstaged changes
1. format all files
1. save in memory the files with unstaged changes and restore them
1. reformat them
1. run the tests and add the files if no errors
1. restore the files with unstaged changed to their saved state

[2018-03-02 11:01] ntwb commented on #62
Currently, [precise commits](https://prettier.io/docs/en/precommit.html#option-4-precise-commits-https-githubcom-jameshenry-precise-commits) is the only pre-commit hook offering this functionality:

Thus, it is _of interest_ to me, for the projects where I don't use Prettier

[2018-03-04 10:39] mthurlin commented on #407
I have a proper gitignore in my real repository (unfortunately private), and adding a gitignore to the minimal repro repository does not make a difference. It still hangs 9 out of 10 times.
So far, I've tried on four difference computers with the same result.

[2018-03-05 22:29] jackson-sandland commented on #320
I am seeing this issue - but I have added files, and they are staged.

[2018-03-05 22:31] jackson-sandland commented on #312
lint-staged always skips my staged files.
Any ideas what's going on here:
[code]
[code]

[2018-03-06 03:03] sudo-suhas commented on #312
Hey @jackson-sandland, could you please open a new issue for this? Please also include the debug logs as well.

[2018-03-06 12:12] Regaddi commented on #395
I tried to reproduce the bug, since I am using the exact same system and yarn versions.

1. Set up an empty project in a folder `/Users/cstuff/Workspace/Test Project`
2. Initalized npm with the following packages:
* "eslint": "^4.18.2",
* "eslint-config-airbnb-base": "^12.1.0",
* "eslint-plugin-import": "^2.9.0",
* "husky": "^0.14.3",
* "lint-staged": "4.3.0"
3. Set up lint-staged as follows in pa

[2018-03-06 12:23] sudo-suhas commented on #395
Thanks @Regaddi! Closing the issue.

[2018-03-06 12:23] #395 closed

[2018-03-07 17:25] Alfredo-Delgado commented on #91
I think there might be a regression here. Funny enough, my files in .storybook are not being linted even if I explicitly set globOptions.

[2018-03-07 21:12] Alfredo-Delgado commented on #91
The problem turned out to be with eslint. I needed to pass the `--no-ignore` flag. Sorry for the false alarm.

[2018-03-08 06:23] #151 closed

[2018-03-11 15:23] jthegedus opened #410 "Named tasks in config"
### Description

The console output of any underlying tasks is replaced with `Running tasks for <pattern>`. It would be nice if I could name each task so other users didn't have to dive into the config to understand what commands actually runs on each pattern. This is exacerbated in monorepo setup.

EG: instead of a `.lint-stagedrc.yml` as such:

[code]

Writing this:

[code]

would mean the outpu

[2018-03-12 04:04] sudo-suhas commented on #410
@jthegedus We too have been contemplating changing the config schema to allow specifying `ignore` patterns and a command template among other things. So this is something we might be able to address in the next major version.

Those messages come from [`listr`](https://github.com/samverschueren/listr) so probably not much we can do here.

[2018-03-12 05:08] jthegedus commented on #410
@sudo-suhas I'll keep my eyes open for that update :smiley: If this request is tracked elsewhere for that release, feel free to close this issue :+1:

[2018-03-14 11:49] pedroabreu commented on #165
Leaving this here for other people that may run into the same issue:

I was running into the same issue

[code]

Fix for me was to define a `.nvmrc` in my project

[code]

[2018-03-16 16:37] mthurlin commented on #407
After investigating this, I got a similar issue without using lint-staged.
Started to look for similar issues in yarn, and found this:
https://github.com/nodejs/node/issues/10836

It is quite possible that this is the real issue. Once I've upgrade node I'll try the repro case again and close this issue if it is no longer reproducible.

[2018-03-17 09:03] yiochen commented on #170
I am still getting the error
[code]
This is my package.json
[code]
The `package.json` is not in the .git root, because the front end code is inside a sub folder. Outside of that is Java code, so it doesn't make sense to create a `package.json` in the root level.

I also tried the old syntax with `"gitDir"`, it gave me deprecation warning, and then still throw the error for `Not a git repository: '

[2018-03-17 09:08] sudo-suhas commented on #170
@yiochen Could you please share the debug output? You can enable it by changing your `precommit` script to `lint-staged --debug`.

[2018-03-18 06:48] yiochen commented on #170
@sudo-suhas looks like the precommit passed. It was the postcommit that threw the error. I checked my .git folder, and the hooks are installed correctly.
Below is my --debug output
[code]

[2018-03-18 06:49] jasonslyvia opened #412 "add option to stop passing paths to the linters"
### Description

We want to do a full TypeScript type check of the project before any `.tsx?` files is committed, typically we use `tsc -p . --noEmit`.

However if we integrate this command into lint-staged like this:

[code]

we got an error from tsc:

[code]

### Environment

- **OS:** macOS High Sierra
- **Node.js:** v8.9.4
- **`lint-staged`:** v6.0.0

[2018-03-18 11:51] okonet commented on #412
lint-staged adds staged files as argument to your command, so there is a conflict of `.` and how lint-staged works. This is why you see this error. You should either do `-p .` and run it on `precommit` without lint-staged, or remove `-p` option.

[2018-03-18 11:51] #412 closed

[2018-03-18 11:52] okonet commented on #412
Regarding the feature request. There is a duplicate issues already #138 so I'm closing this one.

[2018-03-19 16:22] benjamincharity opened #413 "[Feat] Disable hook during rebase"
### Description

Our repo require fairly strict commit messages so the normal workflow is something like:

1. Commit WIP using the `--no-verify` flag
1. Do the above multiple more times while developing a feature
1. Once finished, rebase all commits into something like `feat: My new feature`

The issue is that during a rebase, the lint hook is running for each rebase step. The `git rebase --contin

[2018-03-19 17:18] okonet commented on #413
🚫💩 Lint-staged is design to run on precommit. In your case it seems you better be suited with a CI.

[2018-03-19 17:20] #413 closed

[2018-03-22 13:54] matej-prokop opened #414 "dependency on `jest-validate` breaks tests in create-react-app"
If you are using create-react-app and upgrade to link-staged 7.0.0 all your test starts to fail because of `TypeError: environment.dispose is not a function`

Reason is that lint-staged 7.0.0 started to depend on `jest-validate` which depends on `jest-environment-node` and there is clash between different versions of `jest-environment-node` from CRA and list-staged.

`npm ls jest-environment-node`

[2018-03-22 17:10] okonet commented on #414
I'm not sure what we should do about it. Probably it's better to report at CRA?

[2018-03-22 19:27] matej-prokop commented on #414
I enjoy using list-stage so I felt that it is important to inform you that CRA projects are currently forced to stick with list-staged version 6.x.x.

This sounds more like Jest issue than CRA stuff. Anyway, I understand your point.

[2018-03-23 02:48] ztan opened #416 "Error thrown running with the RxJS@6.0.0-beta.0 (mini repo included)"
### Description

### Steps to reproduce
mini repo at https://gist.github.com/ztan/adefcaf938a4df7ef92b62c4738b7736
1. download the file from the gist
2. run
[code]

### Debug Logs
[code]

<details>

<summary>expand to view</summary>

[code]

</details>

### Environment

- **OS:** Windows 10
- **Node.js:** 8.9.1
- **`lint-staged`:** 7.0.0

[2018-03-23 08:41] okonet commented on #416
lint-staged doesn't use any of these dependencies so I'm not sure what's going on but I highly doubt it's this package fault. Please investigate further to the root cause.

[2018-03-25 08:13] SimenB commented on #414
This is a jest issue (https://github.com/facebook/jest/issues/5294), which has been fixed. CRA uses jest 20 though, which still has the bug (upgraded to 22 in the alpha).

[2018-03-27 15:28] Andruschenko commented on #320
@perevezencev How did you solve it? I'm also facing the same issue. Files are staged, but lint-staged says there's nothing to do.

[2018-03-28 04:01] ztan commented on #416
It seems Listr depends on RxJS, and because it hasn't been updated to support RxJS 6, a compatibility package **rxjs-compat** is required. Once this package is installed, the issue goes away.

[2018-03-30 20:27] tgreen7 opened #419 "eslint with --rule option not working properly"
### Steps to reproduce

Here is a example repo: https://github.com/tgreen7/lint-staged-eslint-rule

if you modify index.js, git add index.js, and run yarn precommit then no errors will be logged. However, if you uncomment the line `quotes: [2, 'double']` in the .eslintrc.js file and re-run the precommit then the error will be logged.

Also you can try to run yarn lint, which adds that rule in the

[2018-03-30 21:09] Jikodis opened #420 "'lint-staged' is not recognized as an internal or external command, operable program or batch file. (Windows)"
### Description

When using cmd.exe or Visual Studio Code in Windows I get the error "'lint-staged' is not recognized as an internal or external command, operable program or batch file." when I attempt to commit my changes. Essentially the pre-commit fails because of this. This error does not occur in the  Windows Subsystem for Linux command prompt.

### Steps to reproduce

0. Insure you are on a

[2018-03-31 10:14] sudo-suhas commented on #414
Shall we close this issue? Do not see any action item for `lint-staged`.

[2018-03-31 10:16] sudo-suhas commented on #320
@jackson-sandland, @perevezencev I'd be happy to help you if I can. Please [enable and log](https://github.com/okonet/lint-staged#command-line-flags) the debug output and share it here or in a new issue.

[2018-03-31 10:17] sudo-suhas commented on #416
Thanks @ztan for getting to the bottom of that.

[2018-03-31 10:35] sudo-suhas commented on #419
@tgreen7 This might be an eslint issue:

[code]

To be completely honest, this could also be hiding a `lint-staged` bug because I am not sure the way we split your command into arguments is completely correct when single quotes are present.

[2018-03-31 10:41] sudo-suhas commented on #420
Hey @Jikodis could you try running `npm run precommit` directly? Because that's the command which is failing in your pre-commit hook.

<details>

<summary>pre-commit hook contents</summary>

[code]

</details>
<br>

Re-installing both `husky` and `lint-staged` could help but I can't be sure.

[2018-03-31 15:42] okonet commented on #419
@sudo-suhas it looks like a bug on our side, TBH. From logs it seems we should not split arguments if they are quoted.

[code]

Am I right?

[2018-03-31 15:45] okonet commented on #419
So it seems this one https://github.com/okonet/lint-staged/blob/master/src/findBin.js#L26 is a very naïve implementation. We should probably switch to something more robust.

[2018-03-31 15:47] sudo-suhas commented on #419
@okonet yes, that is a possibility. I say possibility because execa might be handling the arguments being split on single quotes. We should verify that first. However, in this specific case the eslint command, even when run by itself, is not doing what we expect.

[2018-03-31 15:55] okonet commented on #419
@sudo-suhas not sure what you mean. It works for me on this repo:

[code]

[2018-03-31 15:57] okonet commented on #419
@tgreen7 BTW thanks for the pointer! I just realized how to use this option to better integrate prettier with eslint so it's less annoying during dev 👍

[2018-04-01 02:17] sudo-suhas commented on #419
It was a windows specific problem:
[code]

[2018-04-01 02:54] #142 closed

[2018-04-01 06:00] okonet commented on #419
Is it still a problem?

[2018-04-01 06:13] sudo-suhas commented on #419
The PR you created in #422 fixes it.

[2018-04-03 00:42] gaearon commented on #414
I created a new CRA project and ran `yarn add lint-staged`. I don't see this issue when running `yarn test`.
What's the full reproducing case?

[2018-04-03 00:57] stevensacks commented on #414
It doesn't happen to me if I npm install lint-staged into an existing project, either. But if I delete package-lock.json and node_modules and then run npm install with lint-staged 7.x in my package.json, that's when it breaks.

[2018-04-03 01:10] gaearon commented on #414
@SimenB This is not https://github.com/facebook/jest/issues/5294 although it looks similar.

The problem here is because `jest-environment-*` was also [being resolved from the root directory](https://github.com/facebook/jest/blob/c27b759f256adde5586b0c69e510a3aa81d0f869/packages/jest-config/src/utils.js#L97-L99) instead of from `jest`'s module directory. I'm not sure if this problem still exists,

[2018-04-03 01:13] gaearon commented on #414
This code [seems to still exist in Jest master](https://github.com/facebook/jest/blob/master/packages/jest-config/src/utils.js#L109-L111) so a similar problem could manifest itself in the future.

[2018-04-03 01:16] gaearon commented on #414
I filed https://github.com/facebook/jest/issues/5913.

[2018-04-03 17:47] gaearon commented on #414
I published `react-scripts@1.1.3` which should fix `environment.dispose is not a function` for you.

https://github.com/facebook/create-react-app/releases/tag/v1.1.3

[2018-04-03 18:50] matej-prokop commented on #414
@gaearon Thank you for jumping on this. It is great to have a new version of CRA mitigating this issue. 👍

Now, it is definitely time to close this issue.

[2018-04-03 18:50] #414 closed

[2018-04-03 19:26] okonet commented on #414
Thanks @gaearon for working on it!

[2018-04-04 14:31] tgreen7 commented on #419
@okonet I am still seeing this issue even after the merge of cli-command-parser

[2018-04-04 16:12] sibelius commented on #355
in lint-staged > 7

you can do

`flow focus-check`

check this https://github.com/entria/guidelines/blob/master/lint-staged.md

[2018-04-04 16:50] okonet commented on #419
Not sure why. It works for me. See the PR which integrates it.

[2018-04-04 18:31] tgreen7 commented on #419
<details>
[code]
</details>

[code]

[2018-04-04 18:52] okonet commented on #419
@tgreen7 I can confirm this when using single quotes. I'll reopen and try to address it. Meanwhile you can use double quotes.

[2018-04-04 19:02] tgreen7 commented on #419
Thanks! Double quotes works 👍

[2018-04-05 08:05] #419 closed

[2018-04-05 21:36] trevordmiller opened #424 "Question/suggestion: rename to more generic name?"
It seems that `lint-staged` has become the most popular tool for running commands against staged git files. Although the package and documentation uses the wording `lint`, this package is being commonly used to run any commands / npm scripts, not specific to linting (ie tests, type checking, automatic formatting etc.):

Examples:
- automatic formatting: https://prettier.io/docs/en/precommit.html#o

[2018-04-08 22:47] turadg commented on #303
I share @bguiz 's wish to lint on prepush instead of precommit. My hook does a lot now and takes some time to run, time that slows down each commit. And when there's an error it's awkward in Github Desktop I sometimes use for patches.

The purpose of what I run in the hooks is to catch problems sooner than the CI, so all I really need is to check what I'm pushing.

@okonet would you be comfortable

[2018-04-09 05:42] okonet commented on #303
It’s open source. You’re free to do whatever works best for you :)

What about supporting multiple configs instead? Or having a config format that would allow multiple filters?

[2018-04-09 05:43] okonet commented on #303
Let’s close this issue and move the discussion to #150

[2018-04-10 12:39] okonet commented on #424
This is a duplicate #356

[2018-04-10 12:39] #424 closed

[2018-04-11 07:32] yenshih opened #427 "Bump dependency listr to 0.14.0"
### Description

I found that dependency `listr 0.13.0` cannot work with RxJS 6.

[This commit](https://github.com/SamVerschueren/listr/commit/44cb4db178f13cf31ef1b98370cc3c7f1b0a8b93#diff-b9cfc7f2cdf78a7f4b91a753d10865a2) had fixed that problem. In addition, `listr` is currently in version `0.14.0`.

I was wondering if we could bump `listr` to `0.14.0`.

### Steps to reproduce

[code]

[code]

##

[2018-04-11 07:35] sudo-suhas commented on #427
Hey @yenshih, please see #426. We can continue the discussion there, closing this issue.

[2018-04-11 07:35] #427 closed

[2018-04-11 07:35] yenshih commented on #427
Great, Thank you so much!

[2018-04-12 16:11] joeljeske commented on #62
I do not believe there is any reliable way to stash-modify-unstash changes to a partially staged without sometimes causing conflicts. I also do not think that it would occur very often in a typical flow. For that reason, I use a simple script to throw an error if a partially staged file is modified during a step.

https://gist.github.com/joeljeske/cf0b7e458e9f2a8d48fd6722b4141a73

If it detects an

[2018-04-12 16:30] sompylasar commented on #62
@joeljeske Thanks for sharing! Maybe this could be incorporated into `lint-staged` to reuse the code and avoid extra script setups?

[2018-04-12 16:50] alexilyaev commented on #62
+1 for `lint-staged` doing the job for 95% of the cases and just throwing when a potential conflict.

[2018-04-12 17:06] julien-f commented on #62
@joeljeske What's wrong with [my approach](https://github.com/okonet/lint-staged/issues/62#issuecomment-369881477)?
We've been using it for some time and did not find any problems so far.

[2018-04-13 14:57] julien-f commented on #62
1. format the files that have changed (unstaged parts included)
2. stash those unstaged parts
3. re-format the files (unstaged parts no longer included)
4. run the tests
5. if tests succeeds, add the formatting changes to the git index and commit
6. unstash changes saved in 2

Results:
- the files will be fully formatted (staged and unstaged parts)
- only staged parts will be commited

[2018-04-15 19:40] dannobytes commented on #62
wrt to `eslint`, I believe this is the actual command sequence that @julien-f is referring to:
[code]

However the last `pop` command runs into an error b/c all global paths are being passed to each command, thus:
[code]

Seems like all we need here is a way to `ignore` path arguments being passed by `lint-staged` to a specific command, in this case, the last command in my list which is `git stash

[2018-04-15 19:56] dannobytes commented on #62
@okonet https://github.com/okonet/lint-staged/blob/master/src/runScript.js#L39 maybe here, you can add support for a `ignore-paths` flag that can disable the appending of `pathChunks`, i.e. each absolute file path to the command? By default, file paths are appended, but the consumer can selectively disable the paths if they want to run a command in `lint-staged` without them.

For example:
[code]

[2018-04-15 20:25] julien-f commented on #62
@dannobytes Nope, I'm talking about [this script](https://github.com/vatesfr/xen-orchestra/blob/master/scripts/lint-staged), I found it easier to implement it directly instead of relying on a sequence of commands.

[2018-04-15 22:34] dannobytes commented on #62
@julien-f I didn't mean it literally, but more conceptually and within the
workflow that `lint-staged` was designed to do, which is sequential
commands run against staged files. Your script is fine, but it's IMHO not a
proposed solution to the existing workflow that most of us are using.

I like the sequential command approach as it's quite adaptable. If we just
added one small feature to allow ru

[2018-04-16 14:11] emattias opened #430 "Unneccessary chunking on macOS (and other unix based environments)"
### Description

On my macOS High Sierra environment the max line length is `262144` (which I got but running `getconf ARG_MAX`) but lint-staged uses the windows max length or 8192 (see this code: https://github.com/okonet/lint-staged/blob/a28463d86aab05e0e00d1bd5b1b3985cbe0f4c26/src/calcChunkSize.js#L38)

Maybe lint-staged could use the `getconf ARG_MAX` value if availabe?

### Steps to reproduce

[2018-04-16 14:32] sudo-suhas commented on #430
Hey @emattias, the issue you are raising is quite valid. And based on the value you provided for max characters in a command for macOS, I would say that there won't be a scenario where the length would be exceeded. So it might be enough to check and use the "chunking" only on Windows([`is-windows`](https://www.npmjs.com/package/is-windows) can be used for this). Would you be interested in making a

[2018-04-17 16:13] dannobytes commented on #138
@okonet Would this support running commands with no paths? For example, would running `{ "*.js": "eslint" }` equate to `eslint` with no paths passed in?

Making the `${paths}` template variable opt-in would resolve this. This would obviously be a `major` breaking change however, but I think it this would be a huge improvement b/c it makes *less assumptions* about how the developer will use the lib

[2018-04-17 16:16] sudo-suhas commented on #138
@dannobytes you wouldn't need `lint-staged` for that. You  could run that directly with `husky`.

[2018-04-17 16:43] dannobytes commented on #138
@sudo-suhas How so? You're suggesting a combined usage then with both `lint-staged` and `husky`?

[2018-04-17 16:48] dannobytes commented on #138
@okonet I hear that. I guess IMO, it'd be greater dev experience if we supported more flexibility. I think flexibility and positive dev experience are overlapping.

@okonet What do you think about the approach I highlighted in #75? It would basically mean the library would execute the commands before and after a `git stash -k`, primarily to resolve any potential conflicts from `git stash pop` as t

[2018-04-18 07:47] okonet commented on #138
@sudo-suhas I think what we're talking is about is a sequence of tasks where you can run some of them without passing file paths as arguments.

[2018-04-18 11:43] julienw commented on #62
Of interest to this discussion is [git-autofixup](https://github.com/torbiak/git-autofixup). This uses an algorithm to try to match diff output to previous commits. [The algorithm](https://github.com/torbiak/git-autofixup/blob/master/git-autofixup) is quite simple (but requires some knowledge of Perl to read :) ) and relies on the output of `git blame` and `git diff` to match hunks with commits.

[2018-04-18 23:08] glasser commented on #62
So I've personally found it frustrating to be working on somebody else's repo that uses `lint-staged` and working with my usual `git add -p` workflow (or, well, Emacs magit) and suddenly have `lint-staged` overwrite what I'm trying to do.

I get why implementing `lint-staged` with `git add -p` is not straightforward, having lurked on this issue for a while. I wonder if there is a solution not of t

[2018-04-19 21:10] malixsys commented on #170
Mine works:

[code]

[2018-04-20 20:47] EddieOne commented on #62
The most elegant solution i've found doesn't use this library 😢 Also, it requires node 8.x+

`git diff --diff-filter=d --cached | grep '^[+-]' | grep -Ev '^(--- a/|\+\+\+ b/)' | npx eslint --stdin`

Git diff, it shows mostly the line changes. Pipe that into a regex to only get changed lines. Some regex I don't understand (combining stack overflows here). Then npx to solve file paths for dependanci

[2018-04-20 21:07] hkdobrev commented on #62
`grep -Ev '^(--- a/|\+\+\+ b/)'` is excluding (`-v`) with an extended regex (`-E`) the lines of the diff sections which mark the `a` and `b` sections of the diff with what was before `---` and what is now `+++`.

[2018-04-21 06:40] asmundg commented on #62
I ended up writing a small wrapper that executes a pinter dry run on the staged files and only applies foxes and got adds if there is a diff.

This enables partial staging as long as your editor applies the correct formatting on save, which I find to be useful in any case.

[2018-04-21 07:53] okonet commented on #62
Can you elaborate on what you did and can you share your code? Does anyone wants to take a stub on that issue? I have a good test case in place that should help.

[2018-04-22 06:11] asmundg commented on #62
It's quite literally what I said above, i.e.

[code]

I couldn't think of any straight forward way of generalizing this. So it essentially removes the config from package.json into a linter-specific script.

[2018-04-24 12:44] cesarp commented on #170
I am facing the same issue as @yiochen, postcommit fails with the same error, my project is inside a repo that contains backend, front end and test automation code so I can't put a package.json at the root.

[code]

The log ends with
[code]

[2018-04-24 22:45] glebec opened #432 ""lint-staged requires at least version 6 of Node" on Node v10"
### Description

[code]

I am on the (very new) Node version 10.0.0.

### Steps to reproduce

Install lint-staged 7.0.4 and Node 10.0.0 and attempt to use lint-staged e.g. in a precommit hook.

### Debug Logs

[code]

### Environment

- **OS:** macOS High Sierra
- **Node.js:** v10.0.0
- **`lint-staged`:** v7.0.4

[2018-04-24 22:57] glebec commented on #432
Tracked down the bug to the use of `please-upgrade-node`. [Relevant issue](https://github.com/typicode/please-upgrade-node/issues/11).

[2018-04-25 02:58] lfkid commented on #432
Today I also encountered this problem after updating node.js to v10

[2018-04-25 03:49] stevieyu commented on #432
Today I also encountered this problem after updating node.js to v10

[2018-04-25 09:25] olegreznichenko commented on #432
me too, windows 10

[2018-04-25 12:01] admmasters commented on #432
https://github.com/typicode/please-upgrade-node/pull/10/commits/3d6a78d82b2a3a012ae5de97859359f722bf1886

[2018-04-25 16:24] rcalabro commented on #432
+1

[2018-04-25 16:29] sudo-suhas commented on #432
I'd accept a pull request which removes the dependency(i am on a vacation of sorts and I have limited access to the internet). I think it served its purpose while we removed support for node 4 and could be removed now. It'd result in a slightly less friendly error message for older node versions bit that should be okay.

[2018-04-26 02:00] glebec commented on #432
Closed since `please-upgrade-node` is now fixed.

[2018-04-26 02:00] #432 closed

[2018-04-26 02:08] davesag opened #435 "Running node 10 I get "lint-staged requires at least version 6 of Node, please upgrade""
### Description

Running node 10 I get "lint-staged requires at least version 6 of Node, please upgrade"

### Steps to reproduce

Update Node to version 10.0.0 and commit something that was hooked to `lint-staged`

### Environment

- **OS:** `macOS High Sierra`
- **Node.js:** `10.0.0`
- **`lint-staged`:** `7.0.4`

[2018-04-26 02:17] davesag commented on #435
Sorry I see this is a dupe of #432

[2018-04-26 02:17] #435 closed

[2018-04-28 19:41] wldcordeiro commented on #416
@sudo-suhas the solution for us users is for you to update your dependency on `listr` to 0.14 which has updated to support rxjs 6 and release a patch. 😄 https://github.com/SamVerschueren/listr/blob/master/package.json#L54

[2018-04-29 03:12] sudo-suhas commented on #416
It's not that simple. Please see #426

[2018-04-29 11:02] joshunger opened #436 "lint stage fails to run on node 10 with error message lint-staged requires at least version 6 of Node"
### Description

lint stage fails to run on node 10 with error message lint-staged requires at least version 6 of Node

### Steps to reproduce

1. Install node 10 with nvm
2. Run `lint-staged`

### Debug Logs

<details>

<summary>expand to view</summary>

[code]

</details>

### Environment

- **OS:** macOS High Sierra
- **Node.js:** v10.0.0
- **`lint-staged`:** 7.0.0

[2018-04-29 11:07] joshunger commented on #436
Dup #435 #432

[2018-04-29 11:07] #436 closed

[2018-04-30 15:54] msdlisper opened #437 "Execute the eslint immediately after the file changes."
### Description

hello! I have an idea, that could I use lint-staged to test my code immediately instead  of waiting to commit it? so that I can fix my code as soon as possible.

[2018-04-30 16:11] sudo-suhas commented on #437
You can try your luck with https://github.com/rizowski/eslint-watch. This question has very little to do with `lint-staged`. You should probably try to identify the solution in the context of eslint.

[2018-04-30 16:11] #437 closed

[2018-04-30 16:46] msdlisper commented on #437
@sudo-suhas thanks!

[2018-05-01 02:45] jesstelford commented on #432
For future googlers:

The fix for node v10 is to update `lint-staged` to `^7.0.5`

[code]
or
[code]

[2018-05-02 17:40] trevordmiller opened #440 "Incorrect error for latest Node version: "lint-staged requires at least version 6 of Node, please upgrade""
I upgraded to the latest version of Node (v10.0.0);`lint-staged` gives the following error:
`lint-staged requires at least version 6 of Node, please upgrade`

IMO, this error should only show up for Node versions below 6 - not for new Node versions.

[2018-05-02 17:42] trevordmiller commented on #440
Nevermind, didn't see this in the closed issues: https://github.com/okonet/lint-staged/issues/435

[2018-05-02 17:42] #440 closed

[2018-05-07 02:49] #430 closed

[2018-05-07 07:10] animaonline commented on #432
@jesstelford's fix doesn't work for me, I had to do this:

`git commit --no-verify -m "commit messsage"`

[2018-05-07 07:13] sudo-suhas commented on #432
@animaonline That's not really a fix. You are just skipping the pre-commit hook. Could you please check and report the exact version of `lint-staged` that you have installed? `npm ls lint-staged` will print the version being used in your project.

[2018-05-07 07:14] animaonline commented on #432
`└── lint-staged@7.1.0 `

[2018-05-07 07:28] sudo-suhas commented on #432
I failed to reproduce the issue using a fresh project:
[code]

Could you ensure that the version of `please-upgrade-node` that you have installed is `3.0.2`? If not, running `npm i` or `yarn` _should_ fix it.

[2018-05-07 14:32] greenkeeper[bot] opened #442 "Version 10 of node.js has been released"
## Version 10 of Node.js (code name Dubnium) has been released! 🎊

To see what happens to your code in Node.js 10, Greenkeeper has created a branch with the following changes:
- Added the new Node.js version to your `.travis.yml`
- The new Node.js version is in-range for the engines in 1 of your `package.json` files, so that was left alone

If you’re interested in upgrading this repo to Node.js 10

[2018-05-08 01:20] techhtml opened #443 "Can't precommit in node v10.0.0"
### Description
I use node v10.0.0 but does not work precommit

### Steps to reproduce
1. commit
2. error

### Debug Logs
[code]

### Environment

- **OS:** macOS High Sierra
- **Node.js:** v10.0.0
- **`lint-staged`:** v7.0.4

[2018-05-08 01:46] sudo-suhas commented on #443
Duplicate of #432. Upgrading `lint-staged` to the latest version should fix the issue.

[2018-05-08 01:46] #443 closed

[2018-05-08 01:58] techhtml commented on #443
Thx! I'm fixed

[2018-05-14 20:56] francisbrito opened #447 "`@next` npm version tag pointing to version `4.0.0-beta-2`"
### Description

When running `npm install -D lint-staged@next`, I was expecting to have a "bleeding-edge" version of `lint-staged`, but version `4.0.0-beta-2` was installed instead.

### Steps to reproduce

[code]

### Debug Logs

Does not apply.

### Environment

- **OS:** macOS High Sierra
- **Node.js:** 10.0.0

Note: this is more a house keeping recommendation than a bug report.

Please let me

[2018-05-15 00:26] sudo-suhas commented on #447
We haven't been using the `next` tag. Is there some way to unset it or just point to latest instead?

[2018-05-16 02:59] sudo-suhas commented on #447
ping @okonet

[2018-05-16 05:31] okonet commented on #447
I can delete it

[2018-05-16 05:31] sudo-suhas commented on #447
Please go ahead.

[2018-05-17 12:45] plroebuck opened #448 "Tweaks"
### Description

Minor tweaks to "index.js":

https://github.com/okonet/lint-staged/blob/master/src/index.js#L16
Environment variables are _strings_. Done canonically:
[code]
https://github.com/okonet/lint-staged/blob/master/src/index.js#L56
Remove this line. It's already the default value.

https://github.com/okonet/lint-staged/blob/master/src/index.js#L61
https://github.com/okonet/lint-staged/bl

[2018-05-18 11:45] OliverJAsh commented on #62
For `git add -p` users who work on projects with `lint-staged` enabled in a `precommit` hook, like the one I work on, and who don't want to run `lint-staged` on precommit (because of the problems described in this issue), here is a way to configure your precommit hook to allow users to disable it: /cc @glasser

[code]

[2018-05-18 13:42] plroebuck opened #449 "Yarn dev dependency not listed"
### Description

The build process requires "yarn" package, but it's not listed as a dependency.
"package.json" should be updated to include this devDependency.

### Steps to reproduce

[code]

[2018-05-18 14:03] plroebuck opened #452 "Travis not testing against current Node release"
### Description

CI setup is not testing against current Node release.

[2018-05-18 14:14] plroebuck opened #454 "AppVeyor not testing against current Node release"
### Description

CI setup is not testing against current Node release.

[2018-05-18 15:27] #448 closed

[2018-05-18 15:31] okonet commented on #449
Should we stick to `npm` in package json since I believe it work for both npm and yarn?

[2018-05-18 15:32] okonet commented on #447
Done!

[2018-05-18 15:32] #447 closed

[2018-05-18 15:32] okonet commented on #449
cc @sudo-suhas

[2018-05-18 17:12] plroebuck commented on #449
I would have, but that's a whole separate set of changes to redo much more (i.e., Travis, AppVeyor, package.json). Suggest you accept this (since no one can test or commit without it currently) and decide about other changes in separate issue.

[2018-05-18 18:49] plroebuck commented on #329
Possible that #451 is related...

[2018-05-18 19:19] hallettj commented on #62
I implemented a little script to run a formatter / fixer on only staged changes. Then I saw that people on this project are working on the same problem, so I thought I would share the approach that is working quite well for me so far. See:

https://github.com/hallettj/git-format-staged/

I am still working on some details, such as handling cases where the working directory is not at the root of th

[2018-05-20 07:32] okonet commented on #62
Thanks for sharing this! I’m using similar approach in the branch with the only difference that I “stash” local changes that aren’t in index and still work on files. The problem I’m facing is exactly you’ve described: sometimes syncing formatted changes with the working copy fails. The rest is working quite well in my branch.

[2018-05-20 11:36] sudo-suhas commented on #449
@plroebuck To clarify @okonet suggested that we do the changes only in `package.json` so that whatever scripts where invoking `yarn`, they would use `npm` instead. And I too would prefer that. I have not seen any repos which have `yarn` as a dev dependency and installing yarn through npm [isn't recommended](https://yarnpkg.com/lang/en/docs/install/#alternatives-stable) either:

[2018-05-20 13:33] plroebuck commented on #449
Yeah, read that warning (and the following paragraph which installed using `npm` anyway). As a devDependency, the warning doesn't really apply as heavily since **not** installed as system-wide app. Looking at Heroku specs, they specify the dependency in the "engines" section instead. I _could_ fix my commit by moving the dependency there, but that then creates a _runtime_ dependency requirement.

[2018-05-20 13:44] plroebuck commented on #449
[Yarn or npm in 2018?](https://blog.risingstack.com/yarn-vs-npm-node-js-package-managers/)

[2018-05-20 13:45] plroebuck commented on #449
[Why wouldn't I use npm to install yarn?](https://stackoverflow.com/questions/40025890/why-wouldnt-i-use-npm-to-install-yarn)

[2018-05-20 14:58] okonet commented on #449
I’m okay to stick to NPM only if this can increase the adoption. @sudo-suhas do you remember why we introduced yarn to this project?

[2018-05-21 03:48] sudo-suhas commented on #449
@okonet We introduced yarn when we updated `jest` to `v22` but wanted to lock down the version via lock file.

As you yourself pointed out, having yarn as a dev dependency adds 172 dependencies. So again, no to adding it as a dev dependency.

I personally still prefer yarn over npm for the following reasons:
- When `npm@5` came out, I had tried to use it on Windows but it was very very buggy and o

[2018-05-21 06:10] #449 closed

[2018-05-21 07:27] sudo-suhas commented on #442
We'll close this once `Node.js@10` is being tested on CI.

You should also check the version of `please-upgrade-node` that you have installed.

[2018-05-25 09:14] #452 closed

[2018-05-25 09:14] #454 closed

[2018-05-25 09:15] #442 closed

[2018-05-29 22:03] sh4d1t0 opened #459 "No staged files match"
### Description
I have a problem with I use husky last version and lint-staged last version, this is my precommit lint-staged debug

### Debug Logs
lint-staged:bin Running `lint-staged@7.1.2` +0ms
  lint-staged Loading config using `cosmiconfig` +0ms
  lint-staged Successfully loaded config from `/home/angel/Documents/Sites/react-initial/.lintstagedrc`:
  lint-staged { linters: { 'Fix eslint': { '

[2018-05-30 02:32] sudo-suhas commented on #459
`git add` the files you want to commit first

[2018-05-30 08:41] QuietHeartThinkingFar opened #460 "图片和字体报错 src\assets\fonts\icomoon.eot: SyntaxError: Unexpected character '�'"
![image](https://user-images.githubusercontent.com/13879579/40709300-478feba8-6428-11e8-8adb-dd676fc09793.png)

[2018-05-31 10:05] iamdevlinph opened #462 "Strictly check staged files only on precommit (eslint)"
### Description
This is using eslint. Locally installed, i dont know if that's important. And also husky.

From what I understand when doing a precommit with lint-staged. Lint-staged tries to fix the unstaged counter part of the dirty staged file then does a `git add`

Is it possible to only strictly check the staged files and abort commit if they are dirty? Without any attempts on fixing it.

###

[2018-05-31 10:11] iamdevlinph commented on #462
Scenario 2 Photos
**Clean staged file**
![image](https://user-images.githubusercontent.com/19337229/40776603-d5e2b2e8-64fd-11e8-8880-6c153d6db9b7.png)

**Dirty unstaged file**
![image](https://user-images.githubusercontent.com/19337229/40776648-f0f519ae-64fd-11e8-9630-db73f6924014.png)

[2018-05-31 17:40] okonet commented on #462
Duplicate of #62

[2018-05-31 17:40] #462 closed

[2018-05-31 19:38] sh4d1t0 commented on #459
My linters was bad:

{
  linters: {
    'Fix eslint': {
      '.{js,jsx}': ['eslint src --fix prettier --write', 'git add']
    }
  }
}

I can't add 'Fix eslint', if I removed:

{
  linters: {
    '.{js,jsx}': ['eslint src --fix prettier --write', 'git add']
  }
}

run like a charm. How can I add more specific linters?

[2018-06-01 01:41] sudo-suhas commented on #459
Please refer the readme for detailed docs.

[2018-06-01 01:41] #459 closed

[2018-06-04 02:36] mattmazzola commented on #432
Is this confirmed to be fixed?

With `lint-staged` 7.0.0 I used to see: "lint-staged requires at least version 6 of Node, please upgrade"
Then I updated to latest `lint-staged@7.1.3` and now i see: "cosmiconfig requires at least version 4 of Node, please upgrade" and "cosmiconfig" is a dependency on `lint-staged`....

![image](https://user-images.githubusercontent.com/2856501/40895621-57199f02-676

[2018-06-04 02:56] sudo-suhas commented on #432
@mattmazzola Yes, this is confirmed to be fixed. I am suspecting that your dependencies are not installed correctly. `lint-staged@7.1.3` [depends on `cosmiconfig` with `^5.0.2`](https://github.com/okonet/lint-staged/blob/v7.1.3/package.json). And this version of `cosmiconfig` [doesn't depend on `please-upgrade-node` at all](https://github.com/davidtheclark/cosmiconfig/blob/5.0.2/package.json). Whi

[2018-06-04 03:49] mattmazzola commented on #432
I don't understand how it can be "not installed correctly".  Deleting package-lock.json works, but it's not a safe/recommendable operation.

I cloned the effected repo twice. In one I preserved the package-lock.json and the other deleted it.
After `npm install` both resolve to cosmiconfig 5.0.5 yet the one with original package-lock.json fails as if it's still somehow using older version. 😕

Anywa

[2018-06-04 03:54] sudo-suhas commented on #432
As I mentioned in the comment linked above, the issue stems from the specific version of `prettier` which npm installs when the lock file is present.

[2018-06-11 15:10] hallettj commented on #62
@okonet Sorry about the long delay replying. The difference in strategies results in different outcomes when there are conflicts between unstaged changes and formatting changes.

When you stash changes, format, and reapply stashed changes a conflict means that unstaged changes are not accessible until the conflict has been resolved.

git-format-staged formats the staged version of the file, and th

[2018-06-12 19:38] okonet commented on #62
I was ably to achieve this in me PR #75 but I wasn't satisfied with that since it felt very frustrating to have non-formatted files in the working copy after I've committed formatted changes.

[2018-06-13 13:19] codepunkt commented on #152
Is there an issue in the husky repository to fix this?

[2018-06-14 04:21] brunolemos commented on #416
I'm still having this error. Installing `rxjs-compat` did not fix it.

[code]

lint-staged 7.2.0
listr 0.14.1

[2018-06-14 04:25] sudo-suhas commented on #416
ping @SamVerschueren

[2018-06-14 05:39] SamVerschueren commented on #416
@brunolemos Can you clean up your `node_modules` and install everything again? It looks like it still uses an older version of `any-observable`.

[2018-06-14 05:56] brunolemos commented on #416
@SamVerschueren thanks! Deleting `node_modules` did not do the trick, but deleting `package-lock.json` did.

_PS: `any-observable` was already on the latest version, so it was something else. Here is the [commit](https://github.com/brunolemos/react-native-css-in-js-benchmarks/commit/8c3a9bea7538ad09fc5a852dc4525b9f2da13e37) with the package-lock.json changes._

[2018-06-16 13:47] lazerwalker commented on #416
In my case, I've tried completely deleting both `node_modules` and my lockfile (`yarn.lock` in my case, but presumably same diff) and it didn't make a difference. I tried this both before and after adding `rxjs-compat`.

Anyone else have any suggestions?

[2018-06-16 13:49] sudo-suhas commented on #416
You could double check the package versions you are pulling in

[2018-06-16 13:51] sudo-suhas commented on #416
We could investigate the issue if you can share a minimal repo which can reproduce the issue.

[2018-06-16 13:54] lazerwalker commented on #416
I appear to be pulling in lint-staged@^7.2.0, listr@^0.14.1, and any-observable@^0.3.0, which leads to me believe this should be working?

If I can't get this sorted out soon, I'll try to throw together a minimal failing example. Thanks for the quick reply!

[2018-06-16 14:16] lazerwalker commented on #416
It appears my issue was in yarn. Running a `yarn cache clean` before nuking my node_modules/etc seems to have cleaned everything up.

[2018-06-26 20:55] manjula91 commented on #432
Is this issue fixed?

[2018-06-27 05:54] harapeko commented on #146
i used

[code]

[2018-06-27 07:42] Somnusochi opened #467 "stylint isn't working with lint-staged"
### Description
`stylint` isn't working with `lint-staged`
### Steps to reproduce

[code]
 `npm run stylint`
![image](https://user-images.githubusercontent.com/14160184/41959557-dfea79b0-7a1f-11e8-94fd-bc2ddd1dea95.png)
`git commit -am stylint`
![image](https://user-images.githubusercontent.com/14160184/41959624-1b45c1d6-7a20-11e8-8b90-0418a8713f05.png)

### Environment

- **OS:macOS High Sierra**

[2018-06-27 07:48] Somnusochi commented on #467
#11 This PR is not working?

[2018-06-27 08:13] okonet commented on #467
You should remove paths from the command since 🚫💩 lint-staged will add them automatically. Please see readme.

[2018-06-27 08:13] #467 closed

[2018-06-27 08:51] Somnusochi commented on #467
Thank you so much for the speedy reply. It still doesn't work.
Could you tell me how to change this file? Thanks a lot.
`  "lint-staged": {
    "./src/**/*.styl": [
      "stylint"
    ]
  },`
![image](https://user-images.githubusercontent.com/14160184/41962972-f78ce8ba-7a28-11e8-91e5-33b7aa9b0189.png)

[2018-06-27 08:54] sudo-suhas commented on #467
Please share the debug logs. This should have been shared when you were creating the issue as suggested in the template. There isn't much we can do if relevant info is not shared.

[2018-06-27 09:37] Somnusochi commented on #467
I created a repo, could you help to reslove this problem?
If I use `npm run stylint` it's working.
![image](https://user-images.githubusercontent.com/14160184/41966020-938f4c4c-7a30-11e8-9736-a0a718ea05d4.png)

but under `lint-staged` ,nothing to show.
![image](https://user-images.githubusercontent.com/14160184/41966041-a3129e44-7a30-11e8-9d77-af0480512af7.png)

[repo](https://github.com/Somnusoch

[2018-06-27 09:45] sudo-suhas commented on #467
Warnings are not shown. The `lint-staged` command will fail only on errors.

[2018-06-27 10:01] Somnusochi commented on #467
Oh, I get it.Thank you~

[2018-06-27 10:12] renchap commented on #138
Small comment here about usecase: being able to do something like:
```*.ts: "tsc --noEmit -p tsconfig.json"```

would be quite useful to run the Typescript compiler in check mode *only if* there are staged Typescript files. This is different from running it using Husky, as you only want to check it if you committed TS files, not all the time.

[2018-06-27 17:18] okonet commented on #138
That’s what 🚫💩 lint-staged is doing: it only runs those if you are about to commit those files.

[2018-06-28 07:09] pomek commented on #432
@manjula91, no. On Win10 and Node10 I had the same issue.

https://github.com/okonet/lint-staged/issues/432#issuecomment-385586407 seems to help but it looks like an ugly hack.

[2018-06-28 09:11] sudo-suhas commented on #432
It's not a hack. It's what you need to do to pull in the package versions which fix the issue.

[2018-06-28 09:19] pomek commented on #432
Yeah. You're right. I didn't notice that I had the `lint-staged` package in deps. Bump the version solved my issue.

[2018-07-04 22:08] tommedema opened #468 "Build typescript on commit"
I'm trying to rebuild my typescript project on each commit, after prettifying the code with `prettier`:

[code]

Problem is that the `tsc` command here seems to fail to see my `.tsconfig.json` file, probably because the working directory of `lint-staged` is set to the directory of the file that is committed.

Is there a way to make this work? If I wanted to use something like `tsc --rootDir ../..`

[2018-07-05 06:59] zhouxinyong opened #469 "lint-staged custom command not excute"
### Description
I write a node.js module to lint file.so i add the command `node build/lint.js` to the config of lint-staged in package.json. But the lint.js not excute!?

### Steps to reproduce

[code]
when i run git commit, the lint.js is not excute,seem never gointo the lint.js code
the result is like this
![_223](https://user-images.githubusercontent.com/15569753/42306987-921d4006-8063-11e8-9a

[2018-07-05 07:00] sudo-suhas commented on #469
As far as I can tell, you have no files staged in git. Closing the issue. If you need more help, please share the debug logs.

[2018-07-05 07:00] #469 closed

[2018-07-05 07:03] sudo-suhas commented on #468
Why would you want to use `lint-staged` for that? Just use husky pre-commit hook to run what ever command you need. It could be done using `lint-staged && tsc-build-cmd`. Note that `tsc-build-cmd` is not a valid command and needs to be substituted with the one which will build your project.

[2018-07-05 07:03] #468 closed

[2018-07-05 07:10] zhouxinyong commented on #469
@sudo-suhas there are files staged in git!
![_224](https://user-images.githubusercontent.com/15569753/42307583-7f79fac8-8065-11e8-85c6-eafbf10dfc7b.png)

[2018-07-05 07:20] zhouxinyong commented on #469
sorry my mistake, I lose one step, git add .

[2018-07-05 13:31] tommedema commented on #468
@sudo-suhas the reason would be that I only want to `git add` if compilation succeeded. `tsc` has many compilation checks and if it fails I wouldn't want it to `git add`. Also, I wouldn't want to compile before my linters have run.

[2018-07-05 13:37] sudo-suhas commented on #468
Use the pre commit hook as I mentioned above. That will do what you need.

[2018-07-05 13:39] tommedema commented on #468
@sudo-suhas it would run `git add` even if compilation fails; no?

[2018-07-05 13:44] sudo-suhas commented on #468
`git add` doesn't make any difference. You ran it before running`lint-staged` anyway so effectively the files which were staged stay the same. What happens is that your pre-commit hook errors out during compilation and no commit is created. After that, it is upto you to modify required files, stage and commit them.

[2018-07-05 16:19] QuietOmen opened #470 "Feature: Add parameter to allow --fix or not"
This is a feature request:

I believe that lint-staged should have two paths. One in which you can run the normal path, and then one that you can run with ```--fix```. Currently I have lint-staged hooked up with my husky commit, and it works great to break the commit if there are linting errors. However, we have a standard to not automatically fix linting problems, instead we want to run a separat

[2018-07-05 16:39] QuietOmen commented on #470
@okonet  I disagree. Extremely popular libraries should be able to handle various usages as long as the general task is the same. Eslint is a great example of this, as it allows the user to pass in parameters to tell it to do various things around linting. For example ```--init```, ```--fix```, etc. But it sounds like you're saying lint-staged is not for executing linting on staged files in genera

[2018-07-05 17:30] okonet commented on #470
No one prevents you from running tasks with parameters. What I’m saying is that 🚫💩 lint-staged is a general task runner and should not be concerned about specifics of eslint.

[2018-07-06 10:18] albanx opened #471 "Validation Warning: Unknown option "*.js" with value XXX was found in the config root."
### Description
I get this error on precommit hook:
● Validation Warning:

  Unknown option "*.js" with value ['prettier-eslint --write', 'git add'] was found in the config root.

  You are probably trying to mix simple and advanced config formats. Adding

  "linters": {
    "*.js": ["prettier-eslint --write","git add"]
  }

  will fix it and remove this message.

Please refer to https://github.co

[2018-07-06 10:43] sudo-suhas commented on #471
No there was no change. The warning points you to the relevant documentation. This is happening because you must have added `ignore` field. Closing as `lint-staged` is working as intended and the warning is as helpful as it can be.

[2018-07-06 10:43] #471 closed

[2018-07-06 10:48] sudo-suhas commented on #471
The important part of the waring is **`You are probably trying to mix simple and advanced config formats.`**

[2018-07-06 10:51] albanx commented on #471
The warning does not point any where relevant to the warning it self, indeed I have added `ignore` field if you see the above example. The documentation is wrong because it does not explain how to config properly. This is what litteraly is written in the documentation:
[code]

[2018-07-06 10:53] sudo-suhas commented on #471
Do you see that there are 2 sub headings under **Configuration**, namely **Simple config format** and **Advanced config format**? Please read through these. Because as the warning told you, you are mixing these 2 formats. If you have any specific suggestions about how the documentation could be clearer, a PR is welcome. But in this case I genuinely do not think the documentation is at fault.

[2018-07-06 11:06] albanx commented on #471
We are to the classic problem here, who writes the code thinks usage/documentation is clear and obvious.
Neither the advance config format neither the warning does not explain, or give an example how a correct config should be. Literally here is the avance format:
[code]

**To set options and keep lint-staged extensible, advanced format can be used**
This does not say nothing, what options?, what

[2018-07-06 11:07] sudo-suhas commented on #471
Nice rant. Like I said. A PR is welcome.

[2018-07-06 13:04] okonet commented on #471
Thats exactly the reason I’d like to kill 2 different formats.

[2018-07-17 13:15] karim10 commented on #432
`rm-r node_modules`
`npm install`

[2018-07-17 13:22] manjula91 commented on #432
cool fixes on my end tooo 👍

[2018-07-26 10:18] sidoruk-sv opened #474 "Re-installing project with already changed `.git/hooks/prepare-commit-msg` overrides changed file with default hasky config"
### Description

Related issue in husky: https://github.com/typicode/husky/issues/323

But I think it should be tracked here too, cause this behaviour I get after using lint-staged.

And if husky will be updated, - `lint-staged` have to include new version of husky to "fix the problem".
### Environment

- **OS:** macOS High Sierra v10.13.6 (17G65)
- **Node.js:** v10.7.0
- **Npm:** v6.2.0
- **`lint

[2018-07-27 14:35] wootencl commented on #432
As I don't see this mentioned here: this could be related to using a [husky](https://github.com/typicode/husky/) precommit hook alongside nvm. For some odd reason husky doesn't use the version nvm is _currently_ using but instead uses nvm's default version. More about the issue can be found [here](https://github.com/typicode/husky/issues/77).

Fix for me was to set nvm's default to 6: `nvm alias d

[2018-07-31 11:51] SelaO commented on #420
I also have this. I tried to do what @Jikodis did but it didn't help.
Any other ideas?

[2018-08-01 18:05] mjdease opened #476 "Glob patterns with directory match no files"
### Description

I want to run commands on staged files only in a specific subdirectory. However, the glob patterns I've tried end up matching no files.
Structure:
[code]

lint-staged config:
[code]

From the debug logs here's the files that were staged but none matched the above glob patterns for some reason:
[code]

### Steps to reproduce

* Set up a project structure and config as described abo

[2018-08-03 10:36] enyosolutions opened #478 "Ignore and subfolders glob not working"
### Description

I have a problem with the ignore config and the global globs.
The ignore section is not working at all.

[code]

[code]

It either says that there is no tasks to matching.

[code]

I've tried with using just the glob and no ignore, and it doesn't work also

[code]

Result

[code]

### Steps to reproduce

- create a project with a two folders `api` and `www`
- Put some some code in

[2018-08-03 18:09] davidtheclark commented on #416
I cannot get around this error. I've tried wiping my caches and all the locks and `node_modules` and so on, but continue hitting it. So this is making lint-staged unusable for me on a certain project :(

Here are my relevant dependency versions:

[code]

[2018-08-03 23:17] davidtheclark commented on #416
Ugh, it seemed to have resolved itself just by me `npm ci`ing enough? Sorry for the noise. Hope it doesn't come back.

[2018-08-07 11:07] sudo-suhas commented on #478
From your debug logs:

Run `git add .` first.

[2018-08-07 11:07] #478 closed

[2018-08-07 11:18] enyosolutions commented on #478
i already did it doesn't change a thing.

[code]

and my lint-staged

[code]

[2018-08-08 04:05] sudo-suhas commented on #474
`lint-staged` does not include `husky` and setup of pre-commit hooks using `husky` is only a recommendation, not a requirement. Closing the issue since it is not relevant to `lint-staged`.

[2018-08-08 04:05] #474 closed

[2018-08-08 04:07] sudo-suhas commented on #460
Not related to `lint-staged` in any way from what I can tell. In any case, for us to be able to help, we need information mentioned in the issue template so closing this.

[2018-08-08 04:07] #460 closed

[2018-08-08 04:10] sudo-suhas commented on #407
Closing as the issue does not seem to be from `lint-staged`.

[2018-08-08 04:10] #407 closed

[2018-08-08 04:11] sudo-suhas commented on #310
Closing due to user inactivity.

[2018-08-08 04:11] #310 closed

[2018-08-08 04:12] sudo-suhas commented on #262
Seems unnecessary, closing.

[2018-08-08 04:12] #262 closed

[2018-08-08 14:11] mjdease commented on #476
Ah I had tried the relative path `../my-sdk/**/*.{js,json,css,md}` earlier without luck so I moved on to trying patterns that matched the paths reported in the debug output.

The pattern that worked in the end was simply `./**/*.{js,json,css,md}`

[2018-08-09 07:28] FrimJo commented on #320
@jackson-sandland Facing the same problem, with staged files

`$: git status`
[code]

.lintstagedrc
[code]

package.json
[code]

tsconfig.json
[code]

tslint.json
[code]

.prettierrc.json
[code]

[code]

[2018-08-09 07:36] FrimJo commented on #320
I noticed that ´→ No staged files match int-staged´ was referring to the key in my ´.lintstagedrc´and changed it to
´´´
{
  "*.{ts, tsx}": ["tslint --fix --config tslint.precommit.json --project tsconfig.json", "git add"]
}
´´´

But did not help, now i get
[code]

[2018-08-09 07:49] FrimJo commented on #320
I solved my problem, I had a space in between `ts`, and `tsx`
change in `.lintstagedrc.json` from `"*.{ts, tsx}"` to `"*.{ts,tsx}"`

[code]

[2018-08-10 03:29] NoChapter commented on #62
Inspired by `git stash -k` mentioned by many comments, here is my solution:
[code]
It works on almost cases, including the cases where `precommit` runs when there are 0 files staged in the index or all files are staged.

[2018-08-10 18:53] JonasGroeger commented on #151
According to https://youtrack.jetbrains.com/issue/IDEA-135454 this issue will be fixed in IntelliJ IDEA 2018.3

[2018-08-11 00:14] rifkegribenes opened #482 "Validation Warning: Unknown option ( ... ) was found in the config root."
### Description
I have tried every way I can think of to set up the config in package.json and keep getting this warning.

I have tried:
[code]
[code]
and
[code]
all three options throw the same validation warning on pre-commit. What am I doing wrong here?

### Debug Logs

<details>

<summary>expand to view</summary>

[code]

</details>

### Environment

- **OS:** macOS High Sierra
- **Node.js:**

[2018-08-11 00:42] gvincentlh commented on #482
We're seeing the same issue. May need to revert to an earlier release.

[2018-08-11 00:54] jmerle commented on #482
Same issue, the bug seems to have appeared in 3d0ccb2. I got rid of the warning by pinning lint-staged to version 7.1.2 (`yarn add -D lint-staged@7.1.2`), which doesn't have the issue.

[2018-08-11 03:02] sudo-suhas commented on #482
I had to nuke the `node_modules` folder and `yarn.lock` to be able to reproduce the issue.

[2018-08-11 03:10] sudo-suhas commented on #482
This is the PR which introduced the issue - facebook/jest#6802, working on the fix.

[2018-08-11 19:50] rgadda commented on #471
I am still seeing this warning. Here is my package.json
Try 1:
[code]

Try 2:
[code]

[2018-08-12 01:32] sudo-suhas commented on #471
@rgadda the issue you are facing is a different one. See #482.

[2018-08-12 09:29] slorber commented on #151
great, if someone test 2018.3 please tell us if it works fine here

[2018-08-13 10:46] SimenB commented on #482
Is it a bug?

[2018-08-13 10:56] sudo-suhas commented on #482
I'd say it should have been a breaking change..

[2018-08-13 11:13] SimenB commented on #482
If it correctly reports that invalid config is invalid, I don't think it should be a breaking change.

[2018-08-15 08:51] davesag opened #484 "lint-staged is running tests, not linter"
### Description

My package.json includes the following script

[code]

and the following section

[code]

But when I commit a change it runs the tests, not `prettier`.

Running `./node_modules/.bin/lint-staged --debug` appears to do the right thing.

### Debug Logs

<details>

<summary>expand to view</summary>

[code]

</details>

### Environment

- **OS:** `macOS High Sierra`
- **Node.js:** `10.

[2018-08-15 08:59] davesag commented on #484
Note I fixed this by

[code]

[2018-08-15 14:47] sudo-suhas commented on #484
Closing this as it is not an issue in `lint-staged` as far as I can tell. Feel free to continue the conversation.

[2018-08-15 14:47] #484 closed

[2018-08-15 19:30] cviebrock opened #485 "Possible to pass staged files as a comma-separated list?"
I have an analysis script (phan/phan) that I'd like to run on all my staged files.  However, the way I'd do this would be with the command:

[code]

... where `fileX.php` are the staged files.

If I set my lint-staged configuration like the following, then it only analyzes the first file, because lint-stage passes in the list of files space separated.

[code]

Is there a way to get a comma-separat

[2018-08-16 08:53] okonet commented on #485
That sounds like a duplicate of #138 to me. Please chime in and add your opinion. Plus we had this https://github.com/okonet/lint-staged/pull/221 but I'm not sure it's the right approach. Please review it and let us know what you think there.

[2018-08-16 08:53] #485 closed

[2018-08-16 13:45] cviebrock commented on #485
Sounds good.

For anyone searching and looking for a quick solution, this is what I implemented:

_package.json:_
[code]

_phan-wrapper.sh:_
[code]

[2018-08-18 10:53] okonet commented on #416
I just ran into this as well on https://github.com/okonet/eslint-config-okonet

Node: 10.3.0

BUT then I run pre-commit I see

Not sure where it's coming from

[2018-08-22 15:15] guilhermevrs commented on #416
Just had the same issue while running with lint-staged version 7.0.4

I just updated to 7.2.2 and the issue is gone

[2018-08-23 10:28] yangchendoit opened #486 "'\\n' is parsing '\' and carriage return after using lint-staged"
I'm using the windows system，i found a strange problem what the result array of eslint is different after using lint-staged。

before
<img width="672" alt="default" src="https://user-images.githubusercontent.com/27750211/44520375-47bad580-a702-11e8-8515-53c4c2a8b76b.png">

after
<img width="430" alt="2" src="https://user-images.githubusercontent.com/27750211/44520385-4ab5c600-a702-11e8-8d5e-dd9de87

[2018-08-23 10:37] sudo-suhas commented on #486
Not sure what the issue is. Could you clarify?

[2018-08-24 02:18] yangchendoit commented on #486
This array is the result after executing eslint. as you can see, some property of the object in this array contains '\\n' before using lint-staged, but when i execute eslint again with lint-staged, the reuslt is the last picture above, why the escape symbol doesn't work, it's really strange. sorry, my English isn't so good.

[2018-08-28 17:03] enesTufekci commented on #416
`yarn cache clean` then `yarn add --dev lint-staged@^7.2.0` worked for me.

[2018-09-04 16:29] rondog opened #487 "File matching a parent directory"
I just have a question of file matching and dont even know if this is possible. I have my package.json in a subfolder `/docroot/themes/custom/my_theme/package.json` and I am using lint-staged to run some precommit git hooks, but I cant get the file pattern matching to work for files that are in parent directories.

I want to search for files in `/docroot/modules/custom/**/*.php`

I have tried

[co

[2018-09-05 18:09] sibelius commented on #468
anyway to typecheck on lint-staged?

[2018-09-06 09:42] okonet opened #488 "Remove Babel dependencies"
### Description

Project contains `.babelrc` and some babel dependencies. At the same time, AFAIK, there is no compilation step involved. I'm wondering what this dependencies are for and if we can drop them completely to remove any frustration related to them?

@sudo-suhas @luftywiranda13 anyone knows that?

[2018-09-06 09:46] okonet commented on #372
This can be closed since we now require Node >=6 and when #75 is merged it's going to be v8

[2018-09-06 09:46] #372 closed

[2018-09-06 09:51] okonet commented on #387
It's done using custom stash / unstash using git plumbing commands.

[2018-09-06 09:51] #387 closed

[2018-09-06 14:38] okonet commented on #488
It looks like this is required for Jest to run. It's very implicit since there is no indication of this requirement. I guess we can re-open the issue when https://github.com/facebook/jest/issues/4842 is closed.

[2018-09-06 14:38] #488 closed

[2018-09-07 03:54] trusktr opened #489 "How to lint only staged changes?"
After I've added some changes (I don't want to commit them all), how do I lint only those changes?

What I do manually now is `git stash -k` before running `git commit`, so that it stashes un-staged changes, then after it finishes I `git stash pop`.

Can we tell lint-staged to do this?

[2018-09-07 04:02] trusktr commented on #489
I tried

[code]

which results in

[code]

How can we do it?

[2018-09-07 04:04] trusktr commented on #489
The reason I want to do this is because in most projects I run `git add ./some-file` to commit changes only for some specific file, then I run `git commit` to commit the changes.

But lint-staged is modifying everything then the `git add` command adds everything, and now I've accidentally made a commit with unintended changes, and have to spend time fixing it. It is not a normal workflow for unsta

[2018-09-07 04:11] trusktr commented on #489
Ah, looks like it is discussed in https://github.com/okonet/lint-staged/issues/62

[2018-09-07 04:18] trusktr commented on #62
🤔 hmmm, @NoChapter's solution is nice. @okonet Would be great to make this an option for lint-staged!

[2018-09-07 06:27] okonet commented on #62
Just a follow up here but I’m finishing my work on #75. I’ve published a beta version under the `beta` channel so if you have time please install and help me test it (I’m using it for past few days myself on clients project and everything seems fine).

`npmD lint-staged@beta`

[2018-09-07 14:01] okonet commented on #482
Hmm, now I'm seeing

[code]

when using latest version from master :-/

@sudo-suhas is this something we're aware of?

[2018-09-07 15:45] Mouvedia commented on #62
Is `npmD` a typo? Are you using https://github.com/dominictarr/npmd?

[2018-09-07 15:55] okonet commented on #62
It’s an alias I’m using. `npm install --save-dev`

[2018-09-07 16:18] SimenB commented on #62
https://github.com/robbyrussell/oh-my-zsh/blob/f73c29a8203f8df539a72d28763bc5f521b775c0/plugins/npm/npm.plugin.zsh#L24-L26 :)

[2018-09-08 23:44] marco-fp commented on #471
[code]

Getting the same warning, any update son this issue?

[2018-09-09 23:17] kevinappy commented on #487
See https://github.com/okonet/lint-staged/pull/425

I had the same issue but settled on using 4.x until @sudo-suhas adds a flag to disable `path-inside`.

I think it has garnered enough interest to warrant this change.

[2018-09-10 08:36] sudo-suhas commented on #482
@okonet Could you please share the output of `npm ls jest-validate`? I suspect that you have an older version of the package even though we specify the dependency version as `^23.5.0` which supports the `recursive` option.

[2018-09-10 08:43] sudo-suhas commented on #471
@imthinhvu, @marco-fp Please continue the discussion in #482 as this issue is quite different from the one you are facing.

[2018-09-10 08:50] sudo-suhas commented on #487
I'd be open to a PR which adds a flag for disabling the `path-is-inside` check which would default to true so that it is backward compatible. @okonet Are we in agreement on this? TBH I still stand by the concerns I had raised in https://github.com/okonet/lint-staged/pull/425#issuecomment-380098276.

[2018-09-10 09:05] okonet commented on #482
@sudo-suhas interesting. Here is the output:
[code]

What I don't get is why lint-staged using the wrong version?

[code]

[2018-09-10 09:07] sudo-suhas commented on #482
My guess is that there are a lot of edge cases when using package managers which are hard to reproduce and therefore hard to fix. Nuking the`node_modules` folder and running`yarn` will fix it. By any chance were you using npm?

[2018-09-10 09:08] sudo-suhas commented on #482
Also, after rebasing did you run `yarn` or `npm i`?

[2018-09-10 09:10] okonet commented on #482
@sudo-suhas I was hoping that this is why we have `yarn.lock` in the first place :-/

[code]

[2018-09-10 09:12] #482 closed

[2018-09-10 09:14] sudo-suhas commented on #482
:pensive: I know what you mean.

[2018-09-10 10:33] stereobooster commented on #386
You asked on twitter how to handle <kbd>Ctrl</kbd> + <kbd>C</kbd>. This should do it:

[code]

[2018-09-10 10:42] sudo-suhas commented on #386
Sadly this wouldn't be supported on Windows

[2018-09-10 10:48] stereobooster commented on #386
I thought it is solved issue for Windows https://github.com/nodejs/node-v0.x-archive/issues/1553. Maybe SIGTERM or SIGQUIT would work.

[2018-09-10 10:56] sudo-suhas commented on #386
My bad, `SIGINT` should be fine. Refer https://nodejs.org/api/process.html#process_signal_events

[2018-09-10 12:33] okonet commented on #386
@stereobooster unfortunately, I don't think this is working for me. The main requirement is that the callback is async. I tried using https://github.com/tapppi/async-exit-hook since it's claiming support for my case but it's also not working for some mysterious reason. See my implementation here: https://github.com/okonet/lint-staged/commit/1e25925d360837dbdfbb8a0245157c622e41ea42 Probably I'm doi

[2018-09-10 12:35] okonet commented on #386
Another thought is that because we initiate child processes, it might get lost there somehow? I need to validate this theory but it's really hard to test since it involves some manual testing. So if someone can help even with tests it would be a huge help.

[2018-09-10 13:03] spawnia commented on #151
I am on PHPStorm EAP 2018.3 and neither the native solution nor the fix are working for me.

[2018-09-10 17:58] trusktr commented on #62
@okonet You have in the beta

[code]

but maybe it is better to have

[code]

because for example here's what I see on mine:

[code]

There I've staged precommit, but it doesn't have `MM`.

Note also that staged changes to always start with `M`! For example, a rename starts with `R`.

So far, I think that unstaged changes always start with ` ` or `?`,  so the following is what I'm doing in my shel

[2018-09-10 18:01] trusktr commented on #62
@okonet also I think it should avoid stashing if there are no unstaged changes (if not already), otherwise empty stashes could be confusing.

[2018-09-10 18:09] trusktr commented on #62
Alright, I tried it, and looks like maybe the `MM` issue caused it not to detect my unstaged changes:

[code]

[2018-09-10 18:26] trusktr commented on #62
I tried modifying the code to

[code]

but that was even worse, it ended up undoing file deletions that I had, and it still said I had no unstaged changes. For example:

[code]

[2018-09-10 18:28] okonet commented on #62
Not sure what you trying to achieve but you didn’t try to commit partially staged files so it worked as expected. BTW Please add comments to the PR instead so it’s not lost here.

[2018-09-10 18:55] trusktr commented on #62
Looks like with `MM` or checking not ` ` and `?`, it still works but with the same problem, but it always outputs `No unstaged files found...` every time regardless.

To test this fully, we should try combinations of

- have unstaged deleted files
- unstaged renamed files (has both deleted and untracked)
- untracked files (are not a rename)
- modified files

[2018-09-10 18:56] trusktr commented on #62
Alright, I'll continue there.

[2018-09-10 19:03] hallettj commented on #62
I think that this is a cleaner command for getting a list of partially staged files:

    git diff-index --cached --diff-filter=AM --no-renames HEAD

`--cached` means show staged files
`--diff-filter=AM` shows only added (previously uncommitted) or modified files, which spares you from dealing with tricky cases like unmerged files
`--no-renames` disables rename detection; in combination with the `

[2018-09-11 07:05] DAreRodz commented on #62
Hi, I just tried the beta version with staged hunks and it's working fine. Great work @okonet 😁

[2018-09-11 09:25] okonet opened #490 "[Git workflow] Failing linter not aborting commit"
[code]

[2018-09-11 09:32] okonet commented on #490
There are actually several issues visible here:

1. `Stashing changes... [skipped]` should not be skipped since there are partially staged files
1. Failing linter should abort the commit. I verified with git 2.18 and git 2.19 and the behavior is the same. Not sure why this is happening...

[2018-09-11 17:17] rondog commented on #487
I agree, `path-is-inside` defaults to true. I would need it false for our internal development testing. My use case is using drupal, we distribute a theme file per project that contains the `package.json` and `gulpfile.js` that helps us with our sass compiling, but recently I have added `husky` and `lint-staged` that runs `eslint`, `stylelint` and `phpcs` to keep our devs using the standards we de

[2018-09-11 19:27] okonet commented on #490
1,2 were fixed in c11a56a

[2018-09-11 19:30] okonet commented on #490
I was able to resolve 3 be removing `node_modules`, `.git/hooks/pre-commit` and doing `yarn install` (which installed the pre-commit using husky). It seems to be related to git upgrade after all

[2018-09-12 15:18] sharifmacky commented on #62
I tried the beta version with staged hunks. It correctly only linted the hunk but then allowed the file to commit despite linting errors

[2018-09-12 15:47] wearefridayhutber commented on #152
humm so juts to confirm steps to get this working:
[code]

is all you need?

Because when I run `git cz` with the above config, it goes straight to commitizen and does not run any test.

[2018-09-12 18:13] okonet commented on #62
Yes that’s a known issue already

[2018-09-13 20:42] alistair-hmh commented on #151
Is there a planned release date for `2018.3`?

[2018-09-14 07:59] okonet commented on #410
I still think we can use ansi color in there. Something worth trying IMO.

Om a general note: I'm not opposed to this if this aligns with #277 so please make a proposal that would fit this goal. Additionally, I would expect someone to work on this since I'm out of capacity of free time anymore.

[2018-09-15 07:08] bebraw opened #493 "[Git workflow] - Stash all time (better for the new algo)"
While debugging, you mentioned it would be good to perform stashing changes all the time so the new algorithm gets applied. This is a placeholder issue for that so we don't forget to fix it. Please take over and fill in details as you have a better idea of how it should go. 👍

[2018-09-15 07:17] okonet commented on #493
Thanks man! Yeah the general idea is that if some commands change the formatting of the source code and then abort the commit (or user aborts it by terminating commands) it should remove the formatting. This isn’t possible unless the stashing and restoring runs every time.

[2018-09-18 16:08] voluntadpear commented on #416
just ran into this issue on v7.2.2.

I updated my `node` to `v10.10.0` and did a `npm install --save-dev lint-staged husky` (even though I already had both dependencies updated in place) and it worked.

[2018-09-19 05:08] Enalmada commented on #420
I just got the "'lint-staged' is not recognized as an internal or external command" after testing out building on WSL ubuntu.  Deleting node_modules and doing npm install from windows side seems to have fixed everything.

[2018-09-20 07:27] #487 closed

[2018-09-20 07:34] sudo-suhas commented on #487
This use case is now supported via [`lint-staged@7.3.0`](https://github.com/okonet/lint-staged/releases/tag/v7.3.0). See [okonet/lint-staged#can-i-lint-files-outside-of-the-current-project-folder](https://github.com/okonet/lint-staged#can-i-lint-files-outside-of-the-current-project-folder).

[2018-09-20 16:13] rondog commented on #487
awesome, thank you very much!

[2018-09-20 16:50] rondog commented on #487
@sudo-suhas looking at your note:

Am I understanding that the change committed in #425 can't use pattern matching in the parent folders? If I am understanding that correctly, that means I would have to define exactly which file to lint?

[2018-09-20 17:46] rondog commented on #487
never mind, I understand your note now. You mean specifically `*.js and **/*.js` will be project level only. Makes sense. Thank you for the contribution!

[2018-09-27 16:32] theenadayalank commented on #150
Maybe this package could help to lint committed files on pre-push  https://github.com/theenadayalank/lint-prepush.
Inspired by this issue https://github.com/okonet/lint-staged/issues/303

[2018-09-27 23:49] dcurletti commented on #412
For those that have arrived here in search of type-check TypeScript files on pre-commit hooks, see the gist below.

https://gist.github.com/dcurletti/89edd6a5b329fa01faf39148ffafa71a

[2018-09-28 16:55] okonet commented on #416
Interesting. That’s something we could try reproducing. But I think the fix should go to Listr

[2018-10-08 15:19] okonet commented on #468
@sibelius I don't think TS supports that yet. Here is an example of how to do the check https://github.com/kubeapps/kubeapps/pull/700/files but it's not on staged files.

[2018-10-12 12:37] SerhiiBilyk opened #499 "Linter does not throw any error on invalid html"
### Steps to reproduce
lint-staged:7.3.0
[code]
Staged html file has invalid HTML but linter does not throw any error
If I change config to:
[code]
htmllint correctly checking invalid html and throws an error

### Debug Logs
<details>
<summary>Expand</summary>

$ git commit -m 'Test'
husky > npm run -s precommit (node v10.10.0)
Running tasks for *.html [started]
htmllint [started]
htmllint [comple

[2018-10-12 12:49] SerhiiBilyk commented on #499
[code]

[2018-10-12 13:10] sudo-suhas commented on #499
From what I can see the file pattern specified is wrong. And you do not have any files staged.

[2018-10-12 13:16] SerhiiBilyk commented on #499
I'm sorry, I have paste wrong log. In few hours I will paste log with staged html filez

[2018-10-14 13:43] mxstbr commented on #185
@folz Flow has a `focus-check` command now which takes a single file as input and focus checks only that single file! This works perfectly for me:

[code]

@okonet should we add that to the README?

[2018-10-14 13:47] sudo-suhas commented on #499
@SerhiiBilyk Was your issue resolved?

[2018-10-14 14:40] sudo-suhas commented on #185
@mxstbr Is this some newer feature? I couldn't find any info even in the flow docs - https://flow.org/en/docs/cli/

[2018-10-14 20:38] ar53n opened #500 "Argument list too long"
### Description
I have a big project where I use a tslint, and I needed to check 450 files before committing, but an error occurred. But if I copy this command directly, there will be no error.

npm ERR! code ELIFECYCLE
npm ERR! errno 126

My lint-staged config:
[code]
package.json
[code]

### Steps to reproduce
Add more  360 files
run lint-staged through `npm run lint`

### Debug Logs

<details>

[2018-10-15 05:11] SerhiiBilyk commented on #499
[code]

[2018-10-15 05:12] SerhiiBilyk commented on #499
case_buffer_widget.html includes  invalid HTML, such as ```<div><div 123> <p>p>```

[2018-10-15 05:29] SerhiiBilyk commented on #499
When I change  lint-staged config from "*.html" to "*.*", it works!
[code]

[2018-10-15 06:29] sudo-suhas commented on #499
This is quite odd. Can you share the output of running the command outside of the git commit hook? `htmllint C:\xampp\htdocs\cic\packages\js\cic\directives\cases_buffer_widget\cases_buffer_widget.html`

[2018-10-15 06:33] SerhiiBilyk commented on #499
[code]

[2018-10-15 06:37] SerhiiBilyk commented on #499
It looks like the problem with htmllint

[2018-10-15 06:39] SerhiiBilyk commented on #499
This issue can be closed

[2018-10-15 06:41] #499 closed

[2018-10-15 06:42] ar53n commented on #500
@sudo-suhas thanks. It just confused me a bit, because the same team is doing well.

Its work good
[code]

[2018-10-15 07:09] okonet commented on #500
I think we should just print a more friendlier message and suggest to skip the run for such cases. The splitting part is rather complex and makes the code harder to maintain. I also believe the case is so rare it’s not worth doing. I hardly believe there is value in using lint-stages on hundreds of files. CI should cover that. What do you think @sudo-suhas?

[2018-10-15 07:16] sudo-suhas commented on #500
I can see merit in either approach so I am okay with leaving it up to you. Regarding detecting the specific circumstance, do you think we should just check the number of files? It could come from the config with a sane default. And if the number exceeds the limit, we skip running the linter?

[2018-10-15 08:06] okonet commented on #500
Yeah, something like this. Basically the number of arguments I'd say. If this exceed the limit we'd fail the whole operation with a nice error message.

[2018-10-15 09:08] okonet commented on #500
Yeah, but I think that's the behavior I'd like to enforce in this case. Linting hundreds of files is no different from linting the whole project, which should be done on CI. It's about common sense and best practices. I don't want lint-staged to be the single point of failure.

[2018-10-15 09:14] ar53n commented on #500
@ar53n I agree, because the prettier works well

[2018-10-15 20:34] rich4756 commented on #62
Any update on this? ETA for next non-beta release?

[2018-10-15 23:44] rich4756 commented on #62
@hallettj The command `git diff-index --cached --diff-filter=AM --no-renames HEAD` is returning for me all staged files, not just partially staged files.

[2018-10-18 13:09] uneco185 opened #501 "error "running pre-commit hook: lint-staged" on vue/cil"
Hello.

I made a test project with vue / cli.
I added docker-compose.yml and wordpress and displayed the first screen of wordpress.

When trying to commit with github desktop, the following error will be displayed.

/* error contents ↓*/

Commit failed - exit code 1 received, with output: '> running pre-commit hook: lint-staged
? [? 25lRunning tasks for * .js [started]
Running tasks for * .vue [st

[2018-10-18 13:20] sudo-suhas commented on #501
To the best of my understanding, this is not an error in lint-staged. Try running vue-cli-service lint. You might need to prefix it with node_modules/.bin

[2018-10-18 13:20] #501 closed

[2018-10-19 18:34] Abdisalan commented on #482
What's the solution for this? I'm literally using the same config from the readme and getting the warning.
[code]

[code]

[2018-10-19 21:52] okonet commented on #482
Try removing and reinstalling node_modules

[2018-10-20 03:53] uneco185 commented on #501
Thank you for your reply.

As sudo-suhas said lint-staged was not the cause.

As a result, creating a .eslintignore file and setting the file to be excluded from lint checking solved the problem.
Thank you.

[2018-10-20 18:28] okonet opened #503 "Migrate to Travis CI for Windows build"
Now that Travis CI supports Windows, should we drop Appveyor and move to Travis CI?

cc @luftywiranda13

[2018-10-21 10:10] okonet commented on #503
At the moment, all Windows tests are failing on Travis: https://travis-ci.org/okonet/lint-staged/builds/444312179

[2018-10-21 20:17] okonet opened #508 "Use object spread instead of Object.assign where possible"
_Originally posted by @SimenB in https://github.com/okonet/lint-staged/diffs_

After #75 is merged we can increase version number to 8.6 and refactor this.

[2018-10-22 18:46] Abdisalan commented on #482
What fixed it was upgrading to 7.3.0, thanks.

[2018-10-25 11:35] okonet commented on #490
3 seem to be also fixed. Not sure yet what was causing it. Please test with latest beta.

[2018-10-25 11:35] #490 closed

[2018-10-25 14:10] okonet commented on #486
I think the issue is with the formatter you're using. We're just printing `stdout` without modifications.

[2018-10-29 10:12] #62 closed

[2018-10-29 10:43] julienw commented on #62
:tada:

[2018-10-29 10:49] lcottereau commented on #62
thanks ! well done !

[2018-10-29 14:55] mAAdhaTTah opened #511 "[BUG] Sha Integrity Check fails for listr-update-renderer"
### Description

Currently, `lint-staged` depends on a forked version of `listr-update-renderer`, which is pointing at a branch owned by you. When we went to deploy after merging the latest version of lint-staged, we got integrity errors installing this version of `listr-update-renderer`. My hunch is that it was a version mismatch, pointing the v0.4.0 sha of `listr-update-renderer` at the GitHub b

[2018-10-29 17:12] ethanneff opened #512 "8.0.0 "Cannot find module './package.json'""
### Description
7.3.0 works
8.0.0 breaks

### Steps to reproduce

example package.json. fails on git push (pre-push hook). lint-staged v8.0.0 looks to have a compatibility issue with husky.

[code]

### Debug Logs

[code]

[2018-10-29 17:57] okonet commented on #511
I’m not sure how I should resolve this one. Suggestions?

[2018-10-29 17:59] okonet commented on #512
1. Why are you trying to run lint-stages in `pre-push`? It is a no-op since line-stages won’t find any staged files and won’t do anything.
1. From the debug log it looks like the problem is with husky. Or am I missing something crucial here?

[2018-10-29 18:31] farism opened #514 "8.0.0 monorepo not a git repository: '.git'"
### Description

8.0.0 seems to be broken with monorepos. Getting this output

[code]

with the example monorepo https://github.com/sudo-suhas/lint-staged-multi-pkg

### Steps to reproduce

1. Clone down https://github.com/sudo-suhas/lint-staged-multi-pkg
2. Update the packages to use `lint-staged: ^8.0.0`
3. Run `yarn` or `npm install`
4. Run `npx lerna bootstrap`
5. Edit a `.js` file inside of a

[2018-10-29 18:34] mAAdhaTTah commented on #511
Beyond that, I'm not sure. Maybe also bumping the version in `package.json` in that branch? The underlying cause of the problem isn't entirely clear to me.

[2018-10-29 18:39] ai opened #515 "Node.js 6 drop in 8.0"
### Description

Node.js 6 is still LTS. I must test it in all my open source projects.

But now `lint-staged` failed all my Travis CI builds.

### Steps to reproduce

### Debug Logs

[code]

[2018-10-29 18:44] ai commented on #515
@okonet if the reason was just to use trendy `async`/`await` could we run Babel (or even reconsider does syntax sugar is a really big deal, I write on ES5 in all by browser libraries and very happy)

[2018-10-29 18:44] ssylvia commented on #514
I have the same issue.

[2018-10-29 19:22] YannickMeeus opened #516 "Tarball dependency on listr-update-renderer breaks npm audit"
### Description
As part of the update to lint-staged 8.0.0, a dependency was taken on a version of `listr-update-renderer` not hosted in npm, but instead pulled from GitHub. This has the unfortunate side-effect that due to an issue described [here (npm.community.net)](https://npm.community/t/npm-audit-returns-400-from-registry-when-non-registry-packages-satisfy-specs-that-exist-in-the-registry/462

[2018-10-29 19:22] p4bloch opened #517 "Git dir resolve fails from nested dir in version 8"
### Description

`lint-staged` does not seem to be able to resolve the git directory automatically when running from a sub folder. From the debug logs it seems to be properly setting the git dir, but somehow when stashing changes it uses `.git` and not the resolved, correct path.

### Steps to reproduce

Create a git repository in a dir. Create a nested folder and try to run lint-staged. In my cas

[2018-10-29 19:24] p4bloch commented on #517
Took too much to click on "Create issue" and this is now duplicate of #514

[2018-10-29 19:24] #517 closed

[2018-10-29 19:29] okonet commented on #515
That’s too much work for me and I don’t have time for that. Why do you need it on CI? Is there a way to only install it when necessary?

[2018-10-29 19:30] ai commented on #515
@okonet I do not need to call it on CI. The problem is `engine` rule in `lint-staged` `engine` field in `package.json`.

[2018-10-29 19:31] ai commented on #515
Do you know this way?

[2018-10-29 19:32] okonet commented on #514
I can look at it tomorrow

[2018-10-29 19:33] okonet commented on #515
I’m wondering why are your CI is installing devDependecies. Probably you could set it up to use production environment?

[2018-10-29 19:39] okonet commented on #514
Ideally you could create a test case for it.

[2018-10-29 19:46] okonet commented on #516
Duplicate of #511

[2018-10-29 19:46] #516 closed

[2018-10-29 19:49] ai commented on #515
@okonet it is the library. `jest` and all other dependencies for test are in `devDependecies`.

[2018-10-29 20:07] okonet commented on #515
I see. Unfortunately I don't see any other option as installing it globally for now. I'm open to other ideas but please keep in mind that I want to minimize maintenance time. That said, I'm okay if you would add the babel step for node 6.x but honestly I'd like to avoid compilation since it's complicated the development process.

[2018-10-29 20:09] ai commented on #515
Let’s just remove `engine` field from `package.json`

[2018-10-29 20:11] okonet commented on #515
What about optional dependencies (https://docs.npmjs.com/cli/install)

This is going to make it fail on Node 6 and earlier. Also, ESLint-plugin-node is relying on this.

[2018-10-29 20:13] #514 closed

[2018-10-29 20:17] okonet opened #519 "Drop staged-git-files dependency"
With v8 we're using [git-status](https://github.com/luftywiranda13/g-status) by @luftywiranda13 and also we have a custom written wrapper for running git commands so I think it's time to remove staged-git-files dependency.

[2018-10-29 20:25] ai commented on #515
@okonet I think `optionalDependencies` has a different meaning. It means that your library with optional dependency can do something better for library users.

In this case, PostCSS users should now know anything about `lint-staged`, it is just dependency for development.

Also, many PostCSS contributors will miss `-O` option and the whole idea of protecting repo from commits without linting will

[2018-10-29 20:28] okonet opened #521 "Use git to resolve .git path"
Right now we rely on [find-parent-dir](https://www.npmjs.com/package/find-parent-dir) to locate `.git`.

https://github.com/okonet/lint-staged/blob/af99172ae0c07fee3a5fde8f623cb53014a2c1d8/src/resolveGitDir.js#L1-L7

With v8 we have an access to git, so we could just run `git rev-parse --show-toplevel` to resolve the path which is much more robust way of doing so. See

https://stackoverflow.com/qu

[2018-10-29 20:28] ai commented on #515
Just do in code check for `process.node` and raise a custom error.

Every option loose something. I personally think that it will be better just to update source code for Node.js 6. But if it is not an option, let’s take next the less problematic option.

[2018-10-29 20:31] okonet commented on #493
I'm going to close for now since I can't decide if it's a good idea or not. Will evaluate over time.

[2018-10-29 20:31] #493 closed

[2018-10-29 20:32] #386 closed

[2018-10-29 21:06] okonet commented on #515
I’m open for a PR with proposed changes. Please make sure that the eslint plugin works properly since it is really solved lots of problem when writing code.

[2018-10-29 21:07] xmlking opened #522 "lint-staged hang for nx monorepo"
### Description

### Steps to reproduce

#### checkout develop branch
git clone https://github.com/xmlking/ngx-starter-kit -b develop
#### run  lint-staged
`npx lint-staged`

this command hang forever.
you can run lint commands successfully e.g.
`npm run affected:lint  -- --uncommitted --fix --parallel`

if you remove `--fix --parallel` from `lint-staged`  command  then the `lint-staged` works
###

[2018-10-29 21:09] ai commented on #515
@okonet so PR with custom Node.js version check and removing `eslint-plugin-node` is OK? Or you want a PR with moving code from Node.js >8.x to Node.js >6.x?

[2018-10-29 21:30] ai commented on #515
Do you have an idea how to do it? I can’t find it in `eslint-plugin-node` docs

[2018-10-29 21:38] okonet commented on #515
Nope. No idea :(

[2018-10-29 21:45] ai commented on #515
@okonet OK, I found an undocumented way to set Node.js version https://github.com/okonet/lint-staged/pull/523

[2018-10-29 21:47] xmlking commented on #522
I don't know how to get debug logs. it just hangs will following logs. please advise how to produce debug logs!
[code]

[2018-10-29 21:52] xmlking commented on #522
the command hangs after this logs
[code]

[2018-10-29 22:05] xmlking commented on #522
if i change my command (removed  --parallel ) `npm run affected:lint  -- --uncommitted --fix=true`
I am getting following error :
  lint-staged:git Error: Error: Command failed: git apply -v --whitespace=nowarn --reject --recount --unidiff-zero
  lint-staged:git error: unrecognized input

[code]

[2018-10-29 22:51] ethanneff commented on #512
8.0.2 fixes this. thanks!

[2018-10-29 22:51] #512 closed

[2018-10-29 22:58] okonet commented on #522
I’m not sure what Is your command is doing. Mind including this as well?

[2018-10-29 23:16] xmlking commented on #522
`npm run affected:lint -- --uncommitted`  command will lint `only` new uncommitted files. `--fix` option will fix tslint issues.  `--parallel` option enable to run job in parallel

nx docs:
https://blog.nrwl.io/nrwl-nx-6-1-better-dev-ergonomics-faster-builds-3198bb310e39
https://nrwl.io/nx/guide-nx-workspace

my code base: https://github.com/xmlking/ngx-starter-kit

[2018-10-30 08:53] hutchy2570 commented on #511
We hit this too.  I ended up having to clear my npm cache locally, then `npm i` to update the package-lock.  However it broke again once 8.0.1-8.0.3 were published so I had to re-run `npm i` to update the package-lock again to fix it.

[2018-10-30 09:38] okonet commented on #511
I'm afraid I can't do much about it until the PR with this change is going to be merged into the upstream repo. Alternatively I could publish my own package, of course. Ideas?

[2018-10-30 11:32] mAAdhaTTah commented on #511
You could but I think you'd have to publish both listr and listr-update-renderer since the latter is a tertiary dependency.

[2018-10-30 22:54] okonet commented on #522
1. I don't quite understand why in the first run you didn't have partially staged files where in the second you have them. Is this intentional?
1. I still don't understand how is this related to lint-staged. If the command hangs then this means it's doing something or hangs. lint-staged waits for it to report.
1. `lint-staged:git error: unrecognized input` does' t look good to me but the task shou

[2018-10-30 22:57] okonet opened #528 "Check if updateStash step is needed"
If updateStash is run on same tree, it is producing the `error: unrecognized input` error during restoration process. I assume it's because the patch is empty. This doesn't prevent lint-staged from functioning properly but it would be better to clean this up.

We should check if the updateStash step is a no-op by comparing trees SHAs.

See https://github.com/okonet/lint-staged/issues/522#issuecomm

[2018-10-31 21:49] jcarroll2007 commented on #152
@wearefridayhutber I get the same. My approach has been to simply run a specific script before husky.

[code]

The `--no-verify` flag prevents husky from being run after commitizen.

Or

[code]

[2018-11-01 19:50] xmlking commented on #522
@okonet first thanks for maintaining  this great tool.
this command `npm run affected:lint -- --uncommitted --fix --parallel`  itself works without hung issues.   but when I invoke `npx lint-staged` with following setting, it  hangs and control never returns even after 30 min.
[code]

no hang issues if I use following settings
[code]
 I guess nx's `affected:lint`   `-parallel` option might be inte

[2018-11-01 20:41] p4bloch commented on #514
Thank you for the quick fix! <3

[2018-11-02 23:37] devinus commented on #511
This is currently causing `npm audit` to fail for Node 10.13.0 and npm 6.4.1 for any project that uses `lint-staged` as a `devDependency`.

[2018-11-03 19:50] lpinca opened #531 "npm audit request fails with 400"
### Description

`npm audit` fails with `lint-staged@8.0.4`.

### Steps to reproduce

Put the following `package.json` in a directory

[code]

Run `npm install`. This will create `package-lock.json`.
Run `npm audit`. The request will fail 400.

[code]

This is probably an npm issue but it is not reproducible with `lint-staged@7.3.0`.

### Debug Logs

<details>

<summary>expand to view</summary>

[

[2018-11-03 20:03] lpinca commented on #531
I think the issue is caused by this tarball dep: https://github.com/okonet/lint-staged/blob/5e165a3437695933cc136979aa6fae37b3744c38/package.json#L38-L39.

[2018-11-04 22:56] radswiat opened #532 "No staged files match lint-staged"
### Description

Lint-stage is not able to recognize `*.js` pattern even if changes has been made to JS files

### Debug Logs

[code]

</details>

### Environment

- **OS:** macOS Majove
- **Node.js:** v8.11.2
- **`lint-staged`:** 7.0.0 and 8.0.4

[2018-11-05 06:32] okonet commented on #532
It runs commands on staged files, not on changed files. Please see readme and related posts.

[2018-11-05 06:32] #532 closed

[2018-11-05 13:30] hutchy2570 commented on #511
Do you mean this PR?  It looks like it failed to build, which is probably why it's not been looked at.

[2018-11-05 15:59] evgeny-sav opened #533 "listr-update-renderer version is a link"
We are using private npm repository and because of `listr-update-renderer`'s version is a link to `github` we have failing build.

[code]

Could you please publish this package to public npm and set `listr-update-renderer`'s version not as link.

[2018-11-05 16:56] AdaskoTheBeAsT commented on #533
It is same for people behind corporate proxy - when installing by yarn we receive

yarn install v1.10.1
--
05-Nov-2018 16:22:39 | [1/4] Resolving packages...
05-Nov-2018 16:22:41 | error An unexpected error occurred: "https://github.com/okonet/listr-update-renderer/tarball/upgrade-log-update: connect ECONNREFUSED 10.254.3.15:443".

[2018-11-06 13:22] okonet commented on #533
I could I guess but it's going to take some of my time. If someone else can do it I'm okay to send my PR to its fork.

[2018-11-06 14:36] iamstarkov commented on #533
hm, https://github.com/SamVerschueren/listr-update-renderer/pull/9

[2018-11-06 15:35] iamstarkov commented on #533
hm, I dont see where `listr-update-renderer` is being used https://github.com/okonet/lint-staged/search?q=listr-update-renderer&type=Code

[2018-11-06 15:39] iamstarkov commented on #533
oh well

[2018-11-06 15:45] iamstarkov commented on #533
[code]

[2018-11-06 15:47] iamstarkov commented on #533
so scoped new version of listr-update-renderer integrated in lint-staged wont help anyway =(

[2018-11-06 16:07] iamstarkov commented on #533
there are few options we have:

0) publish changes @okonet's changes from PR internally and use yarn locks
1) ask @SamVerschueren to merge https://github.com/SamVerschueren/listr-update-renderer/pull/9, release the change and bump it into listr itself and release
3) ask @okonet to repeat previous point but change both listr and listr-update-renderer to become scoped and use scoped listr in lint-st

[2018-11-07 20:08] kaiyoma opened #535 "Upgrading to 8.0.4 leads to `yarn check` errors"
### Description

Upgrading from 7.3.0 to 8.0.4 leads to `yarn check` errors.

### Steps to reproduce

1. Start with version 7.3.0
2. Verify that `yarn check` is healthy
3. Upgrade to 8.0.4 and `yarn install`
4. Observe that `yarn check` has errors now

[code]

### Environment

- **OS:** Windows 10, Linux
- **Node.js:** 10.13.0
- **`lint-staged`:** 8.0.4

[2018-11-07 20:50] okonet commented on #535
Duplicate

[2018-11-08 03:27] greenkeeper[bot] opened #536 "An in-range update of cosmiconfig is breaking the build 🚨"
## The dependency [cosmiconfig](https://github.com/davidtheclark/cosmiconfig) was updated from `5.0.6` to `5.0.7`.

🚨 [View failing branch](https://github.com/okonet/lint-staged/compare/master...okonet:greenkeeper%2Fcosmiconfig-5.0.7).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

cosmiconfig is a direct dependency of th

[2018-11-08 11:03] evgeny-sav commented on #533
@iamstarkov I have solved this problem by just installing lint-staged version 7.3.0. there is no dependency on this `listr-update-renderer`
https://github.com/okonet/lint-staged/blob/v7.3.0/package.json

[2018-11-09 17:37] Nxt3 commented on #531
I will say I don't have this issue with the following.

`yarn`: v1.12.3
`node`: v10.8.0

but do have the issue with:

`yarn`: v1.9.2
`node`: v10.8.0

[2018-11-09 19:36] trusktr opened #539 "lint-staged stringifies my commands, changing their meaning (and breaking them)"
For example, I have the following in package.json:

[code]

and it doesn't work because lint-staged converts into this:

[code]

As you can see there, some parts of the command are wrapped with `""`, which causes those parts to be treated as arguments rather than interpreted by the shell.

It would be nice if you could fix this. I've already ran into in a few times, and as a result have to find so

[2018-11-09 19:41] trusktr commented on #539
I think I see what the problem is: lint-staged is not handling `npm run` commands in the same way that `npm` actually handles them.

In npm, args can _only_ be passed in by explicitly using `--`. For example, to pass args to a command using npm:

[code]

The `--` is required there, in order for `arg1` and `arg2` to be passed into the `something` command as arguments.

However, it seems that lint-s

[2018-11-09 19:50] trusktr commented on #539
Just an idea, but instead of adding `""`, maybe you can just make the whole thing a string and run it in a subshell? I guess `npm run` does something like this.

[2018-11-09 20:12] trusktr commented on #539
So I'm wondering if `gitStashSave` is not simply a `git stash save`.

[2018-11-09 20:12] okonet commented on #539
Please provide a fix with tests via PR.

[2018-11-09 20:12] trusktr commented on #539
Oh, see my updated description, accidentally posted before writing it.

[2018-11-09 20:14] trusktr commented on #539
Oh crap, I'm posting in the wrong thread, those last two comments.

If I have time, I'll see about a PR.

[2018-11-09 20:17] okonet commented on #539
Yeah thanks. That’s a good catch and we should fix it

[2018-11-13 10:54] evilebottnawi commented on #531
Can't update to `8` version due this problem :disappointed:

[2018-11-14 20:08] mAAdhaTTah commented on #539
This is messing up trying to integrate `sed` into `lint-staged`, as the `-i ''` part of the command gets wrapped in `""` and thus always creates a backup with `''` as the extension.

[2018-11-16 13:22] buszu commented on #369
@jeznag and others: you may be interested on this PR: https://github.com/okonet/lint-staged/pull/534.

[2018-11-16 13:31] raajnadar commented on #539
I think no one noticed this `git branch | grep \\*` the `\` got escaped I am facing a serious issue with JEST test.

`D:\native\react-native` this is the original path but in the cmd the \n is converted into line break like this

[code]

[2018-11-16 13:45] okonet commented on #539
Please come up with a fix and submit a PR

[2018-11-16 13:59] raajnadar commented on #539
@okonet in which file I can find the JEST testing code?? Any idea..! I went through each file but it is hard to understand.

[2018-11-16 14:34] okonet commented on #539
Tests are located in `/tests`

[2018-11-17 07:19] okonet commented on #533
@iamstarkov any updates on this one? I remember you were working on it.

[2018-11-17 07:20] okonet commented on #531
Duplicate of #533

[2018-11-17 07:20] #531 closed

[2018-11-17 07:38] okonet commented on #511
Closing in favor of #533

[2018-11-17 07:38] #511 closed

[2018-11-17 07:40] #533 closed

[2018-11-17 13:45] aleclarson commented on #416
It seems that @pnpm is breaking `lint-staged` somehow.

Repro: https://github.com/aleclarson/repro/tree/lint-staged-416

/cc @zkochan

[2018-11-17 13:48] aleclarson commented on #416
I've run into the same bug, but when using @pnpm to install `lint-staged`.

See here: https://github.com/pnpm/pnpm/issues/1496

[2018-11-20 04:11] michaelmior commented on #392
I found this because I wanted the same. In my case, I'm linting my `package.json` with `yarn check` which produces an error if it gets the filenames but I have other checks I want to run that need the filenames, so it would be much easier to use `lint-staged` for everything.

[2018-11-21 01:48] greenkeeper[bot] opened #544 "An in-range update of husky is breaking the build 🚨"
## The devDependency [husky](https://github.com/typicode/husky) was updated from `1.1.4` to `1.2.0`.

🚨 [View failing branch](https://github.com/okonet/lint-staged/compare/master...okonet:greenkeeper%2Fhusky-1.2.0).

This version is **covered** by your **current version range** and after updating it in your project **the build failed**.

husky is a devDependency of this project. It **might not bre

[2018-11-21 15:49] fabb opened #545 "Excluded files vs. tslint --project"
This is more of a best practice question than a feature/bug.

I‘m using lint-staged for executing `tslint —fix`. When I run tslint manually from command line, I execute it including the `—project` parameter like this:
[code]

This tells tslint to read the file list from `tsconfig.json`, so I don‘t have to specify include/exclude in my `tslint.json` again.

When running via lint-staged, it passes a

[2018-11-21 16:46] okonet commented on #545
That’s all good questions! Could you figure it out and document it please?

[2018-11-21 17:01] fabb commented on #545
Hah, that sounded awfullly like „PRs welcome“ 😆
I‘ll let you know if I find something out.

[2018-11-22 06:55] fabb commented on #545
Reading from that issue, tslint filters the passed files when it‘s called with the `—project` option:
https://github.com/palantir/tslint/issues/3677

Unfortunately this also doubles the execution time of tslint, I guess the flag enables type checker rules that take longer to process.

[2018-11-22 07:56] okonet commented on #545
That is a weird behavior and should be fixed in tslint.

[2018-11-22 09:13] fabb commented on #545
What is weird about it? Seems reasonable to me. It maybe would be nice to be able to separate using include/exclude from tsconfig, but not activate type checker rules.

[2018-11-22 11:32] rodrigobdz opened #546 "Broken links in Releases"
### Description

Links to issues and pull requests in [Releases](https://github.com/okonet/lint-staged/releases) are broken.
They have this format: http://git+https/github.com/okonet/lint-staged/issues/542

### Steps to reproduce

Click on the link to the issue #542 in [8.0.5](https://github.com/okonet/lint-staged/releases/v8.0.5) release.
It happens not only with links in release [8.0.5](https://

[2018-11-22 15:08] manueledones opened #547 "Doesn't work in angular/cli 7 project"
### Description

Linting does not work in an angular/cli 7 project

### Steps to reproduce

Create a project with the angular cli 7. This is my config in project.json

[code]

### Debug Logs

[code]

[2018-11-23 07:21] okonet commented on #547
See https://github.com/okonet/lint-staged/pull/534

[2018-11-23 08:51] musicEnfanthen commented on #547
@okonet It is great that PR #534 provides relative path options to use lint-staged with ng lint but pointing to the PR is not pretty helpful for this issue.

I run into the same issue here like @whiteblackkeys with exactly the same setup as described in the [README](https://github.com/okonet/lint-staged#use-ng-lint-with-angular-cli--700) section.

I don't know why, but after a bunch of failing tes

[2018-11-23 09:06] albert-olive commented on #533
I'm having the same issue with ```"lint-staged": "8.1.0"```. When I try to deploy with jenkins I have this error:

[code]

[2018-11-23 09:44] okonet commented on #546
Looks like https://github.com/semantic-release/semantic-release issue. Can you please report there?

[2018-11-23 09:44] #546 closed

[2018-11-23 09:52] rodrigobdz commented on #546
It has already been reported there https://github.com/semantic-release/semantic-release/issues/539.

[2018-11-23 09:58] okonet commented on #546
Nice! Thanks!

[2018-11-23 10:29] rodrigobdz commented on #546
Glad to help.

[2018-11-23 10:54] whiteblackkeys commented on #547
I still have to test it a bit more in deep, but it seems working, thanks @musicEnfanthen

[2018-11-23 14:41] whiteblackkeys commented on #547
nope, sorry it doesn't work:

× ng lint PROJECTNAME -- --files found some errors. Please fix them and try committing again.
Linting "PROJECTNAME "...

Unknown option: 'src\app\mymodule\....ts'

[2018-11-23 18:03] vieira commented on #533
Not sure if related to this ticket, but I am having the same problem as @albert-olive:

[code]

Using a shared runner from gitlab-ci.

[2018-11-24 07:44] okonet commented on #546
Do you want to submit a PR to bump the version?

[2018-11-24 10:04] rodrigobdz commented on #546
I'll do it right away.

[2018-11-24 10:19] rodrigobdz commented on #546
I had a typo in the commit message from f3a335c, you can ignore it. I corrected it in dc27de3 but somehow GitHub is still showing the first commit.

[2018-11-26 16:01] ma2ciek opened #549 "The 7.4.0 version isn't published on the NPM"
Some screenshots form GH and NPM pages:
<img width="761" alt="screenshot 2018-11-26 at 16 51 30" src="https://user-images.githubusercontent.com/2768047/49025689-79798780-f19c-11e8-972b-516ee9435a64.png">
<img width="779" alt="screenshot 2018-11-26 at 16 51 53" src="https://user-images.githubusercontent.com/2768047/49025692-7aaab480-f19c-11e8-8add-010e3d3c9ca3.png">

I had to choose the `7.x` versi

[2018-11-26 16:47] okonet commented on #549
I faulty released 7.4.0 and has removed it from npm right after release. I'll remove it from GH. Please don't use it. 7.3 doesn't have support for partially staged files.

[2018-11-26 16:47] #549 closed

[2018-11-26 21:51] okonet commented on #549
V7 Support Node v4+. V8 only works on Node v8.6

[2018-11-26 22:49] ma2ciek commented on #549
Thanks!

[2018-11-27 12:54] egeriis opened #550 "`lint-staged` doesn't restore unstaged changed when it fails"
### Description

I've experienced an issue, that I'm consistently able to reproduce.

If I do a partial staging of changes, where the staged changes contain linting errors, the unstaged changes are not restored after `lint-staged` runs.

What's even more annoying is that the stashed changes doesn't appear in stash list, meaning the work is lost.

Appear to relate to #62

### Steps to reproduce

No